[2017-10-19 14:45] cononota commented on #328
@wolloda You can check whether the version of `C:\Windows\System32\java.exe` is  JDK8.

My English is poor.

When more than one JDK were installed on the windows, `javavibridge.py` maybe use the wrong version of the JDK that cause the `could not open socket, try again` error.

This is the log of `javavibridge.py`
[code]

This is the log of `subprocess.Popen()`
[code]
On windows, `subprocess.Popen(

[2017-10-20 23:31] justbaker commented on #347
@MRzNone I had this same issue, and fixed with `let g:JavaComplete_Home = $HOME . '/.vim/bundle/vim-javacomplete2'`.  Perhaps set the path for `g:JavaComplete_Home` to the local vim-javacomplete2 directory?

[2017-11-02 06:36] J-Liu opened #348 "Can't call javacomplete2 properly from deoplete.nvim"
## Actual behavior (Required!)
type `<C+x> <C+o>` or `.` get a error like this
<img width="566" alt="screen shot 2017-11-02 at 2 22 47 pm" src="https://user-images.githubusercontent.com/1065112/32312642-cbac0d02-bfd9-11e7-8f04-2ec0913055eb.png">

## Expected behavior (Required!)
list something to complete.

## The steps to reproduce actual behavior (Required!)
 1. my init.vim file
[code]
 2. packa

[2017-11-08 10:17] artur-shaik commented on #346
@wsdjeg have you any progress on it?

[2017-11-08 10:23] artur-shaik commented on #343
Hi, sorry for long reply. I suggest you to update vim, before we move further. Here is my vim version:
[code]

[2017-11-08 10:24] artur-shaik commented on #345
Do you have the same, on minimal vim setup and running completion on <C-x><C-o>?

[2017-11-08 10:42] artur-shaik commented on #342
You can try to set your `build/generated` path in your vimrc, than run `JCclasspathGenerate` and your generated sources should be included.

[2017-11-08 12:28] wsdjeg commented on #346
@artur-shaik it is done in #349

[2017-11-08 12:33] wsdjeg opened #350 "In windows job_start can not run mvn.cmd"
I will send a PR for this issue, BTW this issue is fixed in latest version of vim.

[2017-11-08 12:36] artur-shaik commented on #346
Done in #349

[2017-11-08 12:36] #346 closed

[2017-11-08 12:39] #350 closed

[2017-11-08 12:41] artur-shaik commented on #348
@Shougo can you to participate?

[2017-11-08 12:42] artur-shaik commented on #347
How do you trigger auto completion?

[2017-11-08 12:49] wsdjeg commented on #347
@MRzNone Javacomplete is not a plugin for auto completion, it just provide an omni function for java and jsp file, you can use `<c-x><c-o>` to get the completion menu, if you need autocompletion feature, I think you should install https://github.com/Shougo/deoplete.nvim

[2017-11-09 01:57] Shougo commented on #348
@J-Liu If you get the errors by `<C-X><C-O>`, it is not related to deoplete.
It just vim-javacomplete2 error.

[2017-11-10 05:24] artur-shaik commented on #348
@J-Liu leave just `vim-javacomplete2` plugin in your config and call completion on `<C-x><C-o>`, please.

[2017-11-10 09:35] J-Liu commented on #348
Sorry, it was my fault, I used JDK 9.0.1 instead of 8.x.
`vim-javacomplete2` by `deoplete.nvim` is perfectly working now.

`deoplete-jedi` is not that good so I used `completor.vim` replaced.

Thank you @artur-shaik @Shougo all for you all are so kindly.

[2017-11-10 16:33] ProZoom opened #352 "Only Support vim7? not 8?"

[2017-11-10 16:59] #348 closed

[2017-11-10 17:00] artur-shaik commented on #352
Please, fill your issue. It should work with Vim8

[2017-11-14 11:12] #342 closed

[2017-11-15 02:36] nnquy opened #353 "Exit with status code (3) when trying to open java file"
## Actual behavior (Required!)
`NeoVim` Open java file, exit with status code (3)

## Expected behavior (Required!)
Open Java file successfully

## The steps to reproduce actual behavior (Required!)
 1. Open a `java` file with VIM
 2. Show error `NeoVim exit with status code (3)`
 3. In the log see this error: `2017/11/15 10:31:28 ERROR 19052 libuv_process_spawn:69: uv_spawn failed: no such file o

[2017-11-15 16:23] ecly commented on #322
Same issue Neovim v0.2.1 on Arch Linux, newest javacomplete2.

[2017-11-17 06:38] artur-shaik commented on #353
Hello.
Just pulled last neovim revision, it works for me fine. Cannot reproduce the problem. Would be cool if you can debug this issue by yourself.

[2017-11-22 18:10] mai1015 opened #354 "Java still running on background"
## Actual behavior (Required!)
Opening java file, autocomplete does not work. It does not work when I try to run the JCserverStart. Then, I use auto import then the server started. Autocomplete works. However, when I exit vim, Java still running at background, I ran multiple times vim, and I got multiple java server running. It took all my memory.

## Expected behavior (Required!)
Opening java fil

[2017-12-01 10:14] #352 closed

[2017-12-01 10:15] #347 closed

[2017-12-01 10:15] #345 closed

[2017-12-01 10:15] #343 closed

[2017-12-01 10:16] artur-shaik commented on #353
Please, reopen if you have more information.

[2017-12-01 10:16] #353 closed

[2017-12-01 10:17] artur-shaik commented on #354
Can you post log content?

[2017-12-11 11:01] bananenmannfrau commented on #328
Try running `:CheckHealth` in neovim and make sure that ruby and python support is working.

This solved it for me.

[2017-12-14 08:59] motimen1 opened #356 "Python/Django?"
Здравствуйте, Артур!
Сразу хочу извиниться, что пишу вам в гитхаб в issue.
Я ищу разработчика с опытом в Python под веб от 2-х лет до 100 лет (а опыт с Python-ом у вас есть, судя по репозиторию :), опытом в Django, опытом работы с JavaScript-ом (желательно какой-нибудь высокоуровневый фреймворк, но пойдет и просто jQuery) и возможностью разговаривать по-английски (можно с ошибками и акцентом, это

[2017-12-14 16:43] J-Liu opened #357 "Java 9 has beed released for a time, any plan to support it?"
Official JDK 9.0.1 is available for download.

[2017-12-14 16:47] artur-shaik commented on #357
Yes for sure. But later. Quite busy right now, actually.

On 12-14 (08:43), Jia Liu wrote:

--
Best regards,
Artur Shaikhullin

[2017-12-18 16:02] garydwatson commented on #311
Thanks, compiling the javaavi files by hand worked for me, much appreciated :)

[2017-12-22 07:16] Nomad145 opened #358 "Receiving Null Pointer Exception from JavaVI"
## Actual behavior (Required!)
Open a Java file with NeoVim and attempt to autocomplete `java.util.Collection`.

## Expected behavior (Required!)
The autocomplete menu (Deoplete) to appear with suggestions.

## The steps to reproduce actual behavior (Required!)
 1. Start NeoVim
 2. Open `.java` file
 3. Attempt to autocomplete `import java.`
 4. Encounter Vim error

## Environment (Required!)
 * O

[2017-12-22 11:29] skubyooru opened #359 "Autoimport"
How to disable autoimport for some classes? For example String class.

Every time you call `String.` -> the import menu is displayed.

[2017-12-22 11:40] wsdjeg commented on #359
What is the reproduce step?

[2017-12-22 12:01] skubyooru commented on #359
1. Start neovim
2. Open .java file
3. Attempt to autocomplete String.
4. The import menu is displayed

[2017-12-22 14:00] wsdjeg commented on #359
vim-javacomplete2 do not support autocomplete, which completion plugin do you use? deoplete or ycm? I can not reprodcue it, can you please post the mini vimrc?

[2017-12-25 08:25] skubyooru commented on #359
[code]

[2017-12-28 20:22] Nomad145 commented on #358
For anyone else that might encounter a similar issue, this plugin requires JDK 8, as stated in the README.  I was running JDK 9.  Switching to JDK 8 fixes this issue.

[2017-12-28 20:22] #358 closed

[2017-12-29 17:46] artur-shaik commented on #359
@skubyooru can you remove every plugin that is not related to autocompletion and javacomplete2 and try again?

[2018-01-01 20:38] DanielSolomon opened #360 "Installation fails"
## Actual behaviour (Required!)
When opening java file, vim renders weirdly and error messages appear in the bottom:

- error detected while processing function <SNR>15_JobVimOnCallbackHandler[3]..javacomplete#server#CheckServerAccordance
- E121: Undefined variable: s:serverVersionOutput
- E116: Invalid arguments for function extend

## Expected behavior (Required!)
No errors, no renders.

## The

[2018-01-06 06:21] skubyooru commented on #359
@artur-shaik done

[2018-01-07 06:07] artur-shaik commented on #359
So, do you have the same issue?

[2018-01-07 06:09] artur-shaik commented on #360
Can you try to update vim version to 8 and try again?

[2018-01-07 07:24] artur-shaik commented on #357
Do you have any specific issue with jdk 9? I've just installed it, and seems like javacomplete works as expected.

[2018-01-07 07:47] artur-shaik commented on #357
Yeah, now I see. Some issues with modules introduced.

[2018-01-07 11:34] #357 closed

[2018-01-07 14:33] lywschxd opened #361 "Error when opening a java file"
## Actual behavior (Required!)
Open a java file

## Expected behavior (Required!)
Open a java file

## The steps to reproduce actual behavior (Required!)
 1. use vundle install javacomplete2
 2. open a java file

## Environment (Required!)
 * OS: Ubuntu 16.04
 * Vim version: 7.4
 * Neovim version:

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have enabled logs with `JCdebugEnableLog

[2018-01-07 14:35] wsdjeg commented on #361
what is your javac version? and if you are using maven, what is the mvn version?

[2018-01-07 15:40] skubyooru commented on #359
@artur-shaik sorry, I do not speak English.
I did as you said and now it's all ok.  I'll try ll cut-and-try.

[2018-01-07 17:42] artur-shaik commented on #359
Nice.

[2018-01-07 17:42] #359 closed

[2018-01-08 02:15] J-Liu commented on #357
Thank you, it works!

[2018-01-08 05:19] lkyhfx commented on #256
@wsdjeg ,the link is broken, can you update the link?

[2018-01-08 07:18] wsdjeg commented on #256
sorry， The vim config is split as SpaceVim now，https://github.com/SpaceVim/SpaceVim

[2018-01-08 13:49] lywschxd commented on #361
[code]
And, I don't use maven.

[2018-01-09 00:51] wsdjeg commented on #361
you need to use jdk 1.8+

[2018-01-09 03:16] lywschxd commented on #361
Does vim-javacomplete2 support java8 only?

[2018-01-11 00:33] StrongerXi opened #362 "Autocomplete for self defined classes"
## Actual behavior (Required!)

![image](https://user-images.githubusercontent.com/26714592/34838388-dfe83b8c-f6cb-11e7-8501-e529a28fb665.png)

## Expected behavior (Required!)
Autocomplete that shows class A's method 'getA()' and field 'a'.

## The steps to reproduce actual behavior (Required!)
 1. Create a folder
 2. Create and write files A.java and B.java into the folder as shown.
 3. cd to th

[2018-01-11 21:02] StrongerXi commented on #362
The autocompletion works as expected if I make the field and method of class A **public**; however, say I wish to have them without this modifier, how can the autocompletion still show the field and method?

[2018-01-24 05:36] Eddielo69 opened #363 "."
.

[2018-01-24 05:36] Eddielo69 commented on #363
Gayest porn homemade videos

[2018-01-24 05:40] #363 closed

[2018-01-24 15:18] tkdberger opened #364 "Pattern not found on all completions of fields"
## Actual behavior
`field.` starts Omnicompletion but returns a `Pattern not found` message for all fields I've tested (using source from [this repo.](https://github.com/BHSSFRC/3494_2018_repo/tree/develop))

## Expected behavior
Omnicompletion of the field (with its accessible methods, fields, etc)

## The steps to reproduce actual behavior
 1. Open java file (I'm using [Robot.java](https://githu

[2018-01-25 05:22] artur-shaik commented on #364
Hi. Do you see grandle initialization in status line, when you first time open `Robot.java`?
And what is `limelight`? I don't see such fields there.

[2018-01-25 13:16] tkdberger commented on #364
[Here's the limelight field.](https://github.com/BHSSFRC/3494_2018_repo/blob/develop/src/main/java/org/usfirst/frc/team3494/robot/Robot.java#L42)

I didn't see any Gradle lines appear on the status line even if I made the window as large as possible.

[2018-01-25 13:28] artur-shaik commented on #364
Sorry, forgot to switch branch.
So, I cannot reproduce you problem. Can you try to run command: `JCclasspathGenerate`?

[2018-01-25 14:57] tkdberger commented on #364
[It appears to be working now!](https://imgur.com/31WcDOz)

Should I put that command in my `init.vim`?

[2018-01-25 15:03] artur-shaik commented on #364
That should be run automatically on plugin load. That's strange that it didn't executed for you.

[Here is](https://github.com/artur-shaik/vim-javacomplete2/blob/1d8402b8c4c1cb4207e86f390711bbe9d6693d2d/autoload/javacomplete.vim#L305). You can try to debug it in your environment, if you have some time.

[2018-01-26 02:45] #364 closed

[2018-01-26 23:47] DanielSolomon commented on #360
Well after upgrading vim, it just worked. Thanks a lot!

[2018-01-26 23:47] #360 closed

[2018-01-28 05:53] wsdjeg commented on #354
@artur-shaik Just a Tips. some plugin use no-nested autocmd to quit windows, for example nerdtree/ vimfiler. This will cause `VimLeavePro` will not be triggered. I think this is why the progress is still running.

@mai1015 Please post your mini vimrc, I will test it.

[2018-01-28 16:47] artur-shaik commented on #354
@wsdjeg can you reproduce it? For example with `nerdtree`.

[2018-01-31 03:36] ym1234 opened #365 "Doesn't autocomplete Classnames when creating objects"
When creating an object `ArrayList<String> arraylist = new ArrayList<>();` java-autocomplete doesn't autocomplete ArrayList<String> or ArrayList<>();

## Actual behavior (Required!)
1. Doesn't autocomplete

## Expected behavior (Required!)
1. It should autocomplete (like in the demo gif)

## The steps to reproduce actual behavior (Required!)
I use the default keybindings with deoplete
Deoplete con

[2018-01-31 03:41] ym1234 opened #366 "Importing missing imports doesn't take inner classes into account"
For example, Say I have Outer class called `Computer` and it has a inner class called `Memory`, `JCimportsAddMissing` will try to find a class called Memory and import it.

## Actual behavior (Required!)
Doesn't take inner classes into account

## Expected behavior (Required!)
Should take inner classes into account

## The steps to reproduce actual behavior (Required!)
 1. Create a class
 2. Creat

[2018-01-31 03:46] ym1234 opened #367 "The plugin should report failure when it cannot import/autocomplete due to syntax errors."
If I open a file with incorrect syntax, and try to import missing imports, the plugin silently fails instead of reporting the error/warning/notice.

## Actual behavior (Required!)
Silently fails.

## Expected behavior (Required!)
Report an error/warning/notice.

## The steps to reproduce actual behavior (Required!)
 1. Open an file with syntax error.
 2. Try to import missing imports.

## Environm

[2018-01-31 03:50] ym1234 commented on #365
Sorry, if I'm being unclear. What I mean is that it doesn't show the omnibox, if I write `ArrayList` or any Class Name.

[2018-01-31 03:51] ym1234 commented on #365
(and sorry for the issue spam)

[2018-01-31 03:52] wsdjeg commented on #365
@ym1234 you should test this plugin without autocomplete engin.  or press `<c-x><c-o>` in insert mode.

[2018-01-31 03:55] ym1234 commented on #365
Pressing <C-x><C-o> Solves the problem, Thank you!
Is there is a way i con configure Deoplete to open with classnames?

[2018-01-31 16:20] #365 closed

[2018-01-31 16:22] artur-shaik commented on #367
Year, I agree. We should inform about this.

[2018-01-31 16:24] artur-shaik commented on #366
As I remember it's old issue related to inability of `javaparser` to fetch inner classes from source. We should try to check new versions of `javaparser`. I bet they fixed it.

[2018-01-31 16:26] artur-shaik commented on #361
Yes

[2018-01-31 17:53] ym1234 commented on #366
How could I test if the newer version of javaparser fix problem?

[2018-01-31 17:55] artur-shaik commented on #366
If you use maven you can change version of javaparser in pom file of
javavi project. But anyway, I think it will require javacomplete2
code modification as well.

On 01-31 (17:53), ym123 wrote:

--
Best regards,
Artur Shaikhullin

[2018-02-02 05:22] bert003 opened #368 "Idea: Auto Implement Interface methods"
## Actual behavior (Required!)
1. Design a Java interface
2. Implement the interface in another class
3. Currently there is no way (I think) to auto implement methods that need to be overridden

## Expected behavior (Required!)
3. Automatic generation (ex: \<leader\>jI) to implement methods that need to be overridden

[2018-02-04 16:33] giovyloca commented on #368
Good news! There is already a command for that: `:JCgenerateAbstractMethods`

From the README
```nmap <leader>jM <Plug>(JavaComplete-Generate-AbstractMethods)```

[2018-02-09 08:33] yangzhanlong commented on #46
how can i use dot replace  C-x C-o

[2018-02-09 08:36] yangzhanlong opened #369 "Vim help about imap"
https://github.com/artur-shaik/vim-javacomplete2/issues/46
i want to use dot replace Ctrl-x Ctrl-o
when i write dot , how can i list the complete to select

[2018-02-09 08:39] yangzhanlong commented on #369
and how i can autocomplete missing import when i forget the JCimportsAddMissing  command

[2018-02-09 08:43] wsdjeg commented on #369
This is not issue about javacomplete，you should readme Vim help about imap.

[2018-02-14 12:38] artur-shaik commented on #369
#305

[2018-02-14 12:38] #369 closed

[2018-02-14 12:39] #368 closed

[2018-02-22 21:23] laxman20 commented on #360
So does this plugin not work for vim7?

[2018-02-23 09:06] artur-shaik commented on #360
Yep
![screenshot_20180223_150509](https://user-images.githubusercontent.com/4862907/36586215-26519f22-18ab-11e8-84fd-05147bc134bb.png)

[2018-03-03 23:58] soleera opened #372 ""Some input files use unchecked or unsafe operations.""
## Actual behavior (Required!)
Error messages on first compile:
[code]
Java completion lists take a long time to load (approximately 4 seconds) when typing things such as `import java.` or `System.`

## Expected behavior (Required!)
No error messages & a shorter time to load completion lists

## The steps to reproduce actual behavior (Required!)
 1. Install vim-Javacomplete2 through Vimplug
 2. Op

[2018-03-08 12:46] livingBEEF commented on #367
It would be nice if it could populate `location-list` too. The `ale` plugin can already do that, but
 - the compilation has to be done twice - once for `ale` and once for `javacomplete2`
 - `ale`'s support for gradle seems buggier

[2018-03-08 12:59] wsdjeg commented on #367
why localtion list is need, what info do you want to shown in it, and what should it done when you press Enter or run `:lnext`?

[2018-03-08 13:17] livingBEEF commented on #367
My idea was something like error hinting that IDEs usually do, so it would populate location list with encountered errors (possibly also highlight the errors, if it's not too difficult). Another question is, whether it should leave it to the users how they use the location-list, or whether it should add its own line markings and such, but either would be fine with me.

[2018-03-08 14:25] wsdjeg commented on #367
@livingBEEF Javacomplete is omni plugin for java, I do not think it should provides lint featurem you can use neomake which should support maven and grandle project. and the neomake's java lint is maintained by me.

[2018-03-12 04:46] tmsimont opened #373 "Autocomplete fails possibly due to failure to JCserverCompile"
## Actual behavior (Required!)
No autocomplete in maven project.

when running `JCserverCompile` I initially see this:

`POM file "/home/tmsimont/.vim/bundle/vim-javacomplete2/libs/javavi//pom.xml" specified with the -f/--file command line argument does not exist`

After a while I do see `Javavi compilation finished`, but still get nothing on autocompletion.

I also went to `~/.vim/bundle/vim-java

[2018-03-13 01:58] dong8chao3 opened #374 "error when open a java file"
## Actual behavior (Required!)
error when open a java file

"javavi complete finished" appears continuously
a java process always run with high cpu usage
## Expected behavior (Required!)
open a java with no error

## The steps to reproduce actual behavior (Required!)
 1. open a java file

## Environment (Required!)
 * OS:ubuntu 16.04 x64
 * Vim version: 7.4

## Q&A
* Yes, I tried minimal .vimrc co

[2018-03-13 07:03] dong8chao3 opened #375 "error when building maven classpath"
## Actual behavior (Required!)
error when building maven classpath

## Expected behavior (Required!)
fix the error

## The steps to reproduce actual behavior (Required!)
 1. build maven classpath

## Environment (Required!)
 * OS: ubuntu16.04 x64
 * Vim version: 7.4

## Q&A
* Yes, I tried minimal .vimrc configuraion.

## Screenshot (Optional)
Maven classpath built successfully
处理 function <SNR>44_

[2018-03-13 10:17] artur-shaik commented on #373
I don't see any request for completion in logs. Does it trigger automatically when you press dot?
And you wrote that you have Oracle java, but showed path to openjdk. But anyway it shouldn't be problem.

[2018-03-13 10:19] artur-shaik commented on #374
Can you try `Vim 8`. And check write permissions in vim-javacomplete2 folder.

[2018-03-13 10:20] artur-shaik commented on #375
Can you try `Vim 8`?

[2018-03-14 02:51] tmsimont commented on #373
Hmm good point. Actually nothing at all happens when I type dot. So the problem is likely that the dot doesn't trigger what it should.

I have this in my .vimrc:
[code]

Is there something else I should have or set to get the dot to trigger autocomplete?

Also that bit about Oracle comes from maven. I'm not sure why it says that but `java -version` returns
[code]

[2018-03-14 03:04] DonnieWest commented on #373
Yeah, you  should definitely use something that will provide that autocompletion on your behalf. A really good plugin for this is [deoplete](https://github.com/Shougo/deoplete.nvim)

[2018-04-03 03:33] tmsimont commented on #373
Thanks that does the trick! Deoplete was a little tricky to install on Arch with vim8 but I got it up and running and it seems to be working well!

[2018-04-03 03:33] #373 closed

[2018-04-03 11:39] g4s8 opened #376 "Autoimport adds empty lines between imports"
## Actual behavior
Autoformat can add empty lines between imports if imports are from different packages

## Expected behavior
Autoformat adds imports in alphabetical order or it can be configured in `.vimrc`

## The steps to reproduce actual behavior
 1. Add class from `java.` package, e.g. `java.util.Date`, use autoimport
 2. Add class from local package, e.g. `com.test.Foo`, use autoimport

##

[2018-04-08 02:34] joshleeb opened #377 "Get Variable Type"
Less of an issue, more of a question.

Does `vim-javacomplete2` currently support getting the type of a variable under the cursor? And if not is this something that can be done with `javaparser`?

Thanks 😄

[2018-04-08 02:39] joshleeb opened #378 "Upgrade JavaParser"
Currently `libs/javavi/pom.xml` sticks the `javaparser-core` version to `2.5.1`. At the time of writing this, the [latest version](https://github.com/javaparser/javaparser/releases) is `3.5.20`.

IMHO, it's worth upgrading to get some of the bug fixes, Java10 support, an upgraded JavaDoc parser, and other goodies that have changed since `2.5.1`.

I made an attempt at upgrading to `3.5.14` a few mo

[2018-04-08 06:40] wsdjeg commented on #377
How does other editors support this feature？ A gif Demo will be better.

[2018-04-08 07:58] joshleeb commented on #377
@wsdjeg Take a look at [this gif](https://github.com/autozimu/LanguageClient-neovim/issues/35#issuecomment-288731665) from `LanguageClient-neovim`. Specifically this is for Rust but I think it would be really useful to have a similar feature for Java.

[2018-04-08 08:34] wsdjeg commented on #377
Ok, I will look into it.

[2018-04-08 12:13] joshleeb commented on #376
The lines are between different import groups and are based on the specified import order.

From the docs:

[code]

## Grouping Everything (No line inbetween groups)

If you want to group all import groups together, try adding `let g:JavaComplete_ImportOrder = ['*']` to your vimrc.

## Slightly Fancier Ordering

If you want to configure a fancier input order, the entries in the `g:JavaComplete_Imp

[2018-04-08 12:17] joshleeb commented on #378
Ref. [joshleeb/vim-java:update-javaparser-3.5.20](https://github.com/joshleeb/vim-java/tree/update-javaparser-3.5.20)

Currently at a state where Rake and Maven tests are passing. Planning on doing some refactoring and possibly adding more tests before submitting a PR.

[2018-04-09 11:25] artur-shaik commented on #378
Yeah, we should update it now or later. Just cannot to find some free time. PR welcome.

[2018-04-09 11:26] #377 closed

[2018-04-09 11:52] joshleeb commented on #378
@artur-shaik WDYT about, in the same PR, doing a bit of clean up such as removing unused vars/methods and fixing little styling nits?

[2018-04-09 12:01] artur-shaik commented on #378
@joshleeb yeah, why not.

[2018-04-09 13:41] joshleeb commented on #378
Great :) I'll aim to have a PR up in a few days

[2018-04-10 16:48] #378 closed

[2018-04-10 16:50] #376 closed

[2018-04-10 16:50] #374 closed

[2018-04-10 16:50] #375 closed

[2018-04-11 10:49] g4s8 commented on #376
@joshleeb thanks!

[2018-04-28 08:14] wsdjeg commented on #328
what is the issue? I can not understand it, this issue only happend in mac? does it happened in windows? win7 or win 10?

[2018-04-28 10:19] avastmick opened #382 "No automated compilation, or running on SpaceVim Neovim"
## Expected behaviour
Open java file, no error, `jc2` compiles and is available.

The install is via `SpaceVim`, so behaviour as per [SpaceVim Layers: lang#java page](https://spacevim.org/layers/lang/java/) is expected.

Note: I raised this on [`SpaceVim` here](https://github.com/SpaceVim/SpaceVim/issues/1662), but as it is a `jc2` issue the issue was closed to be tracked here.

## Actual behaviou

[2018-04-28 10:26] avastmick commented on #328
No, I get the same error on Arch Linux.

With `SpaceVim`, the plugin does not compile automatically, I had to search for the plugin location and run `mvn compile`, then I get this error. I wonder, if it a path issue with SpaceVim... The only other variable I have is that I use [`asdf`](https://github.com/asdf-vm/asdf) to manage `Java` versions, but I have no other problems with it.

[2018-04-29 01:42] avastmick commented on #382
Okay. I've got to the bottom of this. I use [`asdf`](https://github.com/asdf-vm/asdf) to manage `Java` versions, as it is cross-platform. For some reason, it does not properly propagate `PATH` and `java` version details correctly on Arch Linux, to the compilation fails and subsequent calls to the runtime do not complete.

This is closed as it is specific to an installation.

If I use Arch Linux to

[2018-04-29 01:42] #382 closed

[2018-04-30 13:02] ybettan opened #383 "Getting error when opening a java file and auto-completion isn't working"
## Actual behavior (Required!)
Error when opening a java file and auto-completion isn't working

## Expected behavior (Required!)
Opening a java file without error and make auto-completion work.

## The steps to reproduce actual behavior (Required!)
 1. install vim-javacompletion2 using vim-plug
 2. updating vimrc file according to the README file
 3. open a java file

## Environment (Required!)

[2018-04-30 13:37] ybettan commented on #383
![image](https://user-images.githubusercontent.com/29724509/39429821-cd6b4a16-4c94-11e8-80ae-e0b5c0be7bd5.png)

[2018-04-30 17:29] Jose-Luis opened #384 "Unable to infer generic type"
## Actual behavior (Required!)
When I try to complete on 'funtionMap', the 'get' method of the Map find 'Object' instead of 'Function<Integer, Integer>'
[code]

## Expected behavior (Required!)
The type of the object completed coincide with the var type

## The steps to reproduce actual behavior (Required!)
 1. Copy the code above
 2. Try to complete functionMap

## Environment (Required!)
 * OS:

[2018-05-05 16:39] Clebersonc commented on #383
I have the same problem

[2018-05-07 07:30] roleyzhang commented on #383
I have this issue as well

[2018-05-14 00:54] timgreen opened #386 "Typo for the flag g:JaveComplete_AutoStartServer"
## Actual behavior (Required!)

g:Jav[a]Complete_AutoStartServer

## Expected behavior (Required!)

g:Jav[e]Complete_AutoStartServer

[2018-05-15 17:44] artur-shaik commented on #386
Ou, thanks. Can you do PR?

[2018-05-15 17:45] #361 closed

[2018-05-15 17:48] artur-shaik commented on #384
As I remember it was limitation of the javaparser. But I definitely should check it again.

[2018-05-16 03:50] rust20 commented on #372
I'm having the exact same issue on neovim v0.2.2 when I tried to run command JCserverCompile

[2018-06-05 09:02] ybettan commented on #383
Do you have any solution for this case?

Thanks

[2018-06-06 10:47] theonlygusti opened #388 "Error on create class in file"
## Actual behavior (Required!)

Get error
[code]

## Expected behavior (Required!)

No error

## The steps to reproduce actual behavior (Required!)
 1. Start vim in new buffer, make a change, undo change (vim thinks there might be unsaved changes)
 2. Now use `\jN` to create class in file

## Environment (Required!)
 * OS: macOS High Sierra
 * Vim version: 8.0

[2018-06-13 07:04] jackiilong opened #389 "auto popup completion for jdk classes name"
## Actual behavior (Required!)
When input HashM <tab> cannot list the possbile completion of java.util.HashMap

## Expected behavior (Required!)
when input HashM <tab> can list out java.util.HashMap option in the popup menu

## The steps to reproduce actual behavior (Required!)
 1. ...vi 1.java
2. type in HashM <tab> , java.util.HashMap not pop out in the list

## Environment (Required!)
 * OS: ub

[2018-06-13 07:04] jackiilong commented on #389
I know the vscode editor can implement this function .

[2018-06-13 15:43] lem0nez opened #390 "Classname not found in any scope for android.jar methods"
## Actual behavior (Required!)
When I try to complete any method from android.jar file, in class, which extends any from android.jar (other libraries I'm not tested), I'm getting message: `JavaComplete: classname 'methodName' not found in any scope` (but method avaible in popup menu). And, when I try to complete parameters for this method, I'm getting errors (see below `:message`).
If typing metho

[2018-06-13 23:54] wsdjeg commented on #389
please use deoplete or ycm, BTW you can press c-x C-o to open popup menu.

[2018-06-14 10:49] jackiilong commented on #389
@wsdjeg:   Can  ycm  do completion for java ?

[2018-06-14 10:51] jackiilong commented on #389
can this plugin   popup the completion menu when type in a dot character?

[2018-06-14 10:55] jackiilong commented on #389
@wsdjeg :Do you mean I should integrate ycm or deoplete together with vim-javacomplete2 ?
or  maybe  you   mean I should use ycm or deoplete instead of vim-javacomplete2 ?

[2018-06-15 04:33] wsdjeg commented on #389
please read #331 and #305

[2018-06-19 10:03] Jens0512 opened #391 "Suggestion: Search apache-ants build.xml files for classpath to include."
Won't go into much details, just want to hear if anyone thinks it is a good idea first.

[2018-06-24 06:20] lvxingtu opened #392 "Can this be installed on gvim in win10?"
Can this be installed on gvim in win10?

[2018-07-08 02:08] artur-shaik commented on #392
You can try. Somebody use it with windows.

[2018-07-08 02:08] artur-shaik commented on #391
PR welcome

[2018-07-08 02:10] #389 closed

[2018-07-10 16:05] JESii commented on #383
Same issue here; any solution coming?
[code]

[2018-07-16 13:39] JESii commented on #383
In addition, when javaacomplete2 is installed, and I use the `:Gblame` command from the `fugitive` plugin, as soon as I close a `Gblame` window I get a vim segfault. Once I remove javacomplete2, `Gblame` works just fine.

[2018-07-16 14:06] wsdjeg commented on #383
It seems a jc2 use wrong pom file path, It should be `javavi/pom.xml` instead of `javavi//pom.xml`

[2018-07-16 21:55] JESii commented on #383
Might be worth a try; I noticed that but doubled slashes work just fine in BASH -- i.e., `less .//pom.xml` does exactly the same thing as `less ./pom.xml`.

[2018-07-17 07:02] RanchoCooper opened #394 "No Javavi library classes found"
## Run time info
- OS: Mac macOS High Sierra 10.13
- Vim:
[code]
with python3 powered
- Java
[code]

## Problem
each time when I edit a `.java`file, comes with follow:
`No Javavi library classes found, it means that we couldn't compile it. Do you have JDK8+ installed?
`

[2018-07-17 07:15] RanchoCooper commented on #394
#220

[2018-07-17 07:15] #394 closed

[2018-07-31 08:59] BriceGagnageRenault commented on #383
same thing here, calling manually _mvn -f <pom.xml path> compile_ in a shell does work though. I don't have the error on the second run, but autocompletion still doesn't work and the :messages window is empty.

[2018-07-31 13:41] FaustXVII opened #396 "I must be misunderstanding "Add to .vimrc:""
## Actual behavior (Required!)
Error detected while processing /home/pi/.vimrc:
line   58:
E492: Not an editor command: Plugin 'artur-shaik/vim-javacomplete2'
line   59:
E492: Not an editor command: NeoBundle 'artur-shaik/vim-javacomplete2'
line   60:
E492: Not an editor command: Plug 'artur-shaik/vim-javacomplete2'
Press ENTER or type command to continue

## Expected behavior (Required!)
I expect

[2018-08-02 12:05] artur-shaik commented on #396
Do you have any plugin managers installed?

[2018-08-02 12:14] artur-shaik commented on #383
Still looking for somebody who can debug this issue on reproducible machine.

[2018-08-02 12:36] wsdjeg commented on #383
@JESii  `less ".//pom.xml"` should cause same error.

[2018-08-02 12:38] artur-shaik commented on #383
Can somebody try this branch https://github.com/wsdjeg/vim-javacomplete2/tree/pom_path

[2018-08-02 12:59] BriceGagnageRenault commented on #383
POM file "/home/brice/.local/share/nvim/plugged/vim-javacomplete2/libs/javavi/pom.xml" specified with the -f/--file command line argument does not exist

It seems that the double slash has disappeared, but the error is still there.

[2018-08-02 13:01] wsdjeg commented on #383
@BriceGagnageRenault what is the result of this command in terminal:

[code]

[2018-08-02 13:04] BriceGagnageRenault commented on #383
/home/brice/.local/share/nvim/plugged/vim-javacomplete2/libs/javavi/pom.xml: exported SGML document, UTF-8 Unicode text

The file exists and can be found under bash (even with the double slash)

[2018-08-02 13:59] FaustXVII commented on #396
I just realized that: `pathogen`, `Vundle`, `NeoBundle `and `vim-plug `where plugin-managers.
My issue got solved after reading the Vim-plug manual, thanks.

[2018-08-02 13:59] #396 closed

[2018-08-02 14:54] BriceGagnageRenault commented on #383
Ok so I managed to make this error disappear:

1. Maven doesn't seem to like double quotes around the path given by -f. I removed them.
2. Maven output is (for me at least) colorized by default, which introduces ansi characters in the output, and messes up with the regexes in the plugin ("[INFO" becomes "[31mINFO"). Using "mvn -B" enforces a raw input.
3. I added `let g:JavaComplete_UsePython3 = 1

[2018-08-02 15:00] artur-shaik commented on #383
Nice job, can you create PR?

About your issue, can you try `JCcacheClear` and then `JCclasspathGenerate`. And may be restart vim after that and try again.

[2018-08-02 15:09] BriceGagnageRenault commented on #383
Thanks, ok for the PR.

I still have no completion. I use the example project from the Maven website:
`mvn archetype:generate -DgroupId=com.mycompany.app -DartifactId=my-app -DarchetypeArtifactId=maven-archetype-quickstart -DinteractiveMode=false`

I'm trying to have "System.out." something, but nothing happens.

[2018-08-02 16:06] artur-shaik commented on #383
Hm, that's strange. Can you check if server is running? You can do `JCserverShowPort`.
If it show port, than server is running.
You then can check server is working right. You can telnet on this port `telnet localhost port`, then write `-E System.out` press `Enter`.

[2018-08-02 16:14] BriceGagnageRenault commented on #383
I enabled the javavi debug log file, I get some errors I didn't see in buffers opened by :JC... commands.

I get plenty of:
0802 18:03:24.723 D [Thread-1] error lookup java.util$Collection<E> [readers.Reflection]
java.lang.ClassNotFoundException: java.util$Collection<E>
.....

I'll look into it.

[2018-08-02 16:15] artur-shaik commented on #383
@ybettan can you try last version?

[2018-08-03 10:02] BriceGagnageRenault commented on #383
About the other issue I got, I get classpath errors when I do a :JCclasspathGenerate.
It seems that the class path used to compile javavi is corrupted:

/home/brice/wkp/my-app/target/test-classes:/home/brice/.m2/repository/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar:/usr/lib/jvm/java-8-openjdk-amd64/jre/lib:/home/brice/wkp/my-app/target/classes:.:/home/brice/.local/share/nvim/plugged/vim-

[2018-08-06 10:07] BriceGagnageRenault commented on #383
Good news, I found out that Ctrl+N works to open the autocompletion window ! Although it seems a bit lost on the auocompletion itself.... The menu proposes every symbol known in the file, but nothing from elwhere. Any idea ?

[2018-08-07 16:50] artur-shaik commented on #383
Hey, do you have something like YouCompleteMe or Deoplete? Or what if you press `<C-x><C-o>` after the dot.

[2018-08-09 17:01] m4ttr commented on #322
Same issue

vim8 and deoplete

[2018-08-19 23:05] jasonobrien opened #400 "infinite javavi recompilation loop"
## Actual behavior (Required!)

Perpetual javavi compilation loop when opening a java file, with the message:

Autocomplete does not work.

It appears to be repeatedly recompiling, then failing the version compatibility check. The log is full of this:

Note the extra spaces; the code appears to be trying to call javavi -version, but for some reason no output is making it back to the handle. The sa

[2018-08-21 01:41] jasonobrien commented on #400
That got me past the recompilation, and autocomplete is working great. Thanks!

I did manage to dump the entire command used for the version check (classpath and all), and it's working correctly when I run it manually. Not sure why the stdout event handler isn't getting called, but I'm happy to run with that line commented out.

[2018-09-13 01:54] Tombert opened #401 "Omnicomplete not finding variables."
## Actual behavior

When I try and invoke an omnicomplete on a Java file, it doesn't seem to have any knowledge of the variables.

In this example, I'm trying to type out `adamId`, and it decides to omnicomplete to `wait()`.  It's not demonstrated with the gif, but this is true of any variable.

![](https://i.imgur.com/U1DO8lg.gif)

Also not demonstrated is that what I try invoking the completion

[2018-09-18 08:55] SKrPl commented on #392
@lvxingtu I think you can. I am using this plugin (with deoplete.nvim) on neovim in Windows 10.
![image](https://user-images.githubusercontent.com/12163892/45676039-76d03580-bb4e-11e8-8028-56f7882eec6c.png)

[2018-09-18 10:52] lvxingtu commented on #392
@SKrPl Thank you. Is it automatic or need shortcut keys ?

[2018-09-18 11:35] SKrPl commented on #392
@lvxingtu It is automatic, please refer to [deoplete.nvim](https://github.com/Shougo/deoplete.nvim).

[2018-09-18 14:51] artur-shaik commented on #401
Are you using any autocomplete plugins? Like YouCompleteMe or deoplete?

[2018-09-18 15:01] #386 closed

[2018-09-18 15:40] Tombert commented on #401
@artur-shaik I am not.  That is my complete configuration.  Should I be using one of those?

[2018-09-18 15:48] artur-shaik commented on #401
Yes. It triggers completions.

On 09-18 (08:44), Thomas Gebert wrote:

--
Best regards,
Artur Shaikhullin

[2018-09-18 16:59] Tombert commented on #401
Ok, upon installing deplete it seems to be more or less working.

[2018-09-24 13:15] #401 closed

[2018-09-27 13:42] Clq1re opened #402 "javacomplete2 cannot work without sudo privileges."
## Actual behavior (Required!)
I'm not good at English.  sorry.

Autocomplete works with sudo privileges but it does not work without sudo privileges.

Type　`<c-x><c-o>`(also, when I press dot) , get a error like this
![screen shot 2018-09-27 at 21 50 53](https://user-images.githubusercontent.com/29191111/46147098-7c8cf000-c29f-11e8-8cf2-a2b0a3f095ff.png)

Also, I saw the log by the following proc

[2018-10-09 15:40] #392 closed

[2018-10-14 03:51] xwcsgo opened #404 "Cannot start server"
## Actual behavior (Required!)
Error when opening a java file and auto-completion isn't working
As if unable to work

## Expected behavior (Required!)
Opening a java file without without error and make auto-completion work.

## The steps to reproduce actual behavior (Required!)
 1. Install vim-javacomplete2 using vim-plug
 2.  Open a java file
 3. The input a line of Java Code

## Environment (Req

[2018-10-15 06:59] artur-shaik commented on #404
You can try compile it manually. Go to `vim-javacomplete2/libs/javai` directory and run `mvn compile`

[2018-10-15 11:19] xwcsgo commented on #404
I have manually compiled javavi server but prompted Unknown function javacomplete#complete.
And when I open a java file, any operation of any plugin will give an error.
The strange thing is that I set the log directory but there is no log output.

[2018-10-15 11:56] artur-shaik commented on #404
Function should be `javacomplete#Complete`. Check if your config is right.

[2018-10-15 13:57] xwcsgo commented on #404
updating vimrc file according to the README file but when I open a java file, any operation of the plugin will go wrong.
![2018-10-15_215143](https://user-images.githubusercontent.com/43665491/46955036-8b0f4000-d0c4-11e8-8836-3282ffcef01f.png)

[2018-10-16 06:39] johnzeng opened #405 "Can't enable logger."
## Actual behavior (Required!)
After adding
[code]
to my vimfile, I can't get log in dir javalog, the error is saying:
[code]
in `javavi_stdout.log`

If I use log4j2.xml file:
[code]

In vi, there is a message tells that the javavi is recompiled, and then this log4j2.xml file is deleted.

but if I change `Root level` to error, it can log some error stack
[code]

looks like I get some error no `jav

[2018-10-25 02:34] chumblycrate opened #406 "JavaVI support for JDK 11 works, but has some warning messages at the beginning"
Hi there,

First: a big thank you for working on and maintaining this excellent project. It so awesome to be able to use Java in Vim with contextualization, what a cool thing  :)

The 'warning' issue I see:
1. I just installed JDK 11  via  sudo apt-get oracle-java11-installer
2. I then installed maven (apt-get install maven)
3. I then deleted ~/.vim/plugged/vim-javacomplete2/libs/javavi/target dir

[2018-10-29 08:33] artur-shaik commented on #406
Glad you find it useful. And thank you for information.

[2018-10-29 08:36] artur-shaik commented on #404
Are you sure you have installed it right? What if you call it manually like this: `:call javacomplete#Complete(1,1)` ?

[2018-10-29 13:28] xwcsgo commented on #404
![image](https://user-images.githubusercontent.com/43665491/47652629-671e2500-dbc1-11e8-96b0-a04f690d6b52.png)
![image](https://user-images.githubusercontent.com/43665491/47652658-77360480-dbc1-11e8-8774-3e4349e54a76.png)
![image](https://user-images.githubusercontent.com/43665491/47652672-7f8e3f80-dbc1-11e8-995d-c15df520f2cd.png)
Yes, I am very sure that it has been installed.

[2018-10-30 04:47] xwcsgo commented on #404
https://github.com/xwcsgo/vim
This is my configuration file.

[2018-10-30 05:50] xwcsgo commented on #404
Other plugins still work. l have tried to reinstall but still error. The same error as above.

[2018-11-01 13:07] artur-shaik commented on #404
Does `PlugInstall` command list vim-javacomplete2?

[2018-11-01 16:16] hiberabyss opened #407 "Error when autocomplete `import`"
## Actual behavior (Required!)

After I input `import org.` and waiting for autocompletion, following error messages will be shown:

![image](https://user-images.githubusercontent.com/2898670/47864294-3560c480-de34-11e8-9eff-be1bbe1c4638.png)

And then `javacomplete2` autocomplete source discard by `deoplete`.

## Environment

* OS: macOS 10.13
* neovim: v0.3.2-795-g500345aea
* javacomplet2 versio

[2018-11-03 06:39] xwcsgo commented on #404
Thank you, my vim can suddenly be used.

[2018-11-06 10:06] hiberabyss opened #410 "Could not auto complete class from jar file"
## Actual behavior (Required!)

Even with following setting:

[code]

The following imports still could not be autocompleted, could this be supported?

[code]

[2018-11-06 14:06] artur-shaik commented on #404
So, can we close it?

[2018-11-06 14:08] artur-shaik commented on #410
When you open java file, what is content of `g:JavaComplete_LibsPath` ?

[2018-11-06 14:42] hiberabyss commented on #410
Hi @artur-shaik , the content is same as what I set:

[code]

[2018-11-08 00:39] #404 closed

[2018-11-12 11:16] artur-shaik commented on #410
So, is it working after you compiled `javavi` by hand?

[2018-11-14 04:03] hiberabyss commented on #410
Hi @artur-shaik , still not work after compiling `javavi`.

[2018-11-14 04:16] artur-shaik commented on #410
Is server up? Can you run command `:JCserverShowPID`, if server is running it will show you process id.

[2018-11-14 08:53] artur-shaik commented on #410
Hm, what about vim side logs?

- `JCdebugEnableLogs`;
- call completion;
- `JCdebugGetLogContent`.

[2018-11-14 09:06] #407 closed

[2018-11-15 01:59] hiberabyss commented on #410
Following is the `JCdebugGetLogContent ` content:

[code]

[2018-11-15 13:12] artur-shaik commented on #410
Lets now see with what arguments server starting up.

* JCdebugEnableLogs
* JCserverTerminate
* JCserverStart
* JCdebugGetLogContent

[2018-11-15 15:36] hiberabyss commented on #410
Following are the logs:

[code]

[2018-11-16 08:57] hiberabyss commented on #410
@artur-shaik , the file `hadoop-common-2.2.0.jar` exists and I could open it in Vim. I executed the commands you provided, but there was nothing in the `__JCServer_Log_Buffer__` buffer:

![image](https://user-images.githubusercontent.com/2898670/48611223-bb4a4700-e9c0-11e8-8d95-a7ecc9831a22.png)

[2018-11-16 08:59] artur-shaik commented on #410
Can you try to do it several times. Sometimes it shows empty buffer.

16 ноября 2018 г. 14:57:56 GMT+06:00, Hongbo Liu <notifications@github.com> пишет:

[2018-11-19 04:03] hiberabyss commented on #410
@artur-shaik Tried several times, still got nothing.

[2018-11-19 05:36] artur-shaik commented on #410
Hm, strange.
Try to set it before start in your vimrc:
[code]

[2018-11-19 06:36] hiberabyss commented on #410
The logs are stored in following file.
[java.log](https://github.com/artur-shaik/vim-javacomplete2/files/2594044/java.log)

[2018-11-19 06:47] artur-shaik commented on #410
Looks ok. What about java's packages? Does it complete `java.util.`?

On 11-18 (22:36), Hongbo Liu wrote:

--
Best regards,
Artur Shaikhullin

[2018-11-19 09:31] artur-shaik commented on #410
One more thing. Can you clean `~/.cache/javacomplete2` directory, then
run vim, and show server logs.

On 11-19 (01:28), Hongbo Liu wrote:

--
Best regards,
Artur Shaikhullin

[2018-11-19 09:40] hiberabyss commented on #410
Do I need to set the log level to `trace`?

[2018-11-19 09:41] artur-shaik commented on #410
Yes.

On 11-19 (01:40), Hongbo Liu wrote:

--
Best regards,
Artur Shaikhullin

[2018-11-19 09:43] hiberabyss commented on #410
Here is the logs after clear the cache directory.
[java_new.log](https://github.com/artur-shaik/vim-javacomplete2/files/2594634/java_new.log)

[2018-11-19 09:58] artur-shaik commented on #410
Hm, I don't see that data was going to be collected again. Did you open java file exactly after you removed `~/.cache/javacomplete2`?

[2018-11-20 03:01] hiberabyss commented on #410
Yes, I open a java file after remove the cache directory.

[2018-11-20 03:16] artur-shaik commented on #410
Is there anything now?

20 ноября 2018 г. 9:01:37 GMT+06:00, Hongbo Liu <notifications@github.com> пишет:

[2018-11-20 08:50] artur-shaik commented on #410
Sorry, I mean is anything in `~/.cache/javacomplete2` ?

[2018-11-21 02:40] hiberabyss commented on #410
@artur-shaik There is file in the cache directory.

![image](https://user-images.githubusercontent.com/2898670/48815569-daa6f280-ed79-11e8-8a26-ab8d0a66784a.png)

[2018-11-21 03:12] artur-shaik commented on #410
Can you attach this file?

On 11-20 (18:40), Hongbo Liu wrote:

--
Best regards,
Artur Shaikhullin

[2018-11-21 04:38] hiberabyss commented on #410
Of course:

[class_packages_default.tar.gz](https://github.com/artur-shaik/vim-javacomplete2/files/2602503/class_packages_default.tar.gz)

[2018-12-12 05:35] StrongerXi opened #412 "Slow Completion in class with many methods."
## Actual behavior (Required!)
Extremely slow auto-complete on an instance of a class with many methods.

## Expected behavior (Required!)
Faster completion.

## The steps to reproduce actual behavior (Required!)
- I was having this issue when working on a Swing project; specifically, in a JFrame subclass, when using "this." or "super." .
- However, when I tried to make a simple JFrame subclass (t

[2018-12-14 05:40] #410 closed

[2018-12-14 05:42] artur-shaik commented on #412
Can you, please, make simple project to reproduce. I will try to profile it.

[2018-12-14 05:53] artur-shaik commented on #410
@hiberabyss thank you, for participation

[2018-12-17 07:42] #362 closed

[2018-12-17 07:45] #383 closed

[2018-12-17 22:07] MichaelCombs28 opened #413 "javacomplete#newclass#CreateClass parsing error"
## Actual behavior (Required!)
[code]

## Expected behavior (Required!)
A new class file.

## The steps to reproduce actual behavior (Required!)
 1. Call JCclassNew command
 2. Enter any string that should create a new class

## Environment (Required!)
 * OS: Ubuntu 18.04, Mac OSX High Sierra (tested on both)
 * Vim version: 8.0 (both) Included patches: 1-503, 505-680, 682-1283 (for Mac)

[2018-12-18 03:15] StrongerXi commented on #412
[code]

On my machine and vim at least, the contrast between "this." or "super." in these two classes' methods is huge. I'm wondering if there's anyway to speed it up.

[2018-12-18 13:43] artur-shaik commented on #413
I guess you have some conditions that give this issue. Can you create test project for me to reproduce it?

[2018-12-19 07:09] #366 closed

[2018-12-19 09:42] artur-shaik commented on #413
So, this mean that jc2 plugin is not yet loaded, I guess. No sure if we can do something here. Or, what if you let jc2 load for every file type in you bundle manager?

[2018-12-19 18:12] MichaelCombs28 commented on #413
I'm a bit new to vimscript, I would assume some commands could be exposed to the global scope without the need to load the entire plugin. Potentially commands such as create class but if opened in a non java buffer would require users to enter the package string.

I honestly think this is more a non issue and more of a feature request, please feel free to close this issue.

[2018-12-20 02:16] artur-shaik commented on #413
Class generation heavy depends on relative relation to other java files. If you trying to start new project you should open empty `java` file in vim, and run `JCclassInFile`. Than, you can relatively create classes with `JCclassNew`.

You can reopen this issue later, after some use of `jc2`, when you can shape you feature request better.

[2018-12-20 02:16] #413 closed

[2018-12-21 07:07] #388 closed

[2018-12-24 09:05] artur-shaik commented on #321
Sorry for long reply.
Cannot reproduce this issue now, is it still relevant?

[2018-12-25 10:30] #372 closed

[2018-12-25 10:45] artur-shaik commented on #328
I guess it related to #383. If it didn't help, you can reopen issue.

[2018-12-25 10:45] #328 closed

[2018-12-25 10:50] artur-shaik commented on #354
Reopen if still relevant

[2018-12-25 10:50] #354 closed

[2018-12-28 12:41] #341 closed

[2018-12-28 12:54] artur-shaik commented on #390
Is this issue still relevant for you? Can you try with latest version.

[2019-01-01 13:06] lem0nez commented on #390
@artur-shaik, not relevant anymore after updating. Thank you!

[2019-01-02 00:09] Qix- opened #414 "Static members not listed when autocompleting from within same class"
## Actual behavior

Static method does not get suggested when inside same class:

![image](https://user-images.githubusercontent.com/885648/50577546-9bfd6100-0e2a-11e9-8459-37ace54ff12d.png)

## Expected behavior

Static method is listed.

## The steps to reproduce actual behavior (Required!)
 1. Start with this code:

[code]

 2. Create a new line between 3 and 4
 3. Type `Foo.` and observe.

##

[2019-01-02 00:09] Qix- commented on #414
It should be noted that private non-static members work just fine.

[2019-01-03 08:07] #384 closed

[2019-01-03 08:18] #390 closed

[2019-01-03 08:53] #414 closed

[2019-01-03 10:19] Qix- commented on #414
Hey, thanks @artur-shaik ❤️

[2019-01-03 10:20] artur-shaik commented on #414
You are welcome!

On 01-03 (02:19), Qix wrote:

--
Best regards,
Artur Shaikhullin

[2019-01-04 03:45] #400 closed

[2019-01-04 03:48] artur-shaik commented on #321
Reopen on demand, please.

[2019-01-04 03:48] #321 closed

[2019-01-04 04:04] artur-shaik commented on #405
Is this issue still relevant for you? I couldn't reproduce it.

[2019-01-05 09:03] chaiguolong opened #415 "file "classpath.py" do not exist output. # if kind == 'src' and 'output' in a.keys():--------> #if kind == 'src' and 'path' in a.keys():"
## Actual behavior (Required!)

## Expected behavior (Required!)

## The steps to reproduce actual behavior (Required!)
 1. ...
 2. ...
 3. ...

## Environment (Required!)
 * OS:
 * Vim version:
 * Neovim version:

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have enabled logs with `JCdebugEnableLogs` and can put here content of `JCdebugGetLogContent` command, if you need.
* Even, i

[2019-01-05 10:11] artur-shaik commented on #415
Fill issue tempate, fix header, than reopen.

[2019-01-05 10:11] #415 closed

[2019-01-05 10:13] #405 closed

[2019-01-07 11:01] artur-shaik commented on #412
Should say that this is due too vim parser that used to parse opened java file. It should be faster for large files when we move too javaparser lib.

I guess if you enable this feature: `g:JavaComplete_UseFQN`, it will work little faster.

---

And you help me find one performance killer. Thank you.

[2019-01-07 11:01] #412 closed

[2019-01-11 14:19] #367 closed

[2019-01-17 15:07] artur-shaik commented on #391
Ok, added some stuff related to this feature.
Get classpath from ant is pretty tricky. Now, I add additional targets to `build.xml` that print classpath collected in xml.
Tricky part is that classpath can be collected in many ways.
Now I check the `project.classpath` path reference and `javac.classpath` parameter (that used in one of my old ant project, created in NetBeans).

This stuff should be

[2019-01-21 16:04] #391 closed

[2019-01-29 01:54] fwy opened #417 "Code navigation features"
I have been using vim-javacomplete2 for some time, although not for large-project Java development.  My preferences for this plugin would be more basic code navigation features, as opposed to advanced refactoring or debugging capabilities.  I am already using exuberant tags along with the vim-easytags plugin, but this does not provide smart code navigation for Java.  I would think the Java parser

[2019-01-29 02:01] artur-shaik commented on #417
No, there aren't such features, but sounds useful.

[2019-01-29 11:27] wsdjeg commented on #417
@artur-shaik @fwy This feature can be done with gtags. No need to implement this feature again.

[2019-01-31 15:16] artur-shaik commented on #417
@fwy, can you try `gtags` and say if it satisfies your requirements?

[2019-01-31 16:12] fwy commented on #417
@artur-shaik I will try over the next few weeks.  I am not at all familiar with gtags, but saw mention that it has not been implemented for Windows.  Nevertheless, I will try to use it in either Linux or Windows and let you know.

[2019-02-01 09:20] wsdjeg commented on #417
I use gtags in Windows 7. please search gun global as the key word.

---

Shidong Wang

-------- 原始邮件 --------
主题：Re: [artur-shaik/vim-javacomplete2] Code navigation features (#417)
发件人：Fred Yeadon
收件人：artur-shaik/vim-javacomplete2
抄送：Wang Shidong ,Comment

@artur-shaik<https://github.com/artur-shaik> I will try over the next few weeks. I am not at all familiar with gtags, but saw mention that it

[2019-02-04 03:35] fwy commented on #417
@artur-shaik @wsdjeg  I have just tried gtags with vim, and it appears to satisfy the first 2 of the 3 requirements I mentioned (navigation but not renaming).  On Windows there were some problems with the backslash path separator, but they were not difficult to work around with vim mappings.

I haven't tried gtags enough to assess its Java parsing capability, in particular support for Java 8+ cons

[2019-02-07 12:09] artur-shaik commented on #417
@fwy you see, the third requirement you mentioned, can be related to #18 issue. It won't be realized earlier than I will proceed with those. So, you can close this issue, if others are suit you.

[2019-02-07 18:02] fwy commented on #417
Closing this issue. I am seeing some problems with gtags Java parsing-navigation but may post those separately.

[2019-02-07 18:02] #417 closed

[2019-02-19 17:31] ThomasSchellenbergNextCentury commented on #406
The warning messages appear for me each time I open a java file, and they keep repeating, making the file completely uneditable. Is there a workaround?

- OS:  Ubuntu 16.04
- Vim:  7.4
- Java:  OpenJDK 11

[2019-02-22 04:27] Me1onRind opened #418 "context param name completed"
Javacomplete2 look like can't complete context param name, such as
[code]
It's can't complete 'str'.
I think if it can complete  context param name will make the wonderful plugin more perfect. I don't know will it need many workload. Just a little suggestion.

[2019-02-22 04:41] artur-shaik commented on #406
Can you prepare little project for, so I can reproduce this?

[2019-02-23 05:42] Me1onRind commented on #418
by the way, I find   java.util.Collections has same problem https://github.com/artur-shaik/vim-javacomplete2/issues/93

[2019-03-15 05:06] #406 closed

[2019-03-15 13:48] ThomasSchellenbergNextCentury commented on #406
Steps to reproduce:
- Open a new java file:  `vim abc.java`
- Get flooded with warning messages

It literally happened on any file with a `.java` extension, including new files.  Sometimes I had to start editing the file or moving the cursor first.

By your comment, I'm assuming the same is not happening on your system?

[2019-03-15 14:18] artur-shaik commented on #406
That's the case. It works fine for me.

Do you have this issue on clean project too? There is lib, like `com.google.inject`, that I do not know where from can it be.

[2019-03-24 20:57] JohnNewman1 opened #419 "Issue while using vim-javacomplete2 with neovim"
Any help would be much appreciated as to why I cannot get the plugin to work!

## Actual behavior (Required!)
On use of javacomplete-2
[code]

Error appears every couple of seconds

## Expected behavior (Required!)
Plugin working with Java files

## The steps to reproduce actual behavior (Required!)
 1. Install with Plugged
 2. Add the following to init.vim
[code]
 3. Open an java file in neovim.

[2019-03-25 01:23] artur-shaik commented on #419
Can you try to set: `let g:JavaComplete_CheckServerVersionAtStartup = 0` and check if server is compiled in `bundles/vim-javacomplete2/libs/javavi/target` ?

[2019-03-25 09:05] JohnNewman1 commented on #419
[code]
Solved the issue thanks a lot
Closing!

[2019-03-25 09:05] #419 closed

[2019-04-18 12:54] Tyler-Roche opened #420 "Running :JCgenerateAbstractMethods gives an error"
## Actual behavior (Required!)
When I run :JCgenerateAbstractMethods, vim returns

Error detected while processing function javacomplete#generators#AbstractDeclaration[9]..javacomplete#collector#DoGetClassInfo:
line   35:
E731: using Dictionary as a String
E15: Invalid expression: fqn. '$'. a:class
line   90:
E121: Undefined variable: extends
E116: Invalid arguments for function s:CollectFQNs
E15:

[2019-04-19 00:49] artur-shaik commented on #420
Hello. Thanks for report. Can you create minimal project with this packages, so I can reproduce issue and catch this bug?

[2019-04-19 14:17] vitaly-zdanevich opened #421 "Many errors after installing"
In README is not mentioned default plugin manager in Vim 8 - I just cloned the repo into `~/.vim/pack/git-submodules-plugins/start`

I see red errors:
[code]

macOS 10.14.4
Java 12.
Vim is out of the box:
[code]

Yes, I tried minimal .vimrc configuraion with only `autocmd FileType java setlocal omnifunc=javacomplete#Complete` - with that I have nothing, no completion.

[2019-04-19 16:38] artur-shaik commented on #421
It seems like some issue with your python installation. It cannot do `import _socket`.

[2019-04-22 08:37] vitaly-zdanevich commented on #421
The second Python is stock on macOS.

[2019-04-22 08:43] artur-shaik commented on #421
Try to run python console and execute this command: `import socket` or this: `import _socket`.

[2019-04-22 08:51] vitaly-zdanevich commented on #421
![image](https://user-images.githubusercontent.com/3514015/56492605-fbc06a80-64f4-11e9-9374-d71a7b606fe7.png)

[2019-04-22 09:13] artur-shaik commented on #421
What if you do it in vim: `:python import _socket` ?

On 04-22 (01:51), Vitaly Zdanevich wrote:

--
Best regards,
Artur Shaikhullin

[2019-04-23 17:57] vitaly-zdanevich commented on #421
[code]

[2019-04-24 08:42] artur-shaik commented on #421
So yes, you have some issue with your python and you should fix it.
When I run this command, it just executes without `ImportError` and other output.

[2019-04-24 08:42] #421 closed

[2019-04-28 12:34] stewartmatheson opened #422 "Paths in groovy temp file are not escaped under windows"
## Actual behavior (Required!)
[code]
It looks like the issue is with the code generated in the tmpfile that is then executed. See

https://github.com/artur-shaik/vim-javacomplete2/blob/master/autoload/javacomplete/classpath/gradle.vim

[code]
which is line 111 in master  at the time of this writing.  Should the path be escaped somehow? It looks like the windows the windows path contains black sla

[2019-04-28 23:22] NassimBounouas opened #423 "Argument list too long - Can't start the server"
Hi !

I just installed vim-javacomplete2 on my arch linux laptop and configured my `.vimrc` but I encounter a problem. I searched on issues but I didn't find anything related to this error. It seems that the problem is coming from python.

Is the anyone who has any idea of the problem source ?
![screen](https://user-images.githubusercontent.com/18635821/56871379-10cd5a00-6a1d-11e9-8ba0-b003b1b17a2

[2019-04-30 08:26] artur-shaik commented on #422
@DonnieWest can you participate?

[2019-04-30 09:53] artur-shaik commented on #423
Hi. Can you show logs of server startup?

You need to run:
- `:JCdebugEnableLogs`
- `:JCserverTerminate`
- `:JCserverStart`
- `:JCdebugGetLogContent`

[2019-04-30 20:50] DonnieWest commented on #422
@stewartmatheson I'm afraid I don't have a windows computer to test. Could you submit a PR?

[2019-05-02 12:19] NassimBounouas commented on #423
Hi Artur,

Firstly thank you for your help. I executed your commands and I found something interesting.

`44.104162 [util] running command: 'java -cp /home/user/.vim/bundle/vim-javacomplete2/libs/javavi/target/classes:/home/user/.vim/bundle/vim-javacomplete2/libs/javaparser-core-3.5.20.jar:/home/user/.vim/bundle/vim-javacomplete2/libs/javavi_log4j-api.jar:/home/user/.vim/bundle/vim-javacomplete2/l

[2019-05-02 12:34] artur-shaik commented on #423
Do you have build system in your project? Seems like `jc` couldn't find right root directory of your project.

[2019-05-02 12:37] NassimBounouas commented on #423
I think I found the root cause. The problem occurs when I'm trying to edit a simple Java file outside of a project. In this case the plugin is adding every jar file in folder tree !

@artur-shaik I was writing my answer when I saw yours ! It's exactly the problem, I tried the plugin on a classic maven project and it works.

[2019-05-02 12:38] artur-shaik commented on #423
I think we should consider this case. Thanks for issue. Let it be open until I find solution.

[2019-05-02 12:44] NassimBounouas commented on #423
Yes It could be interesting to consider this case.

I found the hint while reading those files : [here](https://github.com/artur-shaik/vim-javacomplete2/blob/3ccfbfbe5cfdb686463c7fc8ccce23c5b7a58173/autoload/classpath.py) and [here](https://github.com/artur-shaik/vim-javacomplete2/blob/045644d2551ddef31b5fa4d599213df8ce44460d/autoload/javacomplete/classpath/classpath.vim).

Thank you !

[2019-06-08 22:55] morkovkin opened #424 "Autocomplete auto show"
Hello! i'm beginner to use vim. Can you help me? im install NVIM v0.3.7 on my mac 10.14.5 and successful integrate vim-javacomplete2. But i don't understand autocomplete window shown only after c-x c-o or it's can work like in Idea (when start typing start showing)?In gif animation in read me file work fine, but in my case i must use keys to show window with scan results Thank you very much!

this

[2019-06-09 10:31] artur-shaik commented on #424
Duplicate #305 ?

[2019-06-09 11:18] morkovkin commented on #424
yeah sorry!

[2019-06-09 11:19] #424 closed

[2019-09-23 05:37] kinowarrior opened #426 "Unable to auto-import maven dependencies"
Newbie question, most likely relates to classpath setup?

Have a simple SpringBoot application (using maven build):

[code]

When I run any of my auto-import shortcuts, it fails to understand the "symbol" under the cursor.

[code]

## Actual behavior (Required!)

I want to auto-import @PathVariable

Receive an error message:

[code]

## Expected behavior (Required!)

It auto-imports the PathVariab

[2019-09-23 05:57] kinowarrior commented on #426
Hmm, in the help docs it states:

[code]

Does this mean I should manually add jars ?

[2019-09-23 06:13] kinowarrior commented on #426
Here is the output of:

[code]

.:
~/workspace-spring-tool-suite-4-4.4.0.RELEASE/mobile-app-ws/target/classes:
~/workspace-spring-tool-suite-4-4.4.0.RELEASE/mobile-app-ws/target/classes:
~/workspace-spring-tool-suite-4-4.4.0.RELEASE/mobile-app-ws/target/test-classes:
~/workspace-spring-tool-suite-4-4.4.0.RELEASE/mobile-app-ws/target/test-classes:
~/workspace-spring-tool-suite-4-4.4.0.RELEASE/mobil

[2019-09-23 06:17] kinowarrior commented on #426
Have explicitly set:

[code]

[2019-09-25 04:30] kinowarrior commented on #426
Bump.  Hi, any thoughts?

It seems that no dependencies inside '~/.m2/repository' are picked up. How would I (succinctly) register all my project maven dependencies on classpath?

[2019-09-25 05:02] artur-shaik commented on #426
Hi. What you have in your pom.xml?

[2019-10-30 10:56] arvyy commented on #426
Not same person, but I have same problem. My pom looks like this:

[code]

I'm using windows 10

[2019-11-01 05:57] artur-shaik commented on #426
Would be nice to have little project that I can run to reproduce this problem. Can you create it?

[2019-11-06 02:42] dnMarc opened #427 "Trouble Getting AutoComplete Functionality Working"
Hi All,
  I want to start by apologizing for the newb level of this question.  I am new to Vim and am very excited to get the javacomplete2 plugin working.  I have attempted to get the plugin working by using a pre-configured Docker image (https://hub.docker.com/r/aghost7/nvim).  Docker containers spun up from this image contain 3 vim configuration files: init.vim, post-plugin.vim and plugin.vim.

[2019-11-06 03:58] artur-shaik commented on #427
Hello. Sounds like complex setup. Why not you try to start with clean nvim or vim config file?

[code]

`complete` should be in CamelCase: `javacomplete#Complete`

You need something like YouCompleteMe or deoplete if you completion to work automatically, and you do not need to press `C-xC-o` every time.

[2019-11-06 04:25] dnMarc commented on #427
Hi @artur-shaik,
  Thank you very much for your response.  Fixing the camel casing in ` javacomplete#Complete` enabled the functionality for me – my apologies for the simple error, I really appreciate you pointing this out for me.  I am not familiar with YouCompleteMe or deoplete, but I will give those a try tomorrow.
Thank you again for your help, I really appreciate it.
Cheers,
Dan

[2019-11-06 04:45] #427 closed

[2019-11-07 09:25] arvyy commented on #426
Sure. https://github.com/arvyy/javacomplete2_pom_example

None of spring classes are suggested when using f5

[2019-11-08 05:21] artur-shaik commented on #426
I cannot reproduce issues.

Can you show logs of server startup?

You need to run:

[code]

[2019-11-08 08:12] arvyy commented on #426
[code]

[2019-11-08 11:24] artur-shaik commented on #426
Can you run this command from project directory:

[code]

[2019-11-08 11:31] arvyy commented on #426
hmm are you interested in the "effective pom" part, because it's ~5000 lines, or only the classpath output

[2019-11-08 14:24] artur-shaik commented on #426
So you have error on this command?

[2019-11-08 14:37] arvyy commented on #426
No, it's just that the resulting pom is super long. To avoid further confusion I'll just paste it then

`
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building javacomplete-test 0.0.1-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-help-plugin:3.2.0:effe

[2019-11-08 15:14] artur-shaik commented on #426
Can you try to remove `effective pom` part in this place: `/autoload/javacomplete/classpath/maven.vim:30`?

And try again.

[2019-11-09 08:43] artur-shaik commented on #426
Or just try last version, I just pulled this change in master.

[2019-11-11 22:16] arvyy commented on #426
hmm it didn't work. It feels abit unproductive if you can't reproduce. When I have more time I'll try to learn abit about the vimscript and try to debug it myself

[2019-11-12 05:17] artur-shaik commented on #426
If you steel don't see spring libs in output of this command `:echo g:JavaComplete_LibsPath` this mean, you should debug this file `/javacomplete/classpath/maven.vim` to find out why in your enviroment this doesn't work.

I will be glad to your participation in this issue.

[2019-11-18 03:11] zxm66 opened #429 "how to can have Python support? sorry ,my English is stupid."
## Actual behavior (Required!)

## Expected behavior (Required!)

## The steps to reproduce actual behavior (Required!)
 1. ...
 2. ...
 3. ...

## Environment (Required!)
 * OS:
 * Vim version:
 * Neovim version:

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have enabled logs with `JCdebugEnableLogs` and can put here content of `JCdebugGetLogContent` command, if you need.
* Even, i

[2019-11-18 08:57] artur-shaik commented on #429
You need to install or build vim or neovim with python support. Search the web.

You can run `vim --version` and find there `+python` entry.

[2019-11-18 08:57] #429 closed

[2019-12-05 16:03] JonasKlamroth commented on #400
Hey,
i had the same problem but when i commented out the corresponding line i still dont get the plugin to work. My Setup is the following:
OS: Ubuntu 19.04
VIM: 8.1 (with python3 supported)
JDK: 1.8

Server is running correctly as far as i can tell (at least :JCserverShowPID responds with some number)

When enabling the Logger i get the following result:
[code]

when trying to get completions for

[2019-12-06 07:49] artur-shaik commented on #400
@JonasKlamroth Hi. Does your project has src directory?

In your logs there is empty argument after `-sources`, may be this is a problem.

[2019-12-06 07:53] artur-shaik commented on #400
And have you added import in your java file, before trying completion?

[2019-12-06 10:30] JonasKlamroth commented on #400
Hey, thanks for the quick reply.
I dont know why he did not find my source folder yesterday. Anyway now the output is like this:

`499.144161 [server] server arguments:-Ddaemon.port=56395 -Dlog4j.configurationFile=/home/klamroth/.vim/bundle/vim-javacomplete2/libs/javavi/target/classes/log4j2.xml kg.ash.javavi.Javavi -sources /hom    e/klamroth/Documents/Masterthesis/openjmlToBMC/OpenJML/OpenJML/de

[2019-12-06 11:40] artur-shaik commented on #400
Looks like I can reproduce it. Seems like a bug.

[2019-12-06 11:40] artur-shaik opened #430 "Completions for a simple arraylist. But nothing shows up."
Hey,
i had the same problem but when i commented out the corresponding line i still dont get the plugin to work. My Setup is the following:
OS: Ubuntu 19.04
VIM: 8.1 (with python3 supported)
JDK: 1.8

Server is running correctly as far as i can tell (at least :JCserverShowPID responds with some number)

When enabling the Logger i get the following result:
[code]

when trying to get completions for

[2019-12-07 06:08] #430 closed

[2019-12-07 06:09] artur-shaik commented on #400
@JonasKlamroth can you try again with last version, please.

[2019-12-07 11:35] JonasKlamroth commented on #400
works fine for me. Thanks a lot

[2019-12-07 11:38] artur-shaik commented on #400
@JonasKlamroth thank you for report.

[2019-12-13 09:27] jackysee opened #431 "Can I exclude source folders?"
I have a project with a typical java project layout, plus a frontend (vue cli generated) part. The layout is
[code]

`node_modules` is notorious for its large number of files and deepness. As jc2 would automatically include all `src` folders, the file indexing is quite a burden. In my case, a simple completion on java files would take as long as 40s!

Setting `let g:JavaComplete_SourcesPath = './s

[2019-12-17 11:19] #431 closed

[2019-12-17 11:19] artur-shaik commented on #431
Try with: `let g:JavaComplete_SourceExclude = ['src/frontend']`

[2019-12-18 13:58] zw8677174 commented on #426
I got same problem. JavaComplete-Imports-Add not work.
same response: classname 'OkHttpClient' not found in any scope.
it may the problem. i used neovim same. (NVIM v0.4.3)

something else, i notice that :
without  JavaComplete-Imports-Add, when i finished that third class.
it shows this :  class : Class<okhttp3.OkHttpClient>
this time, i click the space. it import this class auto.
i don,t know wh

[2019-12-29 08:37] A-Siam opened #432 "Auto completion is not working"
## Actual behavior (Required!)
auto completion is not working

## Expected behavior (Required!)
completion feature to work

## The steps to reproduce actual behavior (Required!)
 1. using pathogen:
     cd ~/.vim/bundle/
     git clone https://github.com/airblade/vim-rooter.git
     cd ~/.vim/bundle
     git clone https://github.com/artur-shaik/vim-javacomplete2.git
 2. add the required config : i

[2019-12-29 10:03] artur-shaik commented on #432
Have you tried to press `<C-x><C-o>` after dot?

On 12-29 (00:37), Abdullah khaled wrote:

--
Best regards,
Artur Shaikhullin

[2019-12-29 10:51] A-Siam commented on #432
oh my bad!, it worked thank you

[2019-12-29 10:51] #432 closed

[2019-12-31 14:32] delta07 opened #433 "E716 & E116 after c-x c-o"
## Actual behavior (Required!)
After c-x c-o after dot in a big java project i got these errors
[code]
Then, after press enter i got a proposition for completion ( seems to be right ) but i got these two errors each time.

## Expected behavior (Required!)
Don't have thes two errors.

## The steps to reproduce actual behavior (Required!)
 1. Have areally minimal vimrc
[code]
 2. I just run vim on a

[2020-02-23 20:48] MrAkblt opened #434 "Plugin should use local mvnw"
## Actual behavior (Required!)
maven.vim checking executable('mvn') and use 'mvn' command.

## Expected behavior (Required!)
maven.vim should use local mvnw file because not everyone can install maven globally.
$project_dir . './mvnw' should be used instead of 'mvn' everywhere.

## The steps to reproduce actual behavior (Required!)
 1. ... I started spring with https://start.spring.io/ and i did n

[2020-02-24 15:03] artur-shaik commented on #434
Good point. If you can PR welcome. Or I will do it a bit later.

[2020-02-25 10:08] MrAkblt commented on #434
i can PR, but i'am new vim script and i don't know your code structure exactly. It's better if you do.

[2020-02-25 11:14] artur-shaik commented on #434
Ok, but you need to wait some time. I'm not able to do it right now.

On 02-25 (02:08), murat akbulut wrote:

--
Best regards,
Artur Shaikhullin

[2020-05-02 04:22] jidibinlin opened #436 "JCgenerateConstructor reports an error"
## Actual behavior (Required!)
JCgenerateConstructor reports an error

## Expected behavior (Required!)
fix this error

## The steps to reproduce actual behavior (Required!)
 1. ...create a java class
 2. ...then use JCgenerateConstructor to generate the code

## Environment (Required!)
 * OS: Debian 10
 * Vim version:
 * Neovim version:  NVIM v0.3.4

## Q&A
* Yes, I tried minimal .vimrc configura

[2020-06-04 06:57] 0x01Brain opened #437 "Add support for lombok annotation processing in a maven project"
## Actual behavior
Currently adding lombok not working as I already tried setting lombok in java environment globally by setting environment variable:

`JAVA_TOOL_OPTIONS=-javaagent:/home/levon/.m2/repository/org/projectlombok/lombok/1.18.12/lombok-1.18.12.jar -Xbootclasspath/a:/home/levon/.m2/repository/org/projectlombok/lombok/1.18.12/lombok-1.18.12.jarJAVA_TOOL_OPTIONS=-javaagent:/home/levon/.m

[2020-06-13 04:27] artur-shaik commented on #436
Can you try to use **python 3**?

[2020-06-13 04:30] artur-shaik commented on #437
There was an issue #79 . Seems like some configuration needed for lombok to work.

[2020-06-13 04:30] #437 closed

[2020-06-13 04:32] artur-shaik commented on #433
Do you have this errors on small demo projects? Or only on big one?

[2020-06-13 10:15] 0x01Brain commented on #437
@artur-shaik can you please explain more, I saw the issue related what configuration is needed?

[2020-06-13 10:28] artur-shaik commented on #437
If you have compiled your sources on next run lombok's methods should appear. Check if your `target/classes` are in `g:JavaComplete_LibsPath`.

[2020-06-29 10:34] PevMont opened #438 "Gradle classpath task failed for fabric example project"
https://github.com/FabricMC/fabric-example-mod
The project above is used by many with other IDE's that import the gradle files correctly.

## Actual behavior (Required!)
Error is given, plugin fails to load, no java completion. Vim acts as usual.

## Expected behavior (Required!)
Plugin loads successfully with java completion with classes from fabric/minecraft.

## The steps to reproduce actual be

[2020-06-29 11:43] artur-shaik commented on #438
Hi. Hm. But this file: `https://libraries.minecraft.net/com/mojang/minecraft/1.16.1/minecraft-1.16.1.pom` really doesn't exists, may be this is the cause of problem?

[2020-06-29 17:26] PevMont commented on #438
I have found that `/home/username/.gradle/caches/fabric-loom/1.16.1-mapped-net.fabricmc.yarn-1.16.1+build.1-v2/minecraft-1.16.1.jar` is actually `minecraft-1.16.1-mapped-net.fabricmc.yarn-1.16.1+build.1-v2.jar`. For some reason, gradle is not looking for the right jar. Once I create a soft link to the correct jar, everything works perfectly.

This workaround works for me, but I will contact the Fa

[2020-07-02 06:30] #438 closed

[2020-07-11 01:49] zhxh1 opened #439 "AutoCompletion does not show up on Ubuntu, installed with pathogen"
## Actual behavior (Required!)

After installing the plugin with pathogen (by directly cloning the project), I opened a new java file, and wrote several lines. But no code completion has been done.

## Expected behavior (Required!)

The code completion works as shown in the README.

## The steps to reproduce actual behavior (Required!)
 1. Install [ultimate vimrc](https://github.com/amix/vimrc), w

[2020-07-11 04:42] artur-shaik commented on #439
What if you press `<C-x><C-o>` after `import java.` ?

[2020-07-11 05:40] zhxh1 commented on #439
@artur-shaik Thanks for your quick reply!

Do you mean press `<C-x><C-o>` in normal mode? I have seen this shortcut somewhere eles. But after `<C-x>`, a new buffer is created. It seems that the shortcut has been overrided somewhere. But I have `grep`ed everything in my vim configuration folder, nothing seems to relate to this behaviour:

<html>
<pre><font color="#75507B">.vim_runtime/my_plugins/vi

[2020-07-11 10:50] artur-shaik commented on #439
Yes, of course, see this #305

[2020-07-11 10:50] #439 closed

[2020-07-14 15:45] Shane-XB-Qian opened #440 "perhaps should ignore the error msg from `eval` when do omni compl after typo"
## Actual behavior (Required!)
e.g: `System.out.pro` (intended typo) then try to kick off 'omni', at the 1st time, lots error msg output ..
// looks there were some issues had been opened here - similar issues ..

even/though set:
`let g:JavaComplete_IgnoreErrorMsg = 1`

perhaps should ignore error msg from there ..

## Expected behavior (Required!)
none error msg ouput -or only if had that option

[2020-07-14 15:59] Shane-XB-Qian commented on #440
PR #441 sent.
// close here.

[2020-07-14 15:59] #440 closed

[2020-10-05 16:38] agis-theodoropoulos opened #442 "Autocompletion fails in subpackage"
## Actual behavior

When using a Java type `Foo` in a subpackage of the package which contains `Foo`, autocompletion doesn't list the methods of `Foo`.

## Expected behavior

Autocompletion on type `Foo` should list the methods of `Foo`, regardless of where the code which uses `Foo` is located.

## The steps to reproduce actual behavior

1. Define interface:
[code]
2a. Use interface in subfolder:

[2020-10-05 16:42] agis-theodoropoulos commented on #442
The strangest thing about the failing case is that `void bar()` appears in the logs, but doesn't get printed on the screen.

[2020-10-06 05:33] artur-shaik commented on #442
should be fixed in https://github.com/artur-shaik/vim-javacomplete2/commit/4764d405651875c5966a2c8f2bab22cc6df83a2e

[2020-10-07 11:35] #442 closed

[2020-10-07 11:36] #436 closed

[2020-10-07 11:36] #433 closed

[2020-10-07 11:39] #422 closed

[2020-10-07 11:39] #420 closed

[2020-10-07 14:56] agis-theodoropoulos commented on #442
Indeed, it is. Thanks!

[2020-10-09 07:56] NobodyXu opened #443 "deoplete throws an exception, possibly due to vim-javacomplete2"
**Warning:  I will close the issue without the minimal init.vim and the reproduction instructions.**

# Problems summary

After I installed [artur-shaik/vim-javacomplete2], `nvim` often stops me in the middle of editing file due to an exception in python.

## Expected

No exception should happen.

## Environment Information

 * deoplete version (SHA1):

git commit `7c781f4a887719e1785b3f0c4d8087d9

[2020-10-09 07:57] NobodyXu commented on #443
I also created a issue in Shougo/deoplete.nvim# 1133

[2020-10-09 12:36] artur-shaik commented on #443
Please, can you pack minimal gradle powered project for me, so I can start debug straight away.

[2020-10-09 12:52] NobodyXu commented on #443
Well, it's actually very easy to create a simple project using gradle.

First, make sure that you are using gradle 6.6.1, that is the gradle that causes the bug for me.
Then run `gradle init`, select '2'(application), '3' (Java), '1' (Groovy), 1 (JUnit 4) and give it any project name.

If everything goes well, you then already has a minimal gradle powered project.

[2020-10-10 06:21] NobodyXu commented on #443
I have a project created via `gradle init`, and under `src/main/java/project_name/submodule`, there's a submodule.

When I imported a class from the parent module, I sometimes experience unknown error from `vim-javacomplete2`.

[2020-10-12 05:05] artur-shaik commented on #443
can you try this branch: https://github.com/artur-shaik/vim-javacomplete2/tree/hotfix/issue-443, and paste here shown errors?

[2020-10-12 06:01] NobodyXu commented on #443
Sure

On Mon, 12 Oct 2020 at 16:05, Artur Shaik <notifications@github.com> wrote:

[2020-10-12 06:01] NobodyXu commented on #443
Sure

[2020-10-12 06:04] NobodyXu commented on #443
I will give you feedback once I got any error.

[2020-10-28 12:17] NobodyXu commented on #443
I just got the error again when I am typing, and mistakenly press space to continue typing xD

[2020-10-28 12:31] NobodyXu commented on #443
This time I get part of it:

[code]

[2020-10-29 16:44] artur-shaik commented on #443
@NobodyXu hm, actually, there is nothing usefull, I thought it should print much more information on error. I've merged that branch to master, so you can switch to latest version.

[2020-10-29 22:53] NobodyXu commented on #443
Thx.

If the errors occur again, I will try to get a more complete log next time.

Or is there any nvim/deoplete function that can show log that I wasn't aware of?

[2020-10-31 07:25] NobodyXu commented on #443
[code]

[2020-10-31 07:26] NobodyXu commented on #443
[code]

[2020-10-31 07:27] NobodyXu commented on #443
I've already switched the latest commit in master.

[2020-11-01 01:48] NobodyXu commented on #443
Just got the error again:

[code]

[2020-11-01 09:54] NobodyXu commented on #443
It happened again when I was writing `javafx` code.

[code]

[2020-11-02 16:06] artur-shaik commented on #443
Ok, lets try one more time on this branch: https://github.com/artur-shaik/vim-javacomplete2/tree/hotfix/issue-443

[2020-11-04 03:24] NobodyXu commented on #443
OK

[2020-11-06 03:56] NobodyXu commented on #443
After I got on that branch, I found out that all dependencies I specified in `build.gradle` cannot be found by vim-javacomplete2.

All my `import`s to these modules gives me error.

[2020-11-06 04:04] NobodyXu commented on #443
I tried to reinstall the plugin from the bran hotfix, but got more error:

[code]

[2020-11-06 04:09] NobodyXu commented on #443
Switching back to master gives me the same error:

[code]

And `import` still doesn't work in gradle project.

[2020-11-06 04:17] NobodyXu commented on #443
I just verified that the "unable to `import`" part isn't caused by this package.

It's more likely there is something wrong with the specific git branch I was working on.

Sorry for the false alarm.

[2020-11-06 05:16] NobodyXu commented on #443
BTW, I also received strange error message:

[code]

Not sure whether this is caused by vim-javacomplete2.

[2020-11-06 05:31] NobodyXu commented on #443
Just confirmed this is a vim-javacomplete2 problem.

After I removed it, nothing goes wrong.

[2020-11-06 06:11] artur-shaik commented on #443
Can you try to clear jc2 cache by doing: `rm ~/.cache/javacomplete2/` ?

[2020-11-06 06:13] NobodyXu commented on #443
I tried, but still got the `could not open socket, try again` error when saving the file.

[2020-11-06 06:14] NobodyXu commented on #443
Full error:

[code]

[2020-11-06 15:41] artur-shaik commented on #443
Pull last commit, please.

[2020-11-09 01:04] NobodyXu commented on #443
OK, I will have a try

[2020-11-11 12:10] NobodyXu commented on #443
I got some errors once again:

[code]

Seems like a different kind of error.

[2020-11-11 12:23] artur-shaik commented on #443
Yeah, you are right, something new, after what action it happened?

[2020-11-11 12:31] NobodyXu commented on #443
It happened when I was changing the following code:

[code]

To:

[code]

I recalled that I have already added `new Pair<Path, String>(` when it happened.

NOTE that `Path` is an enum.

[2020-11-11 12:33] NobodyXu commented on #443
It happened when I was changing the following code:

[code]

To:

[code]

I recalled that I have already added `new Pair<Path, String>(` when it happened.

NOTE that `Path` is an enum.

[2020-11-11 12:56] artur-shaik commented on #443
Pushed some changes, looks like the bug.

[2020-11-14 13:41] NobodyXu commented on #443
Since last update, I haven't yet experienced one error.

[2020-11-14 15:10] artur-shaik commented on #443
Ok, let's merge it, and if any will thrown again, please reopen this issue. And thanks for participation.

[2020-11-14 15:12] #443 closed

[2020-11-15 12:05] hj-hejie commented on #426
[pull request](https://github.com/artur-shaik/vim-javacomplete2/pull/445)

[2020-11-16 03:02] slowens-dev opened #446 "does not work on wsl Ubuntu20.04"
## Actual behavior (Required!)
does nothing

## Expected behavior (Required!)
does what it says it does, autocompletes java

## The steps to reproduce actual behavior (Required!)
 1. follow steps detailed in installation sections exactly
 2. attempt to use the plugin
 3. nothing happend

## Environment (Required!)
 * OS: wsl Ubuntu 20.04
 * Vim version: 8.1.2269
 * Neovim version: 0.4.3

## Q&A
*

[2020-11-16 04:01] artur-shaik commented on #446
Hi, what if you press `<C-x><C-o>` after the dot?

[2020-11-16 05:57] #426 closed

[2020-11-18 04:08] artur-shaik commented on #446
Duplicate of #431

[2020-11-18 04:08] #446 closed

[2020-11-28 06:59] reymalahay opened #447 "Templates for class creation"
Hi all,

This is more a set of a questions as opposed to an issue:

1. Will it be possible to elaborate more on the class creation section?

2. Will it be possible to reference UltiSnips snippets as templates?

Please advise.

Thanks in advance,
rey malahay

[2020-11-28 10:35] artur-shaik commented on #447
Hello.

Can you describe workflow of your request, how you think it should work?

[2020-11-29 00:21] reymalahay commented on #447
hi there,

thank you for the response. by the way, `vim-javacomplete2` is a great plugin.

it's not a workflow. basically, what i am asking is:

1. In your documentation, there is a section titled 'Class creation' with a usage example that looks like this
`template:[subdirectory]:/package.ClassName extends SuperClass implements Interface(String str, public Integer i):contructor(*):toString(1)`

wi

[2020-11-29 09:17] artur-shaik commented on #447
Here is quick example:

![output](https://user-images.githubusercontent.com/4862907/100537788-a3ffee80-3255-11eb-81e3-a1c3ace0511f.gif)

Also, you can specify path of the class, like so: new_package.TestClass. It will create new directory `new_package` and put new class in it.

Templates are here: https://github.com/artur-shaik/vim-javacomplete2/tree/master/plugin/res

[2020-11-29 09:21] artur-shaik commented on #447
And about UltiSnips, you can use it, and it works on itself. I don't know how we can integrate it with jc2.

[2020-11-29 09:22] reymalahay commented on #447
This is awesome! Thank you very much, @artur-shaik !

[2020-11-29 09:22] #447 closed

[2020-11-29 09:24] reymalahay commented on #447
No worries. I'll figure it out. If i find a plausible use case, i will open an issue and put forward a proposal.

[2020-11-29 09:39] artur-shaik commented on #447
You are welcome!

[2020-12-22 08:16] SifungLei opened #448 "can not start server, not work"
## Actual behavior (Required!)

## Expected behavior (Required!)

## The steps to reproduce actual behavior (Required!)
when I open java file with vim, something wrong:
Error detected while processing function <SNR>46_JobVimOnCloseHandler[4]..javacomplete#classpath#maven#BuildClasspathHandler:
line   15:
Failed to build maven classpath

sorry,my English is poor.

## Environment (Required!)
 * OS:

[2020-12-23 08:47] artur-shaik commented on #448
can you use instructions from this issue: #404 ?

[2020-12-24 19:17] fwy opened #449 "Invalid Windows pathname when creating new class"
## Actual behavior (Required!)
On a Windows 10 workstation, when I run the JCclassInFile or JCclassNew commands, javacomplete2 generates the wrong pathname for the new class because of the leading drive letter in Windows pathnames.  A vim buffer is then created with an incorrect pathname and various vim errors are displayed.  The error details are different in vim and neovim.

Example: I have a pr

[2020-12-25 08:33] artur-shaik commented on #449
Hello.

Yes, please, make PR and we will try to fix it together.

[2020-12-29 13:07] #449 closed

[2020-12-29 15:09] SifungLei commented on #448
ok,thanks.

[2020-12-29 15:09] #448 closed

[2020-12-31 20:40] reymalahay opened #452 "Keystrokes for generating class-specific methods"
Hi all,

Seasons Greetings and Happy New Year!

Is there a set of keystrokes to generate class-specific methods?

So this is the scenario:
I am in a class called MySecretClass and i wish to define a method that is specific to that class only. Let's call the method mySecretMethod().

So let's say i am in line 50, and i write a method invocation for mySecretMethod(), but i must still define mySecret

[2021-01-04 05:31] artur-shaik commented on #452
Hello and Happy New Year!

As I understand you want to generate method with name that is under cursor now? If yes, so I think there is no such ability now. But may be this is something that can be implemented later.

[2021-01-04 05:45] reymalahay commented on #452
@artur-shaik that's correct. no worries. thanks all the same.

[2021-01-04 05:45] #452 closed

[2021-01-27 01:50] arijitmazumdar commented on #446
It worked with me with <C-x><C-o>. I can see all the methods of a class to be selected. What are these options ? Is there any docs where I can read about them?

[2021-01-27 02:13] artur-shaik commented on #446
@arijitmazumdar can you illustrate your question?

[2021-01-28 02:18] carlsonsantana opened #453 "Error message when execute "JCimportSort" command"
## Actual behavior (Required!)
Vim show an error message when execute "JCimportSort" command first time, but execute the command. This error only occurs in one project, others work without errors.

## Expected behavior (Required!)
Not show the error message in any project.

## The steps to reproduce actual behavior (Required!)
 1. Open a Java file;
 2. Go to command mode;
 3. Execute command `JCim

[2021-01-28 03:36] artur-shaik commented on #453
May be you can make PR?

[2021-01-31 02:49] #453 closed

[2021-01-31 05:56] arijitmazumdar commented on #446
![Screenshot from 2021-01-31 11-23-39](https://user-images.githubusercontent.com/13167516/106375995-080a7480-63b7-11eb-892c-cf01227d85cf.png)
 Please see the attached image after I added autocomplete. There are 2 tabs [Scratch][Preview] on the top. How to get rid of them?

[2021-02-03 14:03] artur-shaik commented on #446
Seems like it is not javacomplete function. What are you using for triggering completion? YouCompleteMe or deoplete may be?

[2021-03-14 01:22] carlsonsantana opened #455 "Importing a class of same package"
## Actual behavior
When autocomplete a class of same package and press space, dot or parentheses key the plugin is creating a import statement. Also is possible reproduce this problem when execute the command `JCimportAddSmart` when the class is selected.

## Expected behavior
Only create import statement for classes of different packages.

## The steps to reproduce actual behavior
 1. Create a cl

[2021-03-15 06:45] mlthati opened #456 "JavaComplete2 Installation"
Dear Sir
I am not able to add Javacomplete2 plugin to my vim. Please help me. I enclosed the .vimrc file along with

-Madhubabu
[vimrc.txt](https://github.com/artur-shaik/vim-javacomplete2/files/6139284/vimrc.txt)

[2021-03-15 16:15] artur-shaik commented on #456
You need, at least this line in your vimrc: `Plugin 'artur-shaik/vim-javacomplete2'`. Also you need completion manager like YouCompleteMe or deoplete.

May be you should try to use https://github.com/SpaceVim/SpaceVim/ first. Or try to find tutorial for completion functionallity in vim.

[2021-03-15 16:15] #456 closed

[2021-03-18 07:44] artur-shaik commented on #455
Yep, can confirm. Thanks.

[2021-03-18 08:10] #455 closed

[2021-05-13 11:11] NobodyXu opened #457 "getter auto generated by lombok is not recognized"
## Actual behavior

I am using [lombok](https://projectlombok.org/) in my project, and the getters auto generated by it isn't recognized by vim-javacomplete2 at all and is
treated as errors.

I've tried adding `lombok.config` to my project:

[code]

but it doesn't help at all.

## Expected behavior

vim-javacomplete2 shoulld preprocess annotation and let lombok auto generate these getters.

## The

[2021-06-10 17:53] rgdgr8 opened #458 "vim-javacomplete2 not working on Mac"
## The have installed javacomplete2 using vim-plug and I have my vim using +python3.
The plugin status is OK but still javacomplete2 is not autocompleting anything.
 I expected it to auto-complete keywords and built in class name like package, public, private, List, etc.

## The steps to reproduce actual behavior:
 1. Install vim-plug(if not already installed)
 2. Install vim which supports +pytho

[2021-06-10 19:00] #458 closed

[2021-07-03 08:15] vuvgaG opened #459 "Java showing error when using spring and maven"
## Actual behavior (Required!)

![image](https://user-images.githubusercontent.com/75189112/124352131-6ea9ed80-dbf6-11eb-88b4-ce9e9e31a428.png)

## Expected behavior (Required!)
I don't expect an error.

## The steps to reproduce actual behavior (Required!)
Open a initial spin boot application

## Environment (Required!)
 * OS: Mac OS 11.4
 * Neovim version: 5.0

## Q&A
[code]
[code]

[2021-07-03 10:18] artur-shaik commented on #459
Does it happen when you just type `org`?

[2021-07-03 10:32] vuvgaG-dukgu3-wysnox commented on #459
No. Not when i tried again. The error came after typing `import org.springframe.`

[2021-07-03 10:32] vuvgaG-dukgu3-wysnox commented on #459
No. Not when i tried again. The error came after typing `import org.springframe.`

[2021-07-03 10:34] artur-shaik commented on #459
Copy and paste all of the error window in screenshot, please.

[2021-07-03 11:00] vuvgaG-dukgu3-wysnox commented on #459
How can I get this information

[2021-07-03 11:07] artur-shaik commented on #459
Usually you can use `:messages` command. Can you try to clean this directory: `/Users/vuvgag/.cache/javacomplete2//cache/` and then try again.

[2021-07-03 11:09] vuvgaG-dukgu3-wysnox commented on #459
that screenshot shows all the messages in :messages

[2021-07-03 11:09] vuvgaG-dukgu3-wysnox commented on #459
here is a snip from youcomlete me debugs
0703 09:13:53.909 I [main] starting javavi server on port: 65235 [Javavi]
0703 09:13:53.910 D [main] argument: -sources [Javavi]
0703 09:13:53.910 D [main] argument: -t [Javavi]
0703 09:13:53.911 D [main] argument: 300 [Javavi]
0703 09:13:53.911 D [main] argument: -base [Javavi]
0703 09:13:53.911 D [main] argument: -compiler [Javavi]
0703 09:13:53.911 D [ma

[2021-07-03 11:13] vuvgaG-dukgu3-wysnox commented on #459
After clearing the correct directory it still errors.

However the path to the cace directory was `/Users/vuvgag/.cache/javacomplete2/cache/`

Any chance this wrong path is the issue?

[2021-07-03 15:19] artur-shaik commented on #459
I don't think so. It's, actually, right.

Can you try with minimal configuration? Only `vim-javacomplete2` package. You can trigger completion manually with `C-x C-o`.

[2021-07-04 09:42] vuvgaG-dukgu3-wysnox commented on #459
How can I trigger using C-x at the time the error shows i'm in insert mode. (pressing them keys just types C-x)

[2021-07-05 04:27] artur-shaik commented on #459
I mean `Ctrl+x` then `Ctrl+o`.

[2021-07-08 02:43] vuvgaG commented on #459
No I get the same error

javacomplete error: {}

[2021-07-08 03:02] vuvgaG commented on #459
Is java 8 a solid requirement or is java >8 workable.

[code]

[2021-07-08 06:19] vuvgaG commented on #459
Same result with java 11.

I've also tried with the no google formatter path. Formatting also doesn't work

[2021-07-08 06:40] artur-shaik commented on #459
Can you prepare minimal project for me? So I can try to reproduce it.

[2021-07-08 07:01] vuvgaG commented on #459
Not really. I'm using spacevim. I tried creating a minimal project using their docker command to start it. But I can't get it working.

I'm not sure If I can do that with novim. Plus it would be a different environment. I also don't know If I can swap my vim environment easily.

Is there any other debug information you would like?

[2021-07-08 07:02] vuvgaG commented on #459
Importing works for files within the project. But not for files that are outside. Is this me making a Java woopsy?

[2021-07-08 07:15] vuvgaG commented on #459
here is an example of minimal install https://github.com/vuvgaG/spaceivm-youcompleteme. however you need spacevim https://spacevim.org which also has some requirements.

I don't recommend installing this on your base computer.

I'll see if I can spin up a vm and get a minimal version working.

[2021-07-08 08:11] vuvgaG commented on #459
Running with on ubuntu with only this plugin install via vim plug.

When invoking c-x c-o I get omifunct is not set error.

[2021-07-08 09:00] vuvgaG commented on #459
Should g:JavaComplete_LibsPath? point to something like also point to my local maven repository ~/.m2/repository/?

[2021-07-08 09:44] artur-shaik commented on #459
Here is my workflow with deoplete and vim-javacomplete2. I don't use spacevim.
![tmp-2021-07-08_15 40 47](https://user-images.githubusercontent.com/4862907/124900976-693c1100-e003-11eb-99a7-95b2bbb010ba.gif)

[2021-07-08 09:52] vuvgaG commented on #459
How does it build the classpath. I don't see that prompt anywhere

[2021-07-08 10:00] vuvgaG commented on #459
Do you support nvim?

[2021-07-08 10:50] artur-shaik commented on #459
Do you have `:JCstart` or `JCclasspathGenerate` command in vim?

Yes, of cause.

[2021-07-08 12:39] vuvgaG commented on #459
Yes, both. I've tried running them both to the same end.

Based on how long it takes, space vim must build the class path on file write.

[2021-07-08 12:41] vuvgaG commented on #459
https://github.com/SpaceVim/SpaceVim/blob/a74237108a78106757e445d335760cd8165bcef4/bundle/neomake/autoload/neomake/makers/ft/java.vim
https://github.com/SpaceVim/SpaceVim/blob/a74237108a78106757e445d335760cd8165bcef4/autoload/SpaceVim/layers/lang/java.vim
https://github.com/SpaceVim/SpaceVim/blob/a74237108a78106757e445d335760cd8165bcef4/bundle/ale/ale_linters/java/eclipselsp.vim

I'm going to have

[2021-07-08 14:51] vuvgaG commented on #459
![image](https://user-images.githubusercontent.com/75189112/124943183-32b2c600-e004-11eb-8d48-45150b03f625.png)

I got it working. I think it was an issue with my java installation.

I have seen the identical error message since getting it working, but everything continues to work fine. So not sure what that error is or what's not working.

[2021-07-08 14:51] #459 closed

[2021-08-14 10:12] Gibson0918 commented on #458
Hi, can I ask how did you resolve this issue?

[2021-08-14 10:35] rgdgr8 commented on #458
https://github.com/artur-shaik/vim-javacomplete2/issues/439#issuecomment-656987860

[2021-08-14 11:06] Gibson0918 commented on #458
Thanks!

[2021-08-21 06:41] artur-shaik commented on #457
I guess you have this error on startup because of subprojecting your source files. This should be fixed with last commit.

What about lombok, this is an extra feature that is not implemented yet.

[2021-08-21 06:41] #457 closed

[2021-08-24 11:49] artur-shaik commented on #457
Actually, lombok should work, but you need to specify compiled classes directory to `jc2` like this:

[code]

[2021-08-24 12:02] NobodyXu commented on #457
Thx, would have a try if I need to use lombok in Java again.

[2021-11-05 13:59] ErrorNoInternet opened #461 "GetClassPackage fails with `extends`"
## Actual behavior (Required!)
The autocomplete throws an error before showing me the autocomplete options if you try to use autocomplete within a class that uses `extends` with an external lib

## Expected behavior (Required!)
The autocomplete should work without any errors

## The steps to reproduce actual behavior (Required!)
1. Add a libs path
2. Create a class (for example `public class Main

[2021-11-06 04:42] artur-shaik commented on #461
Can you attache test project for me, so I can reproduce it?

[2021-11-06 07:13] ErrorNoInternet commented on #461
Nevermind, I managed to fix it by adding the `LibsPath` to classpath as well

[2021-11-06 07:13] #461 closed

[2021-11-06 23:55] slinky07 opened #462 "install not working"
## Actual behavior (Required!)
does not install

## Expected behavior (Required!)
installed expected

## The steps to reproduce actual behavior (Required!)
 1. ...i followed direction to the letter.
 2. ...tried to install along with Ultimate Vimrc and did not work, also tried on my mac by itself with pathogen and does not work either been tho I added the config line at correct location.
 3. ...

[2021-11-07 02:51] #462 closed

[2021-11-07 12:09] InfoSec812 opened #463 "Variables created using `var` are not completable."
## Actual behavior (Required!)
As shown in [THIS EXAMPLE](https://github.com/InfoSec812/vertx-matrix-params-example/blob/main/src/main/java/com/example/matrix_testing/MainVerticle.java#L21)

The variable `router` does not auto-complete correctly when initiating the omni-complete

## Expected behavior (Required!)
That I would be presented the correct options for the `Router` class type

## The step

[2021-11-07 12:44] artur-shaik commented on #463
Actually yes, not yet implemented.

[2021-11-08 11:08] InfoSec812 commented on #463
If you give me some hints, I might be able to submit a PR. I'll try to take a look later today.

[2021-11-08 13:41] artur-shaik commented on #463
I guess it requires some hacks in `vim java parser` class, that I still wish to replace with `javaparser` library.

But may be there is enough information returned by parser.

[2021-11-08 13:48] InfoSec812 commented on #463
Thanks for the hint! I'll try to look into it.

DEVEN PHILLIPS

ARCHITECT, RED HAT CLOUD NATIVE RUNTIMES PRACTICE
[image: https://www.redhat.com/] <https://www.redhat.com/>

On Mon, Nov 8, 2021 at 8:41 AM Artur Shaik ***@***.***> wrote:

[2021-11-14 13:42] wsdjeg commented on #434
@MrAkblt This has been done in #464, can you test it?

[2021-11-14 15:52] MrAkblt commented on #434
@wsdjeg Hi, I don't have the necessary development tools as I haven't used java and javacomplete for a long time. Sorry for not being able to help.

[2022-06-05 14:47] artur-shaik commented on #463
Consider switch to [jc.nvim](https://github.com/artur-shaik/jc.nvim)

[2022-06-05 14:47] #463 closed

[2022-06-05 14:47] artur-shaik commented on #434
Consider switch to [jc.nvim](https://github.com/artur-shaik/jc.nvim)

[2022-06-05 14:47] #434 closed

[2022-06-05 14:47] artur-shaik commented on #423
Consider switch to [jc.nvim](https://github.com/artur-shaik/jc.nvim)

[2022-06-05 14:47] #423 closed

[2022-06-05 14:48] artur-shaik commented on #418
Consider switch to [jc.nvim](https://github.com/artur-shaik/jc.nvim)

[2022-06-05 14:48] #418 closed

[2022-06-05 14:49] artur-shaik commented on #197
With LSP introduction I think this is not relevant anymore.

[2022-06-05 14:49] #197 closed

[2022-06-05 14:49] artur-shaik commented on #157
Consider switch to [jc.nvim](https://github.com/artur-shaik/jc.nvim)

[2022-06-05 14:49] #157 closed

[2022-06-05 14:49] #24 closed

[2022-06-05 14:50] artur-shaik commented on #18
Consider switch to [jc.nvim](https://github.com/artur-shaik/jc.nvim)

[2022-06-05 14:50] #18 closed

[2022-07-18 06:19] ShenFeng312 opened #465 "maven project cant import class from dependencies"
## Actual behavior (Required!)

show
home/shenfeng/work/myvimdemo   src/main/java/com/example/myvimdemo/MyvimdemoApplication.java                                                                                  6,4           全部
JavaComplete: classname 'SpringBootApplication' not found in any scope.

## Expected behavior (Required!)
success to import SpringBootApplication
## The steps to reproduce

[2022-07-18 06:21] ShenFeng312 commented on #465
![image](https://user-images.githubusercontent.com/49786112/179454755-ed165f33-0376-4139-95fb-a67b582860d5.png)

[2022-07-18 06:21] ShenFeng312 commented on #465
my vim config
![image](https://user-images.githubusercontent.com/49786112/179454840-b7cb301e-2a7a-448f-ac17-1c4901800cd6.png)

[2022-07-18 06:26] ShenFeng312 commented on #465
`:echo g:JavaComplete_PomPath`

result  ` `  empty

`:echo g:JavaComplete_LibsPath`
result `.`

[2022-07-18 06:31] ShenFeng312 commented on #465
and how can i use it with out C-X C-O

[2022-09-15 06:19] artur-shaik commented on #465
Please consider using [jc.nvim](https://github.com/artur-shaik/jc.nvim)

[2022-09-15 06:19] #465 closed, assigned to nobody

[2022-11-02 01:03] wsdjeg opened #466 "failed to generate classpath for gradle in windows"
## Actual behavior (Required!)
get following error:
[code]

## Expected behavior (Required!)

hope this works well in windows

## The steps to reproduce actual behavior (Required!)

testing repo: https://github.com/wsdjeg/java-springboot-bare-repository

## Environment (Required!)
 * OS: windows
 * Vim version: 8
 * Neovim version:

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have

[2022-11-02 01:04] wsdjeg commented on #466
gradle version:

[code]

[2022-11-03 05:07] artur-shaik commented on #466
Sorry, I don't have `windows` cannot debug now.

[2022-11-14 08:03] szczad commented on #466
The error also occurs on Linux. I have similar encounters.

[2022-11-16 13:47] artur-shaik commented on #466
Sorry, couldn't reproduce on linux. Maybe you can debug it and create PR?