[2015-12-28 13:10] artur-shaik commented on #169
@wsdjeg made changes to this files. Try once more please.

[2015-12-28 13:14] wsdjeg commented on #169
oh,just waitting for `Use `File.separator` everywhere`

[2015-12-28 13:25] wsdjeg commented on #169
still same as second pic above,can not load packages,other completion is ok.also the plugin will open a extra windows which does not appear in linux terminal or gvim.
![2015-12-28 21-23-17](https://cloud.githubusercontent.com/assets/13142418/12019289/3f49acd2-ada9-11e5-9fa9-74299381b057.png)

[2015-12-28 13:34] artur-shaik commented on #169
Some changes added. Try again, and show server startup logs, please.

[2015-12-28 13:48] wsdjeg commented on #169
### complete logs
![2015-12-28 21-40-28](https://cloud.githubusercontent.com/assets/13142418/12019482/a45eefd6-adab-11e5-99cb-76735e0accbb.png)

### server restart logs
![2015-12-28 21-42-24](https://cloud.githubusercontent.com/assets/13142418/12019506/0636f244-adac-11e5-8885-8ae6ffe4877e.png)

[2015-12-28 13:55] artur-shaik commented on #169
And nothing in `.javacomplete2/cache` ?

[2015-12-28 14:06] wsdjeg commented on #169
yes,the directory is exists,but is empty

[2015-12-28 14:37] artur-shaik commented on #169
Just to be sure, did you recompile server?

[2015-12-28 14:41] wsdjeg commented on #169
of cource,i have done it

[2015-12-28 17:31] adelarsq commented on #169
I did create a pull request to hide the server window on MS Windows (#171).

[2015-12-29 08:37] artur-shaik commented on #169
Ok, guys, made some changes. Can you try again. Pull, recompile, clean cache.

[2015-12-29 11:35] adelarsq commented on #169
Really nice. Imports are working now. :+1:

[2015-12-30 00:46] wsdjeg commented on #169
@adelarsq are you sure everyting works well in win? i find import still can not work in xp os;maybe it works well in win7.

[2015-12-30 01:47] adelarsq commented on #169
Yes. I didn't test so much, but even auto imports are working. I am using [vim-classpath](https://github.com/tpope/vim-classpath) to manage the classpath. I will disable tomorrow and see what happens.

[2015-12-30 06:06] artur-shaik commented on #169
@wsdjeg can you enable server logging?
[code]

[2015-12-30 11:26] wsdjeg commented on #169
here is the log
[code]

[2015-12-30 12:02] adelarsq commented on #169
Even without [vim-classpath](https://github.com/tpope/vim-classpath) plugin did work.
The log shows the follow for java.* package:
[code]

[2015-12-30 12:18] artur-shaik commented on #169
@wsdjeg ok, thanks. Let's try to catch it, try with last commit.

[2015-12-30 13:14] wsdjeg commented on #169
@adelarsq @artur-shaik  this issue can be close safety
![2015-12-30 21-09-30](https://cloud.githubusercontent.com/assets/13142418/12051128/e0fe5b54-af39-11e5-9df9-f15ebc150fa5.png)
![2015-12-30 21-09-44](https://cloud.githubusercontent.com/assets/13142418/12051127/e0d6a474-af39-11e5-9c04-01d2fc670b92.png)
![2015-12-30 21-09-58](https://cloud.githubusercontent.com/assets/13142418/12051158/45b29ef2-

[2015-12-30 13:15] wsdjeg commented on #169
I do not encount this issue

[2015-12-30 13:22] #169 closed

[2015-12-30 13:32] adelarsq commented on #169
Thanks @artur-shaik
@wsdjeg It's random. I will try to figure out what is wrong before open a new issue.

[2015-12-30 14:35] #126 closed

[2015-12-30 14:35] #153 closed

[2016-01-05 17:11] adelarsq opened #174 "Custom directory"
I want to change the `C:\Users\User1\.javacomplete2` to something like `C:\Users\User1\.vim\javacomplete2`. Is it possible?

[2016-01-05 17:39] artur-shaik commented on #174
I think we should add option for this.

[2016-01-05 20:00] adelarsq opened #175 "<esc> on import window"
`<ESC>` on import window (`<Plug>JavaComplete-Imports-Add`) chooses the first option instead of canceling the operation.

[2016-01-05 23:52] wsdjeg commented on #175
not issue,you should read the output info,the default selection is 0

[2016-01-05 23:54] wsdjeg commented on #174
if your are busy now ,I will do it tonight

[2016-01-06 00:08] wsdjeg commented on #175
and  maybe we can provide a g:var to disable this feature,but by default it is 0,because @artur-shaik want add the feature about most used suggestion

[2016-01-06 05:18] artur-shaik commented on #174
@wsdjeg, yeah, of cause you can do it.

[2016-01-06 11:13] adelarsq commented on #175
Better an option to disable, since not always the list is updated and in this case we wish to cancel.

[2016-01-06 14:27] wsdjeg commented on #175
@adelarsq In the new PR, if you want disable the auto selection of import ,you just need to add this option to you vimrc.
[code]

[2016-01-06 16:45] adelarsq commented on #175
Cool! Thanks @wsdjeg. I have added the basedir config also:
[code]

[2016-01-06 16:57] wsdjeg commented on #175
I think it is better set
[code]
because `.vim` is vim's default user root dir,rather than cache dir
but It does not work now ,because the PR has not been merged

[2016-01-06 17:08] adelarsq commented on #175
Yeap. But this is because I prefer all plugin related stuff in ~/.vim directory. I did get your pull request into my branch, so its working for me already. :+1:

[2016-01-06 17:15] wsdjeg commented on #175
maybe  you can use ~/.vim/cache/javacomplete2,because many plugin will generate cache file ,not only javacomplete2,use cache directort,will make ~/.vim tidy

[2016-01-06 17:18] adelarsq commented on #175
It's better. I already use like this for anothers plugins (ctrlp, undo, etc), but didn't remember. It's working.

[2016-01-07 12:12] zabell opened #177 "Unable to fetch classes from jar file."
Hello, I use javacomplete2 for my android projects, and have done so for a while.
I'm unable to omnicomplete after a recent update, I have a clean install with JDK8.
I've set the following without success.
autocmd FileType java setlocal omnifunc=javacomplete#Complete
let g:JavaComplete_LibsPath = "/opt/android/platforms/android-23/android.jar"

Also I used to have an .vimrc that is run for each pr

[2016-01-07 12:26] wsdjeg commented on #177
why do not use maven or gradle manager your android project? also can you show me you vimrc and structure of you project?

[2016-01-07 12:39] zabell commented on #177
Hey I do use gradle for my projects, but i want the ability to just open anyfile, type import android. <c-x><c-o> and get the list. It has worked for me all of last year. It should just fetch the classes contained in the jar file, but it seams that it doesn't.

[2016-01-07 12:43] wsdjeg commented on #177
any filetype? now the plugin only support java and jsp

[2016-01-07 12:46] zabell commented on #177
Sorry, any java file. Only java files should set the omnifunc.
autocmd FileType java setlocal omnifunc=javacomplete#Complete

[2016-01-07 12:50] wsdjeg commented on #177
ok;
can you try with this step
open a java file
then
[code]
show me the output
then
[code]
try to complete `import android.`

then show me the out put of
[code]

[2016-01-07 12:53] wsdjeg commented on #177
by the way ,if your using gradle ,I recommend you do not set g:JavaComplete_LibsPath and $CLASSPATH in your vimrc, just let `./gradlew `manager you classpath

[2016-01-07 12:58] zabell commented on #177
[code]

[code]

[2016-01-07 13:01] wsdjeg commented on #177
how about delete `~/.javacomplete2`

[2016-01-07 13:10] zabell commented on #177
That solved my problem, was it that the cache is not updated?

[2016-01-07 13:12] wsdjeg commented on #177
yes , the cache updateed by the last update time of pom.xml or build.gradle,the plugin will compare it with the time of the cache file

[2016-01-07 13:14] wsdjeg commented on #177
https://github.com/artur-shaik/vim-javacomplete2/blob/master/autoload/javacomplete.vim#L170
https://github.com/artur-shaik/vim-javacomplete2/blob/master/autoload/javacomplete.vim#L184

[2016-01-07 13:22] #177 closed

[2016-01-08 07:05] artur-shaik commented on #174
You can use `let g:JavaComplete_BaseDir = path` command to set cache directory.

[2016-01-08 07:05] #174 closed

[2016-01-08 07:07] artur-shaik commented on #175
`let g:JavaComplete_ImportDefault = -1` - should work.

[2016-01-08 07:08] #175 closed

[2016-01-08 11:16] adelarsq commented on #174
Thanks. I'm using like this now:
[code]

[2016-01-09 02:55] wsdjeg opened #179 "can not complete class name after extends or implements. get error when complete after `(`"
example:

[code]

[code]
[code]

[code]

[2016-01-09 15:18] wsdjeg opened #180 "can not complete with different generics."
here are two pictures,I think these can show what the issue is.
![2016-01-09 23-14-48](https://cloud.githubusercontent.com/assets/13142418/12216742/1486996a-b727-11e5-8f36-30f7fe15569e.png)
![2016-01-09 23-15-11](https://cloud.githubusercontent.com/assets/13142418/12216743/14976cc2-b727-11e5-8c8c-e1eb405943cb.png)

[2016-01-10 08:52] wsdjeg commented on #122
@artur-shaik I get this error again,the class is `Rectangle2D.Double`
I have Import Rectangle2D,so there is no need import Double

[2016-01-11 12:04] artur-shaik commented on #179
Fixed in fc93d16695349393cbd89d43b0465d186b21c771

[2016-01-11 12:04] #179 closed

[2016-01-11 12:12] wsdjeg commented on #179
Thanks everything ,the plugin works well.

[2016-01-11 14:19] #180 closed

[2016-01-11 14:49] wsdjeg opened #181 "New feature request,complete the method of anonymous inner class."
for example
[code]

[2016-01-12 04:15] artur-shaik commented on #163
Implemented job_control for server compilation.

[2016-01-12 07:13] wsdjeg commented on #163
amazing I will try it tonight

[2016-01-13 11:25] wsdjeg commented on #163
@artur-shaik Thanks for implements this feature,it works very well.

[2016-01-13 11:28] artur-shaik commented on #163
Yeah, now startup is not so annoying. All that is left is to implement class generation fo gradle.

[2016-01-13 11:30] wsdjeg commented on #163
gradle is a letter different with mvn ,as the execable could be `gradle` ,`./gradlew` ,`.\gradle.bat`

[2016-01-13 11:31] adelarsq commented on #163
I'm migrating my vim stuff to neovim. Thanks @artur-shaik This helps a lot :+1:

[2016-01-13 11:40] wsdjeg commented on #163
@artur-shaik do you use neosnippet and deoplete together with javacomplete2?now I am recording a video about this three plugins ,and I will show why I chooce deoplete instead of YCM. also I think @Shougo will make deoplete and neosnippte more suitable for origin omnifunc complete plugin.
now there are still some issues:
https://github.com/Shougo/neosnippet.vim/issues/322
https://github.com/Shougo/

[2016-01-14 13:58] wsdjeg opened #183 "can not complete after `this.` in inner class or anonymous class or nested class."
example
[code]
[code]

[code]

![2016-01-14 21-32-39](https://cloud.githubusercontent.com/assets/13142418/12326154/e8b2aedc-bb09-11e5-85e9-c66f0019f491.png)

[2016-01-14 15:00] #183 closed

[2016-01-15 05:11] richox opened #184 "methods inherited from Object not recognised without "this.""
public class Main {
        public void f() {
            // this.getClass().|  <- completion OK
            // getClass().|  <- completion not work, why?
        }
    }

[2016-01-15 16:09] #184 closed

[2016-01-17 12:27] wsdjeg opened #185 "JCimportsAddMissing does not work when there is some unfinished statement."
#### works well
[code]

#### can not work
[code]

#### also works well

[code]

[2016-01-17 12:29] wsdjeg commented on #185
here is logs
[code]

[2016-01-17 14:09] artur-shaik commented on #185
Javaparser can not parse errorneous java class. So it won't be fixed, until they implement continious parsing.

[2016-01-17 14:15] wsdjeg commented on #185
Strange ,it works well before

[2016-01-17 14:17] artur-shaik commented on #185
Hm, I don't think it could work earlier. Can you revert commits, to check again?

[2016-01-17 14:17] wsdjeg commented on #185
ok I will do it,

[2016-01-17 14:22] wsdjeg commented on #185
sorry,it is my fault ,it can not work earlier

[2016-01-17 14:22] #185 closed

[2016-01-21 07:49] artur-shaik commented on #163
Generation classpath with gradle and job_control done, too.

[2016-01-21 07:55] wsdjeg commented on #163
good job!!!

[2016-01-22 08:46] artur-shaik commented on #163
As I see, there is no sense to implement deoplete source, because we have all stuff in vimscript. Do I understand right?

[2016-01-22 09:19] wsdjeg commented on #163
yes,so i close that PR!

[2016-01-22 09:21] wsdjeg commented on #163
the only improvment is faster,you can have a look at deoplete-go

[2016-01-22 10:50] artur-shaik commented on #163
I have some strange deoplete completion behavior, seems like it conflict with something. So here I implemented deoplete source file, like `deoplete-go` and `clang-complete`.

https://gist.github.com/artur-shaik/9e1c221059c10d4a9c23#file-javacomplete2-py

@wsdjeg can you try it?

[2016-01-22 10:58] wsdjeg commented on #163
ok , but deoplete omni.py source  works well in my os ,can you tell me what is the `strange deoplete completion behavior`

[2016-01-22 11:27] wsdjeg commented on #163
@artur-shaik I have finished testting ,this source miss some feature,
1. fuzzy match
~~2.ignore case~~

[2016-01-22 12:47] artur-shaik commented on #163
I will close this. Any news on Deoplete should be in separate issue.

[2016-01-22 12:47] #163 closed

[2016-01-22 12:52] wsdjeg commented on #163
ok,let make this source works better

[2016-01-25 17:30] DonnieWest opened #189 "Errors building the classpath for gradle"
I'm experiencing this issue when building a Gradle project for the first time. Despite these errors, it appears that it still populates the g:JavaComplete_LibsPath correctly. If you need more information, just let me know. These same errors seem to loop over 2-3 times before finishing

![snap0000](https://cloud.githubusercontent.com/assets/1453484/12558727/c3565800-c356-11e5-8ddb-3e39aeec92c4.jpg)

[2016-01-27 10:45] artur-shaik commented on #189
Hm, that's strange. Vim or Neovim? What OS?

[2016-01-27 15:10] DonnieWest commented on #189
Neovim on Archlinux

[2016-01-27 16:04] artur-shaik commented on #189
Can you show, what you have in `:messages`

[2016-01-29 03:28] DonnieWest commented on #189
Sorry for taking so long!

Retrieving the log I get -

[code]

[2016-01-30 04:38] wsdjeg commented on #189
I can not reproduce this issue,here is my message
![2016-01-30 12 35 22](https://cloud.githubusercontent.com/assets/13142418/12693729/0bc5e830-c74e-11e5-9e54-175cda04ac2e.png)
![2016-01-30 12 35 28](https://cloud.githubusercontent.com/assets/13142418/12693730/0bcac04e-c74e-11e5-840c-e50517e6683b.png)
test with ubuntu 14.04 neovim + gnome-terminal
https://github.com/flschweiger/SwipeStack

[2016-01-30 05:07] DonnieWest commented on #189
@wsdjeg odd, I get the same errors on the SwipeStack project.

Latest Neovim, Archlinux, st terminal

java version "1.8.0_72"
Java(TM) SE Runtime Environment (build 1.8.0_72-b15)
Java HotSpot(TM) 64-Bit Server VM (build 25.72-b15, mixed mode)

[2016-01-30 05:14] wsdjeg commented on #189
Do you have vbox? can you try with ubuntu or other os?
By the way I am using gnome-terminal 3.12.3
neovim from PPA source
openjdk-8

[2016-01-30 05:18] artur-shaik commented on #189
Can you try with last commit? Just have added existense check for those variable.

[2016-01-30 05:20] wsdjeg commented on #189
maybe it is due to `a:event == 'exit' && a:data == '0'` 's unlet

[2016-01-30 05:25] DonnieWest commented on #189
Latest commit doesn't fix the issue, however, I just used a minimal config that ONLY loads this library and sets the omnifunc. That fixed it. Which means I have a bad configuration somewhere. I'll report back once I've fixed it.

Sorry guys :(

[2016-01-30 05:25] #189 closed

[2016-01-30 05:35] wsdjeg commented on #181
I hava read something from google ,and maybe it can not be impletement,because javapaser can not  paser wrong class file.

[2016-01-30 05:35] #181 closed

[2016-01-30 05:37] DonnieWest commented on #189
As a note here - it appears to be caused by the vim-android plugin. I'm investigating how to fix the issues between these two plugins

[2016-01-31 01:37] msfm opened #190 ""Unknown function: getcurpos" occurs when using JCimportXXX in older Vim"
The following ERROR "Unknown function: getcurpos" occurs when using JCimportXXX (JCimportAdd, JCimportAddI, JCimportsAddMissing and JCimportsRemoveUnused) in Vim 7.4.160, which is included in CentOS/RHEL 7:

[code]

[code]

`getcurpos()` is not available in 7.4.160 because it wasn't added until 7.4.313. I think using `getpos('.')` instead of `getcurpos()` resolve this issue.

[2016-01-31 02:15] wsdjeg commented on #190
@msfm
I have no this func,but I can use JCimportAdd,why?
![2016-01-31 10 15 12](https://cloud.githubusercontent.com/assets/13142418/12699788/91b23dbc-c803-11e5-93f3-767229505ebb.png)
![2016-01-31 10 15 24](https://cloud.githubusercontent.com/assets/13142418/12699790/92f7bf1c-c803-11e5-8a2a-52e37b211c68.png)

[2016-01-31 03:09] msfm commented on #190
Although the error occurs, adding import statement itself would work. However, your cursor position is moved to the line at the added import statement. Because the function (`getcursor()`) is called to preserve the original cursor position and get back your cursor position after adding import statement.

[2016-01-31 03:20] wsdjeg commented on #190
my cursor will go back to origin position!

[2016-01-31 14:12] msfm commented on #190
I'm not sure why your cursor goes back to original position without having `getcurpos()` func and I don't know what's happening on your environment.

Anyway, the error message "Unknown function: getcurpos" was resolved in my environment by the PR#191 which I sent.

[2016-01-31 14:29] wsdjeg commented on #190
I also feal strange,but now I remove the old vim ,and compile from the source,now I am using 7.4.1222

[2016-02-01 16:37] richox opened #193 "completion hangs on scala.tuple2"
code:

    package com.xiaoju.sparksql;

    import scala.Tuple2;

    public class Main {
        public static void main(String[] args) {
            Tuple2<String, Long> tuple;
            tuple.
        }
    }

log:

    tuple.
    Context: 1
    DotExpr: tuple.
    GetDeclaredClassName for "tuple"
    F3. "tuple.|"  typename: "Tuple2<String,Long>"
    DoGetClassInfo: Tuple2<String,Long>

[2016-02-01 16:38] richox commented on #193
tested on two different machine, always happen.

[2016-02-01 17:02] richox commented on #193
package com.xiaoju.sparksql;

    import scala.Tuple3;

    public class Main {
        public static void main(String[] args) {
            Tuple3<String, Long, Long> tuple;
            tuple.
        }
    }

completion for tuple3 is OK, strange.

[2016-02-01 17:12] richox commented on #193
completion for Tuple4 not works (no popup menu at all) but won't hang. strange too.

[2016-02-05 11:59] artur-shaik commented on #190
Fixed by #191

[2016-02-05 11:59] #190 closed

[2016-02-05 12:54] wsdjeg commented on #193
@richox is it same as https://github.com/artur-shaik/vim-javacomplete2/issues/180 ?

[2016-02-05 13:08] richox commented on #193
@wsdjeg i don't think they are the same problem. this issue happens without generic.

    Tuple2 a;
    a.

will also hang.

[2016-02-05 13:53] wsdjeg commented on #193
where is Tuple2 comes from ,I can not import this class.

[2016-02-05 13:53] wsdjeg commented on #193
where is Tuple2 comes from ,I can not import this class.

[2016-02-06 18:16] SageEx opened #194 "Not all methods are shown"
Hi, first of all thanks for this amazing plugin.
I noticed that not all associated methods are shown on `.` trigger.
Specifically, I was using `Socket` class form `java.net` and its `getInputStream()` method was not displayed in the completion menu. I am using deoplete.
Is this a bug or I need some config option ?
![2016-02-06-234510_529x300_scrot](https://cloud.githubusercontent.com/assets/714186

[2016-02-07 00:32] wsdjeg commented on #194
I also using deoplete,never encount this issue,I will test for it after ther new year holiday

[2016-02-07 09:06] SageEx opened #195 "Error with JC2 and deoplete"
Hello again,
Deoplete with JC2 greported an error.
@Shougo reported that it is an JC2 issue

Cannot fix.

Please refer to https://github.com/Shougo/deoplete.nvim/issues/158
[code]

[2016-02-08 11:47] artur-shaik commented on #195
Hm, does it reproducable? When it happens?

[2016-02-08 13:42] SageEx commented on #195
It happened once when fetching completions. After that it was triggered(on completion) randomly for that session. When I restarted neovim, I have not seen this error again. I thought it might be worth reporting.
So, no , I have not been able to reproduce it.

Shall I close this issue ?

[2016-02-08 14:17] artur-shaik commented on #195
Let's keep it for a while. When I'll have more free time, I'll investigate it.

[2016-02-11 14:39] richox commented on #193
@wsdjeg Tuple2 comes from scala-library-2.10.2.jar

[2016-02-11 14:41] wsdjeg commented on #193
I know ,but I can not complete after `import scala.`

[2016-02-11 22:55] EPadronU opened #196 "[Question] Does this plugin work with Groovy?"
I was testing the plugin with Groovy but it doesn't look to work. I got the following error when I tried to import a Groovy class:

    continuing in function javacomplete#imports#Add
                                                   Error detected while processing function javacomplete#imports#Add..javacomplete#server#Start..<SNR>92_Poll:
    line    2:
    E492: Not an editor command: Javacompl

[2016-02-11 23:01] DonnieWest commented on #196
It doesn't work, this is for Java only

[2016-02-11 23:04] EPadronU commented on #196
Thank you, @DonnieWest. I was curious about the possibility. Cheers.

[2016-02-11 23:04] #196 closed

[2016-02-13 07:19] artur-shaik commented on #194
So, @wsdjeg , could you reproduce it?

[2016-02-13 07:25] #195 closed

[2016-02-13 09:35] wsdjeg commented on #194
I will test it tonight,just finish my holiday

[2016-02-13 12:30] wsdjeg commented on #194
everthing works well
![2016-02-13 20-29-53](https://cloud.githubusercontent.com/assets/13142418/13027616/911fef06-d290-11e5-8055-a8d42e2b1d81.png)

[2016-02-13 12:56] wsdjeg commented on #193
I still can not complete the import statement,
no result after `import scala.`

[2016-02-13 12:57] wsdjeg commented on #193
[code]

[2016-02-13 13:30] artur-shaik commented on #193
@wsdjeg , check if you have jars in `~/.m2/repository/org/scala-lang`

I had the same problem, those directories were empty. I removed them, made `mvn verify`, and clean jc2 cache.

[2016-02-13 13:32] wsdjeg commented on #193
I think I have download the necessary jars
![2016-02-13 21-31-34](https://cloud.githubusercontent.com/assets/13142418/13027842/389bcdba-d299-11e5-95a2-8245d98f7031.png)

[2016-02-13 14:37] SageEx commented on #194
@wsdjeg, yea, it seems to work now for me too.
@artur-shaik any idea why it was not working then ? perhaps the completion was too slow ?

[2016-02-13 14:37] #194 closed

[2016-02-13 15:32] artur-shaik commented on #194
@SageEx not really sure why you had this issue. I have not played enough with deoplete, but I didn't have this issue when I enable deoplete first time.

[2016-02-13 15:38] wsdjeg commented on #194
Q: Is deoplete faster than neocomplete?

A: No.  Deoplete is asynchronous completion plugin.  But it does not
mean that it is faster than neocomplete.  **It can skip the completion if you**
**input the characters too fast.**  I think it is great than the speed.  You
should use faster machine for deoplete.

[2016-02-13 16:45] SageEx commented on #194
@wsdjeg @artur-shaik That must be it. Thanks a lot.

[2016-02-14 09:35] richox opened #197 "other jvm-based language completion?"
there is no scala completion for vim yet, it would be a great improvement for vim if there was a scala completion plugin.
I'm not familiar with vim-scripts, but I think javavi can be a common backend for all jvm-based languages.

[2016-02-14 14:08] richox commented on #193
I think the problem is not fully fixed, now completion for Tuple2 works, but Tuple3, Tuple4, ... still hang.
completion for SparkConf also hang:
http://pan.baidu.com/s/1dDZk3sP

[2016-02-14 14:12] richox opened #198 "#193 not fixed:("
#193 not fixed:(

[2016-02-14 14:30] wsdjeg commented on #198
please do not open issue like this,if the #193 is not been fixed, I think @artur-shaik will reopen it.

[2016-02-14 14:32] richox commented on #198
@wsdjeg sorry but i'm not sure he can get notified

[2016-02-14 14:39] wsdjeg commented on #198
you can use `@`

[2016-02-14 15:23] artur-shaik commented on #198
Yeah, @wsdjeg is right. I have notification for every message.

[2016-02-14 15:23] #198 closed

[2016-02-14 15:28] artur-shaik commented on #193
Strange, but I have it worked. All tuples and `SparkConf` give me completions.
May be you need clear jc2 cache in `~/.cache/javacomplete2/` ?

[2016-02-14 15:29] wsdjeg commented on #193
here is my pom.xml
[code]
and here is my App.java
[code]
I can use `mvn clean compile` ,but I can not complete after `import scala.`
also java check show no error
![2016-02-14 23-29-13](https://cloud.githubusercontent.com/assets/13142418/13034522/c72e35de-d372-11e5-8851-be9757114026.png)

[2016-02-14 15:34] artur-shaik commented on #193
@wsdjeg, can you look, if you have path to scala lib in classpath cache?

[2016-02-14 15:39] wsdjeg commented on #193
I think `g:JavaComplete_LibsPath` contains all the needed jars,because my plugin JavaUnit.vim works well ,and it use `g:JavaComplete_LibsPath` as classpath.

[2016-02-14 16:51] artur-shaik commented on #193
@wsdjeg but can you just check, what scala libraries you have in `~/.cache/javacomplete2/classpath/cachefile`?

[2016-02-14 17:51] richox commented on #193
@artur-shaik I cleared the cache and still have the problem.

it's strange that the problem happens only on some specified class, for example completion works for `SparkContext` but hangs for `SparkConf`

[2016-02-14 18:27] artur-shaik commented on #193
@richox by the way, there was some changes in java lib, have you recompiled it?

[2016-02-15 03:47] richox commented on #193
@artur-shaik I remove the plugin and cache, then reinstall it from scratch, now:
completion for `SparkConf` works
completion for `Tuple2` works
completion for `Tuple3` works
completion for `Tuple2<Object, Object>` works
completion for `Tuple3<Object, Object, Object>` **hangs**

[2016-02-15 03:53] wsdjeg commented on #193
@richox can you complete after `import scala._`

[2016-02-15 05:13] richox commented on #193
@wsdjeg yes i can

[2016-02-15 05:34] richox commented on #193
@artur-shaik it was my fault, completion for `Tuple3<Object, Object, Object>` does not hang but reports "Pattern not found"

[2016-02-15 09:03] artur-shaik commented on #193
Ok, some more fixes. Please, recompile javavi, before test.

[2016-02-15 12:06] wsdjeg commented on #193
still can not complete after `import scala.`;
my ~/.cache/javacomplete2/ contains this files
![2016-02-15 20-05-24](https://cloud.githubusercontent.com/assets/13142418/13048226/7aa5f2e4-d41f-11e5-9d27-ac8dbc327e07.png)
and the pom_xml is
/home/wsdjeg/.m2/repository/com/esotericsoftware/kryo/kryo/2.21/kryo-2.21.jar:/home/wsdjeg/.m2/repository/org/apache/hadoop/hadoop-mapreduce-client-jobclient/2.2.

[2016-02-15 12:07] wsdjeg commented on #193
sorry for the long context

[2016-02-15 12:57] artur-shaik commented on #193
@wsdjeg, yeah, and those Tuples live in `scala-library`. I don't know why maven doesn't download this library sometimes. I had the same issue, then I cleared maven repository's directory `org/scala/` and builded project. After that maven downloaded all libs.

[2016-02-15 13:07] wsdjeg commented on #193
ok I try it again,but can you show me your test `pom.xml`?

[2016-02-15 13:08] richox commented on #193
@artur-shaik now completion for `Tuple3<Object, Object, Object>` works! thanks veryMuch

[2016-02-15 13:28] wsdjeg commented on #193
still can not work,still has no scala-library in g:JavaComplete_libpath

[2016-02-15 13:37] artur-shaik commented on #193
@richox, thank you for bugs report.

@wsdjeg, here is it:
[code]

[2016-02-15 13:43] wsdjeg commented on #193
:sob: still can not complete after `import scala.`
and what is the out put of
`tree ~/.m2/repository/org/scala-lang -L 3`

[2016-02-15 14:11] artur-shaik commented on #193
[code]

[2016-02-15 14:12] wsdjeg commented on #193
just same as mine,really do not know why I can not complete after that

[2016-02-15 14:16] wsdjeg commented on #193
can you show me the `~/.cache/javacomplete2/classpath/path to your pom_xml`,I will compare your with mine

[2016-02-15 14:18] artur-shaik commented on #193
@wsdjeg, can you run this command:
[code]
and look for dependencies classpath.

[2016-02-15 14:22] wsdjeg commented on #193
this contains scala-library
but the `~/.cache/javacomplete2/classpath/path to your pom_xml` has no ,I do not know why.

[2016-02-15 14:26] wsdjeg commented on #193
you can see my last commens for the pom_xml
the file miss the jars after `yarn-api/2.2.0/hadoop-yarn-`
![2016-02-15 22-24-41](https://cloud.githubusercontent.com/assets/13142418/13051250/03e8bbe6-d433-11e5-8460-464949253fef.png)

[2016-02-15 14:36] wsdjeg commented on #193
Ok I got it,it is the issue of neovim not this plugin,now vim works well,but neovim miss many jars
![2016-02-15 22-33-58](https://cloud.githubusercontent.com/assets/13142418/13051495/77343962-d434-11e5-85ae-66411ab6c106.png)
and I will report it to neovim group

[2016-02-15 14:37] artur-shaik commented on #193
Hm, what is the reason of this issue?

[2016-02-15 14:39] wsdjeg commented on #193
because the neovim missed the stdout date of mvn classpath,and do not write it into cache file.
missed after `yarn-api/2.2.0/hadoop-yarn-`

[2016-02-15 14:40] richox commented on #193
@artur-shaik another problem, after applying the newest fixes, completion for `Map.Entry<Object, Object>` broken (reports "Pattern not found")

[2016-02-15 14:43] wsdjeg commented on #193
you see it only has 8346 chars
![2016-02-15 22-40-26](https://cloud.githubusercontent.com/assets/13142418/13051615/2ea2b0f6-d435-11e5-9b0b-7fd3bd122e88.png)
when i use vim create the cache it has 12488 chars
![2016-02-15 22-41-38](https://cloud.githubusercontent.com/assets/13142418/13051643/58b98932-d435-11e5-975e-b33d3edcca7e.png)

[2016-02-15 14:50] artur-shaik commented on #193
@wsdjeg ok, now I see.
@richox, looks like this one is old issue. It doesn't work for me even if I rollback.

[2016-02-16 10:57] artur-shaik commented on #193
@richox will open another issue.

[2016-02-16 10:57] #193 closed

[2016-02-16 10:58] artur-shaik opened #199 "Completion for Map.Entry<Object, Object> broken (reports "Pattern not found")"

[2016-02-18 10:26] richox opened #200 "completion for inner class not work"
compress for `org.apache.hadoop.mapreduce.Mapper.Context` OK when using `Mapper$Context` as type name:
http://pan.baidu.com/s/1i4hl29f

but not work when using `Context` as type name:
http://pan.baidu.com/s/1i4weIf7

[2016-02-18 10:51] artur-shaik commented on #200
Hm, may be for completion to work here, you need to add static import of `org.apache.hadoop.mapreduce.Mapper.Context`?

[2016-02-18 11:26] richox commented on #200
@artur-shaik we are using `Context` inside `Mapper` class so we don't need to import it. the second case can be successfully compiled.

[2016-02-18 11:40] artur-shaik commented on #200
Yeah, sorry... Here you are right. Will see what I can do...

[2016-02-18 12:23] #199 closed

[2016-02-19 04:34] wsdjeg commented on #200
@richox `github.com` support upload `*.png` file,so you can just upload your files here ,it will be easy for us to read the issue.also you can write you example code here.

[2016-02-19 04:37] wsdjeg commented on #200
and if you have import `Mapper`,I think completion after `Mapper.Context` works well

[2016-02-19 05:23] richox commented on #200
@artur-shaik uploading image to github is banned in China:(

[2016-02-19 05:26] wsdjeg commented on #200
I am in China,I can use this feature
![qq 20160112133605](https://cloud.githubusercontent.com/assets/13142418/13167232/3a069faa-d70c-11e5-875d-13f83328a088.png)

[2016-02-19 15:34] wsdjeg commented on #193
@artur-shaik I have fix this issue for neovim,should I open the PR,but I think it is not the best selution.
[code]

[2016-02-19 15:48] artur-shaik commented on #193
Yeah, you can create PR, I will look closer...

[2016-02-19 16:05] wsdjeg commented on #193
I hava opened

[2016-02-20 20:50] EPadronU commented on #197
+1

[2016-02-22 03:40] wsdjeg opened #202 "Avoid conflict of configuration file."
@artur-shaik
now the plugin support eclipse's .classpath maven's pom.xml and gralde's build.gradle.if a project has more than one configuration file.we should provid a g:var which can  control the priority order  of loadding the files.
for example by default it is g:JavaComplete_ClassPathLoaddingOrder = ['eclipse','maven','gradle']
and for gradle, there should be a g:var for disable build script `

[2016-02-22 06:26] artur-shaik commented on #202
Sounds reasonable.

On 02-21 (19:40), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-02-22 12:26] wsdjeg commented on #202
here is how I will do for this PR,
[code]

the out put is
[code]
I just let the functions be called in order

[2016-02-22 17:48] #202 closed

[2016-02-25 11:27] richox opened #205 "completion for class name sort in alphabetic order?"
OutputSimilar.sort now sorts with length of class name, which (i think) is ugly:(

[2016-02-25 11:31] wsdjeg commented on #205
I think the sortting feature has not been implemented,but if you use deoplete,it will remanber last one you seletct.for JC2 now this feature is in TODO list.

[2016-02-26 20:46] adelarsq opened #206 "Hide messages on the compile process"
On the compile process many messages are shown on the command line, including the whole pom.xml file. There is any way to avoid that and show just the error message or a success message otherwise?

[2016-02-26 22:55] andrewbenton opened #207 "Order of imports should be preserved, or follow Eclipse/NetBeans"
At the moment, all spacing in the import statement section will be removed and they are lumped together and sorted alphabetically without looking at the first token of the import.  This results in the statements being arranged in odd ways.

[2016-02-27 00:40] wsdjeg commented on #206
I will try do it

[2016-02-27 00:53] wsdjeg commented on #207
are you means split them with space,and put class from same jar together?

[2016-02-27 01:03] andrewbenton commented on #207
If possible, then putting classes with the same jar together would be fantastic.  I was more referring to this:

Say that you have some imports organized as such:

java```
package A;

import java.util.List;

import com.google.gson.JsonObject;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
[code]

However, Eclipse, Netbeans, and most FOSS that I've seen will organize sections into java,

[2016-02-27 01:13] wsdjeg commented on #207
we could provide a way like this:
1. begin with `java.`
2. begin with `javax.`
3. begin with `com.`
4. begin with `org.`
5. begin with `other`
and in each one,we separated them by same jars, and put space between 1 - 5

[2016-02-27 01:46] brcolow commented on #207
It would also be nice to have a list option where we can set the order, something like:

`let g:JavaCompleteImportOrder = ['java.', 'javax.', 'com.', 'org.', '.net']`

for customization of import order. Not sure if this would encompass all possible use-cases, though.

[2016-02-27 02:03] wsdjeg commented on #207
yeal ,just same as `g:JavaComplete_ClasspathGenerationOrder`

[2016-02-27 02:07] wsdjeg commented on #206
I have implemented this feature in the PR

[2016-02-27 02:10] wsdjeg commented on #200
@richox can you show me some example whe text,please do not use image.

[2016-02-27 13:53] #206 closed

[2016-02-27 14:07] #205 closed

[2016-02-27 14:08] artur-shaik commented on #205
Ok, made it alphabetically ordered for now. Looks better I think, too.

[2016-02-28 06:30] wsdjeg commented on #207
@andrewbenton @brcolow I have implement this feature ,can you have a try?

[2016-02-29 12:27] adelarsq commented on #206
Thanks :+1:

[2016-02-29 21:45] andrewbenton opened #210 "Do not ask to import already fulfilled types"
As an example, if you have:

[code]

Then when you run JCimportAddMissing, you will still be prompted to choose between importing `java.lang.StringBuilder` or `com.sun.xml.internal.ws.client.sei.ResponseBuilder$StringBuilder` or `com.sun.xml.internal.ws.server.sei.EndpointArgumentsBuilder$StringBuilder`.  These implicitly imported objects shouldn't need to be checked each time.

[2016-02-29 21:47] andrewbenton opened #211 "Choosing between imports provides no escape"
While 90% of the time when importing you are going to want to choose one of the available options, there should also be an escape available so that none of the provided options are chosen for an import.

[2016-02-29 23:23] wsdjeg commented on #210
I do not know about that two classes ,but I think if it is static inner class ,it should not be remove;
wu should not miss any possible class

[2016-02-29 23:26] wsdjeg commented on #211
can you show me an example,I can not understand.

[2016-02-29 23:43] andrewbenton commented on #210
I just saw the issue that you filed.  Perhaps we can add an option to avoid asking about classes that seem to already be imported?  I find having to reaffirm my use of java.lang.* to be a nuisance more often than a help.

[2016-03-01 00:07] andrewbenton commented on #211
When you are given the list of imports to choose from, whether you are using importAdd or importAddMissing, you are forced to make a choice for one import.  There should be a way to skip an import if you don't want to take any of the choices.

You can actually do this by entering invalid input such as `-1`, which I only found after playing around with it.

[2016-03-01 00:13] andrewbenton opened #212 "Sort import suggestions by likelyhood of use."
There's no empirical way to do this, however the import order could probably be improved by sorting first based on non-static over static, then on java libraries vs others, then alphabetically.  Not really necessary, but certainly a 'nice to have'.

[2016-03-01 00:21] wsdjeg commented on #210
no,it is not a good idea,because if you has wrong imports in your file,you will not get any suggestion,for example
you hava `import java.util.Date;`  but you want `java.sql.Date`,if you add this option ,you will not get suggestion,and `java.lang.*` is hidden  import ,you do not need add to your file,

[2016-03-01 00:24] wsdjeg commented on #210
for example
[code]
if you add this option ,you will not get other class named String,but if I want `com.wsdjeg.String` how do I get it?

[2016-03-01 00:26] wsdjeg commented on #211
this feature has been implemented ,please see readme

[2016-03-01 00:27] wsdjeg commented on #211
let g:JavaComplete_ImportDefault = 0 - the default selection of import options. By default it is 0, which means automatically select first one. To make nothing on default set -1.

[2016-03-01 00:46] wsdjeg commented on #212
@andrewbenton do you mean put the most use imports at beginning,if so,you can see TODO list,it will be implement,but need time.
@artur-shaik
   to implement this feature,we need `Cross session cache` to remamber what is the most used imports, and an backup command is needed
   for example
   `JCsaveImportsOrderCache ~/path/to/your_back_up_dir`

ordercache:
[code]
for maven project the projectA key

[2016-03-01 00:50] andrewbenton commented on #210
I understand what you are saying, but for most people most times, they will want to avoid that behavior.  Having an option, even if it isn't the default, that allows you to opt out of that behavior would be useful.  It would not modify the default behavior.

[2016-03-01 00:54] andrewbenton commented on #212
I'm not referring to putting the most used imports at the beginning, though I'm looking forward to that.  As nice as a frequency based sort would be, I'm suggesting that the sort could be based on some loose model of what the typical Java programmer uses.

[2016-03-01 00:55] wsdjeg commented on #210
ok but I think another command is need,
`JCimportsAddMissing` do this case,
`JCimportsRegenerate` do just like what `JCimportsAddMissing` do now

[2016-03-01 01:01] wsdjeg commented on #210
and maybe it not good to change `JCimportsAddMissing` behavior,just add an option or new command

[2016-03-01 01:05] wsdjeg commented on #212
I am sorry ,I am not very family with different type java programe,so what is the `based on some loose model of what the typical Java programmer uses` rally mean?

[2016-03-03 07:13] artur-shaik commented on #210
I think, we can create editable global variable with some popular `java.lang` classes, that will work like exceptions for import (include them automatically).

[2016-03-03 07:32] wsdjeg commented on #210
@artur-shaik do you mean a global dict?such as
{
 'String':'java.lang.String',
 'Object':'java.lang.Object'
}
if the class name is in the keys of such dict,just use the value of the key as the full class name.

[2016-03-03 07:56] artur-shaik commented on #210
Yeah, something like this...
On 03-02 (23:32), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-03-03 07:59] wsdjeg commented on #210
I think I can implement it ,but by default,it should be empty dict,what do you think?

[2016-03-03 08:07] artur-shaik commented on #210
I think, at least `String` and `Object` should be there by default. May
be some body will give some more suggestions.

On 03-02 (23:59), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-03-03 08:09] wsdjeg commented on #210
I have another idea about this feature,for example `let g:JavaComplete_test=['java.lang.']`,if the class can be found in such package,just use this as the full name.it will be more faster than filter

[2016-03-03 08:14] artur-shaik commented on #210
Yeah, I think list is better for this.

On 03-03 (00:09), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-03-03 12:30] wsdjeg commented on #210
@artur-shaik I have implement this feature,anyone want to skip `String` when he use addimports function,he just need to add `java.lang.String` to `g:JavaComplete_RegularClasses`.now only `JCimportAdd` add `JCimportAddI` works well, I will do more for `JCimportsAddMissing`.

[2016-03-03 13:10] wsdjeg commented on #210
I have implement `JCimportsAddMissing` skipping classes ,anyone can test it?

[2016-03-03 13:40] wsdjeg opened #213 "Add import statements to the wrong position!"
when there are not import statements in current file,and package statements is not at the first line.
for example
[code]
the after add import it will be
[code]

I think it is due to how to find the begin line of import statements,I will try to fix it in next commit.

[2016-03-03 14:41] wsdjeg commented on #213
I have fix this issue; here is the diff file,I wil push it to #209
[code]

[2016-03-03 15:57] wsdjeg commented on #211
@andrewbenton I have implement this feature,you can use `g:JavaComplete_RegularClasses` set some classes that you already know its full name

[2016-03-04 13:42] malteneuss opened #215 "Change vim-plug example to load only on java files"
Would it be a problem to change the vim-plug installation example from
`Plug 'artur-shaik/vim-javacomplete2`
to
`Plug 'artur-shaik/vim-javacomplete2, { 'for': 'java' }`
so that this java-plugin is really only loaded when opening a java file?

[2016-03-04 14:41] artur-shaik commented on #212
Made some changes. What do you think? Order based on `JavaComplete_ImportOrder` list. Static moved to the end. Still without 'most used', but eliminates those mess we have now.

![screen7](https://cloud.githubusercontent.com/assets/4862907/13529976/24330090-e249-11e5-82a7-e2c47770849e.jpeg)

[2016-03-04 15:40] artur-shaik commented on #210
@wsdjeg working nice. I just made population `s:RegularClassesDict` with choosed option. This give us ability not to ask for candidats next time we adding import for the same class name.

So, now we need find way to make it persistent, and have ability to clear dictionary if we made mistake.

[2016-03-04 16:20] artur-shaik commented on #210
Ok, added new command that will use known options.

If you need to change option just use old command.

Now we need to permanently save this list for project.

[2016-03-04 17:30] wsdjeg commented on #210
that is just what i thinked tonight

[2016-03-04 17:37] wsdjeg commented on #210
I found we usually have same idea ~_~

[2016-03-04 17:41] artur-shaik commented on #210
@wsdjeg that's great :smile:

[2016-03-04 17:44] wsdjeg commented on #210
I just got off the plane, about three days of travel.But I took the computer with me.

[2016-03-04 18:03] artur-shaik commented on #210
Good, have a nice trip. And turn off your computer, enjoy your travel :smile:

[2016-03-04 19:21] adelarsq commented on #215
Works. But I don't see any benefits to do this.

[2016-03-05 00:00] wsdjeg commented on #215
no need lazy load.because this plugin do not autoload anything when vim startup.

[2016-03-05 05:44] wsdjeg commented on #210
@artur-shaik
I think meybe here we should use smartAdd
https://github.com/artur-shaik/vim-javacomplete2/blob/fbea3577745eb865d91bc5fb53944e5de9eb0cbb/autoload/javacomplete.vim#L142
 `call javacomplete#imports#Add(1)`

[2016-03-05 05:58] wsdjeg commented on #210
I have a little confused on this logic at begin,but after after a little thought.
[code]
This means if we want to use the dict,we need `a:0 == 0 && !a:1 && index(keys(s:RegularClassesDict), classname) < 0`

so the above code is same as
[code]

[2016-03-05 06:48] artur-shaik commented on #210
@wsdjeg , yes, you're right...

[2016-03-05 11:13] malteneuss commented on #215
I see. Then i consider this issue closed.

[2016-03-05 11:13] #215 closed

[2016-03-05 11:38] malteneuss opened #217 "Kill javac process on vim exit"
When opening a java file in neovim, a javac compiler process is created to generate autocompletion information, which apparantly takes quite a long time to complete on a bigger java project.
I noticed a java compiler process started at each vim opening but not terminated when vim is closed. When i close and reopen neovim several times in a short time period, e.g. to test some vim configuration, th

[2016-03-05 12:24] wsdjeg commented on #217
never encounter this issue,can you test with mini vimrc?and with the info you show me,I can not test for this issue.
you shoud show me such info
1. your os
2. javac version
3. can you use `mvn compile` build project successfully
4. minivimrc
5. vim/neovim version

[2016-03-05 12:28] wsdjeg commented on #217
and can you show me the command line ,in the first pic,only half of the command line i can see

[2016-03-05 15:30] artur-shaik commented on #217
@malteneuss can you try to set `g:JavaComplete_ServerAutoShutdownTime` variable (in seconds). The daemon will kill itself if there will no request during this time.

Normally daemon should be terminated on vim exit, but sometimes this happen, that's why we added timeout killer.

[2016-03-11 06:15] artur-shaik commented on #217
@malteneuss any progress with it?

[2016-03-11 08:03] brcolow opened #219 "Cannot build gradle classpath"
Using neovim version `NVIM v0.1.3-244-g3e0fab6`, Arch Linux, gnome-terminal, I am getting the following errors when opening this Java project: https://github.com/TestFX/TestFX.

[code]

[2016-03-11 12:22] artur-shaik commented on #207
Ok, now we have option to switch ordering by package names, or by jar files.

[2016-03-11 12:25] wsdjeg commented on #207
great work,thanks

[2016-03-11 12:43] artur-shaik commented on #207
@wsdjeg yeah, and those java code still requires huge refactoring. :scream:

[2016-03-11 12:59] wsdjeg commented on #207
yeah,it is an hard work.by the way ,do you use irc?

[2016-03-11 13:10] artur-shaik commented on #207
@wsdjeg yes, sometimes.

[2016-03-11 13:11] wsdjeg commented on #207
now I am using irssi in neovim'terminal buffer,it look really great,and support vim plugin.

[2016-03-11 13:27] artur-shaik commented on #207
Cool... )
On 03-11 (05:11), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-03-11 15:20] siphiuel commented on #219
Can confirm in my case as well (Neovim 0.1.2, OS X 10.11), with the following messages:

[code]
Plugin works perfectly for Vim (7.4.1525).

[2016-03-12 10:30] rajat-explorer opened #220 "No Javavi library classes found, it means that we couldn't compile it. Do you have JDK8+ installed?"
Using JDK 8
java-version output
`java -version
openjdk version "1.8.0_72-internal"
OpenJDK Runtime Environment (build 1.8.0_72-internal-b15)
OpenJDK 64-Bit Server VM (build 25.72-b15, mixed mode)
`
Vim Version
`VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Feb 29 2016 04:33:06)
Included patches: 1-1459
Modified by pi-rho
`

[2016-03-12 11:03] wsdjeg commented on #220
what is your reproduce step?
and can you show me  minivimrc?

[2016-03-12 11:06] rajat-explorer commented on #220
cat .vimrc output
`execute pathogen#infect()
syntax on
filetype plugin indent on
set statusline+=%#warningmsg#
set statusline+=%{SyntasticStatuslineFlag()}
set statusline+=%*
autocmd FileType java setlocal omnifunc=javacomplete#Complete
nmap <F4> <Plug>(JavaComplete-Imports-Add)
imap <F4> <Plug>(JavaComplete-Imports-Add)
nmap <F5> <Plug>(JavaComplete-Imports-AddMissing)
imap <F5> <Plug>(JavaComple

[2016-03-12 11:11] rajat-explorer commented on #220
@wsdjeg  updated the title to include exact error msg.

[2016-03-12 11:12] wsdjeg commented on #220
I know,the message,but how do you install this plugn?via Vundle or dein?

[2016-03-12 11:13] rajat-explorer commented on #220
i did it via pathogen as mentioned on the readme

[2016-03-12 11:15] wsdjeg commented on #220
here is my minivimrc
[code]
you need delete the `/vim-javacomplete2/libs/javavi/targets`
then open a new java file ,just wait for the vim auto compile this javavi lib.

[2016-03-12 11:20] wsdjeg commented on #220
how about `call javacomplete#server#Compile()`,and wait ,do you have `mvn` in your path?

[2016-03-12 11:22] rajat-explorer commented on #220
@wsdjeg  rebuilding the lib solved the problem
Thanks!

[2016-03-12 11:23] wsdjeg commented on #220
welcome

[2016-03-12 15:39] artur-shaik commented on #219
Hm, cannot reproduce with `0.1.3-340`. Can you get what exactly happened with gradle execution?

[2016-03-12 19:23] brcolow commented on #219
Sure, how does one do that?

[2016-03-13 11:38] wsdjeg commented on #219
I can not reprodue this issue.
`echo g:JavaComplete_Libpath`
show me
[code]

[2016-03-13 16:13] artur-shaik commented on #219
@brcolow you can try enable `g:JavaComplete_ShowExternalCommandsOutput` to see output.

[2016-03-13 22:48] brcolow commented on #219
It seems that this is not an issue with Javacomplete2 itself, but with gradle. Because, if I run:

`gradle classpath build process --debug --stacktrace` in root project directory of TestFX project, I get an error. So, it is not Javacomplete2's problem I think. For reference here is the (very long) [stack trace](http://pastebin.com/DzmWcsfi).

[2016-03-13 23:43] wsdjeg commented on #219
sorry.as Shougo says.most people use gradle as default.so we change to gradle

[2016-03-14 02:38] DonnieWest commented on #219
If a gradle wrapper has been included in a project, the expectation is that the wrapper will be used instead of the system binary.

[2016-03-14 03:21] wsdjeg commented on #219
so you means ./gradlew should be default if it is exist?

from my phone

-------- 原始邮件 --------
主题：Re: [vim-javacomplete2] Cannot build gradle classpath (#219)
发件人：Donnie West
收件人：artur-shaik/vim-javacomplete2
抄送：Wang Shidong

If a gradle wrapper has been included in a project, the expectation is that the wrapper will be used instead of the system binary.

---
Reply to this email directly or view

[2016-03-14 03:40] DonnieWest commented on #219
Correct, if a user has a ./gradlew in their project then that is intentional. It's done that way so that the same version of Gradle can be used regardless of what is installed on a machine (For CI or keep your software team on the same version of Gradle)

[2016-03-14 05:43] artur-shaik commented on #219
So, should we give priority to local executable `./gradlew`?

[2016-03-14 05:54] wsdjeg commented on #219
we make the change because @Shougo ask me this question in gitter.im,so if we change the default value,I think maybe he should know about it.

[2016-03-14 12:22] Shougo commented on #219
If this change works in Android project properly, :+1:

[2016-03-14 12:26] wsdjeg commented on #219
thanks for reply,I will try to add this feature after #222 be merged.

[2016-03-14 13:38] wsdjeg commented on #219
@artur-shaik I need to use the absolute path of `./gradlew` because maybe some people do not use vim-rooter. I think maybe that is why @Shougo get freeze when open an java file.

[2016-03-14 13:46] artur-shaik commented on #219
May be in this case you can use `g:JavaComplete_GradlePath`?

On 03-14 (06:38), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-03-14 14:27] wsdjeg commented on #219
Done

[2016-03-14 15:34] #210 closed

[2016-03-14 15:34] #213 closed

[2016-03-14 15:35] #207 closed

[2016-03-14 15:35] #211 closed

[2016-03-14 15:35] #212 closed

[2016-03-14 15:37] wsdjeg commented on #212
nice!!

[2016-03-14 15:43] #219 closed

[2016-03-15 16:25] not-napoleon opened #224 "Add License file please"
Hello,

First off, thank you for your work on this project.  As a java developer frustrated with eclim, this is exactly what I was looking for.  That said, I am hesitant to use it, much less modify it, without knowing what terms you are distributing it under.  Please add a license file so folks can know exactly what your intentions are.

You can read more about why open source projects on github n

[2016-03-15 19:40] DonnieWest commented on #224
It looks as though there's a License header on [java_parser.vim](https://github.com/artur-shaik/vim-javacomplete2/blob/master/autoload/java_parser.vim) so I would assume the _intent_ is to put it all under the same license as VIM itself. A LICENSE file would be greatly helpful though

[2016-03-16 04:58] DonnieWest opened #225 "No longer completes classes on Android"
## Actual behavior (Required!)
When attempting to complete an import in an Android project, Javacomplete says "packages still empty, try later. indexing..." even on non-android imports

Also related behavior, when completing within a class that extends an Android component there are missing completions when completing ```this``` or ```super```

## Expected behavior (Required!)
Should give imports

[2016-03-16 08:58] artur-shaik commented on #224
Hi, thank you for intent of using this plugin.

What about licensing. I really want to add something like this: https://github.com/scrooloose/syntastic/blob/master/LICENCE, but as @DonnieWest said, original plugin was licensed under VIM license, so I think I will add it as you ask. Not really like those 'defaut copyright laws', hope somewhen it will be changed.

So, thank you for advice.

[2016-03-16 09:06] #224 closed

[2016-03-16 09:09] artur-shaik commented on #225
Please, can you provide `JavaviDebug` logs?

[2016-03-16 13:45] wsdjeg opened #226 "Unnecessary warnings"
## Actual behavior (Required!)
in neovim ,when exec mvn effective-pom will out put
`Effective POMs, after inheritance, interpolation, and profiles are applied:`
but in the code of JC2
https://github.com/artur-shaik/vim-javacomplete2/blob/master/autoload/javacomplete/classpath/maven.vim#L100
here you will get 1,so this statement will be echo as an warning.

## Expected behavior (Required!)

hid thi

[2016-03-16 15:55] wsdjeg commented on #225
@DonnieWest
`./gradlew build` show me
[code]

[2016-03-16 16:24] DonnieWest commented on #225
@wsdjeg must be a sad bug on their end - try editing the distributionUrl in /home/wsdjeg/forks/plaid/gradle/wrapper/gradle-wrapper.properties to gradle-2.10-all.zip

@artur-shaik I'll get those logs to you tonight

[2016-03-16 17:01] #226 closed

[2016-03-17 00:46] DonnieWest commented on #225
http://pastebin.com/kfJ4nyzY - javavi debug

http://pastebin.com/XP2Y6qrL - cache file

You can see in the Javavi Debug log that it has a "file not found" exception, but my cache file (it's the very first entry, so you don't have to go find it in all the jars being included) correctly lists the location without the "." in front of the path

[2016-03-17 06:36] artur-shaik commented on #225
Hm, look like we missed `:`...

[2016-03-17 09:52] artur-shaik commented on #225
Can you try again with 1dd7b6b30df544f6b6520946d580b5a43b4ca171 ?

[2016-03-17 14:18] DonnieWest commented on #225
Thank you! That fixes the import statements, but it does not fix completions on ```this``` and ```super```

[2016-03-17 15:14] artur-shaik commented on #225
@DonnieWest nice. Can you show class declaration, just want try to reproduce it.

[2016-03-18 02:41] DonnieWest commented on #225
I went ahead and created a the smallest sample application that I can get to trigger this: the class declaration in question can be found [here](https://github.com/DonnieWest/Sample-Project-for-Javacomplete-225/blob/master/app/src/main/java/com/donniewest/sample/MainActivity.java)

Unfortunately, it's still an Android project so I know it would be most helpful to whittle down exactly what is causi

[2016-03-18 03:30] wsdjeg commented on #225
I will try it tonight .

[2016-03-18 07:35] artur-shaik commented on #225
Strange behavoir, when we try to find class in class path we have this exception:

[code]
Somebody know what is `android.support.v4.app.ActivityCompatApi23$RequestPermissionsRequestCodeValidator` ? Where is it, and how it refers to `android.support.v7.app.AppCompatActivity` ?

[2016-03-18 09:27] mattn opened #229 "Can't complete "".getBytes().length"
## Actual behavior
No candidates

## Expected behavior
At least, `length` should be appeared.

## The steps to reproduce actual behavior
 1. `<C-X><C-O>` after `"".get`. Then select getBytes(). This works fine.
 2. After 1, type `.<C-X><C-O>`

## Environment
 * OS: Windows
 * Vim version: 7.4.1583

[2016-03-18 13:02] wsdjeg commented on #225
test with your test project
./gradlew build shows
[code]
but I have installed the support lib in sdk
![2016-03-18 21-02-06](https://cloud.githubusercontent.com/assets/13142418/13878479/ba30c75e-ed4c-11e5-907d-c36288c94cf9.png)

[2016-03-18 13:06] wsdjeg commented on #229
can confirm also happened in linux.
example
[code]

[2016-03-18 13:25] wsdjeg commented on #225
@DonnieWest I think maybe it is not the issue with javacomplete2,because with the latest SDK,I can not see v7 jars,in the support lib directory,but I can see V4 V13 ,in V7 directory,only `src` directory
[code]

[2016-03-18 14:26] DonnieWest commented on #225
@artur-shaik I can dig deeper when I get home, but that class is referenced through AppCompat.java [here](https://android.googlesource.com/platform/frameworks/support/+/refs/heads/master/v7/appcompat/src/android/support/v7/app/AppCompatActivity.java#25)

Which is [here](https://android.googlesource.com/platform/frameworks/support/+/refs/heads/master/v4/java/android/support/v4/app/ActivityCompat.ja

[2016-03-18 14:43] wsdjeg commented on #225
opps,
[code]
but I do not know why `./gradlew build can not work`

[2016-03-19 05:25] artur-shaik commented on #225
Ok, so, if I add this to vimrc:
[code]
completion works.
Now we need understand, why path to this `jar` doesn't exist in gradle results.

[2016-03-19 05:49] wsdjeg commented on #225
can you us ./gradlew build to build the app?

[2016-03-19 06:05] artur-shaik commented on #225
@wsdjeg I used another android project, I found on my PC.

But for this test project, I have the same results as you.

[2016-03-19 06:23] #229 closed

[2016-03-19 06:23] artur-shaik commented on #229
Should be working now. Thanks for issue.

[2016-03-19 11:21] mattn commented on #229
Seems still bad. Fixed `"".getBytes()._` but `"".get_` doesn't work.

[2016-03-19 15:07] DonnieWest commented on #225
@artur-shaik @wsdjeg I forgot that I have the experimental repositories enabled on my Android SDK - sorry guys!

That does fix the issue! I'll write up a fix and submit a pull request shortly

[2016-03-19 15:44] wsdjeg commented on #225
@DonnieWest but how to fix `./gradlew build` for the test project you shown above?

[2016-03-19 15:49] DonnieWest commented on #225
@wsdjeg You probably need to open the Android sdk and install the latest preview channel tools. My Sample project, however, is just a project created by Android Studio with a single blank activity

[2016-03-19 15:52] wsdjeg commented on #225
so you means you can use `./gradlew build` sucessfully in the command line?

[2016-03-19 15:56] #225 closed

[2016-03-19 15:56] DonnieWest commented on #225
I can on my machine. I'm running Archlinux with Java 8 and the latest Android SDK Preview Channel Tools enabled and insalled

[2016-03-19 15:59] artur-shaik commented on #229
Ok, should work now.

[2016-03-19 16:01] wsdjeg commented on #225
:sob: How to enable latest sdk preview channel?

[2016-03-19 16:04] wsdjeg commented on #225
I am sorry,maybe it is due to I can not visite `dl.google.com`,I will try more about it.

[2016-03-19 16:07] DonnieWest commented on #225
@wsdjeg https://sites.google.com/a/android.com/tools/preview-channel maybe this will help you?

[2016-03-19 16:12] wsdjeg commented on #225
yes,that is what I need.

[2016-03-19 16:30] wsdjeg commented on #225
`./gradlew build` still can not work,I have install all needed jars in the sdk

[2016-03-19 16:42] wsdjeg commented on #225
this issue has been fixed by install
![2016-03-20 00-41-28](https://cloud.githubusercontent.com/assets/13142418/13899917/834cb250-ee34-11e5-80f9-870535951cfc.png)
not the issue about proview channal.

[2016-03-19 16:53] wsdjeg commented on #225
and after that,when I built this project I get this error
`Cannot run program "/usr/local/android-sdk-linux/build-tools/19.0.3/aapt": error=2, No such file or directory`
also fixed by `sudo apt-get install lib32stdc++6 lib32z1`

[2016-03-20 11:30] mattn commented on #229
Hmm, still not. The first case doesn't work.

[2016-03-20 15:42] artur-shaik commented on #229
Yeah, sorry. My fault. Now should work.

On 03-20 (04:30), mattn wrote:

--
Best regards,
Artur Shaikhullin

[2016-03-21 12:42] adelarsq commented on #217
I think that this issue can be closed, since the config solves the problem.

[2016-03-21 12:52] adelarsq commented on #197
@artur-shaik what about put javavi on his own repository? So we can improve and anothers projects can use the library.

[2016-03-21 13:21] mattn commented on #229
:+1:  Thanks!

[2016-03-21 15:23] artur-shaik commented on #200
Can you try again with latest commit, please...

[2016-03-21 15:49] #217 closed

[2016-03-21 15:57] artur-shaik commented on #197
@adelarsq I'm not really disposed to break project, because javavi still contains java source parser, and viml code still can be used for another languages.
But, still we need more investigation on it.

By the way, can we compose list of existing parsers of other languages?

[2016-03-21 16:11] wsdjeg commented on #197
I do not think split javavi is a good idea.because javavi also need javaparser.and I do not think people who use vim like `git submodel`.that is why I do not use ycm,too many third_part lib

[2016-03-21 19:01] adelarsq commented on #197
@wsdjeg Good point. I was thinking about use submodules.

[2016-03-21 19:10] adelarsq commented on #197
@artur-shaik Actually I don't know about parsers for anothers languages. For now what languages will be desired between Scala, Groovy, Clojure, Kotlin, Ceylon, Xtend, Fantom and X10 (or anothers)?

[2016-03-22 12:40] adelarsq commented on #197
@artur-shaik what about use [ANTLR](https://github.com/antlr/antlr4) and [grammars-v4](https://github.com/antlr/grammars-v4) for the parsing?

[2016-03-22 12:55] artur-shaik commented on #197
@adelarsq thank you for information, may be it really make sence to use this tools, just need more investigation on it.

[2016-03-24 00:58] mattn commented on #197
If you use clojure, I suggest to use [neoclojure](https://github.com/ujihisa/neoclojure.vim)

[2016-03-25 08:28] Dissonant-Tech opened #232 "Only completions for import"
## Actual behavior:

No completions appear when using `this.` inside of a class, or in any other situation (aside from imports which work fine).

When using <C-X><C-O> I get errors (see below).

## Expected behavior:

List of completions should appear automatically.

## The steps to reproduce actual behavior:

 1. Generate android project (in his case)
 2. Run "./gradlew build" (`let g:JavaComplet

[2016-03-25 08:47] wsdjeg commented on #232
can you run ./gradlew build sucessfully?

[2016-03-25 08:49] wsdjeg commented on #232
https://github.com/wsdjeg/DotFiles/blob/master/pic/gradle_project.png

[2016-03-25 08:57] Dissonant-Tech commented on #232
Yes `./gradlew build` is successful.

[2016-03-25 09:01] wsdjeg commented on #232
open the build.gralde file,try `:w` to update file time .

then `call javacomplete#ClearCache()`.

[2016-03-25 09:09] artur-shaik commented on #232
@Dissonant-Tech, and can you, please, try with last commits?

[2016-03-25 09:30] Dissonant-Tech commented on #232
@artur-shaik The error I get now is:

[code]

@wsdjeg No change.

Thank you both for help so far though.

[2016-03-25 09:32] artur-shaik commented on #232
@Dissonant-Tech yeah, just fixed it, can you try one more time.

[2016-03-25 09:34] Dissonant-Tech commented on #232
It''s working great now thanks!

[2016-03-25 09:38] artur-shaik commented on #232
@Dissonant-Tech great, thanks for issue.

[2016-03-25 09:44] wsdjeg commented on #232
nice to hear that!so it is the issue about how to find extend classname?

[2016-03-25 09:49] artur-shaik commented on #232
@wsdjeg yeah, that's related to #200

[2016-03-31 06:32] Nefari0uss commented on #220
Sorry to open a closed issue but I'm having the same error. Win10, Vim7.4. I use vim-plugged as my plugin manager. Tried deleting the targets folder as well as the call javacomplete#server#compile fix.

[2016-04-01 06:03] artur-shaik commented on #220
@Nefari0uss can you check if lib were compiled. Are there classes files in `/vimfolder/bundles/vim-javacomplete2/libs/javavi/target` ?

[2016-04-01 06:07] artur-shaik commented on #36
Made some implementation of this. Need testing.

[2016-04-01 06:07] #200 closed

[2016-04-01 06:07] #232 closed

[2016-04-01 07:31] wsdjeg commented on #36
+1

[2016-04-01 11:43] ElArtista opened #233 "TypeError: environment can only contain strings on Windows hosts"
[code]

I upgraded the plugin after some months, and now i get the above. I am working on a Windows machine.

[2016-04-01 12:07] artur-shaik commented on #233
Hm, that's strange. Can you show you environ variable?
You can add this:
[code]
on line 51 of `autoload/javavibridge.py` file, run vim, and copy output here. Output should be visible if you run `:messages`.

[2016-04-01 12:12] ElArtista commented on #233
(Huge environment incoming)

[2016-04-01 12:37] artur-shaik commented on #233
Ok, seems nothing special. Can you try to rollback to earler version, to find out what changes break it? As I see everything related to environment hasn't changed since last summer.

[2016-04-01 13:43] ElArtista commented on #233
Well, i tried to checkout to a previous build i was using, namely this:
[code]

Also i should note i have made this patch to work around an issue back then (that it may apply till today), this:
[code]

Well checking out the previous version i was using and applying my patch, still didn't make it work!
Any insights on this?

[2016-04-01 14:20] ElArtista commented on #233
Well, Roy from the IT Crowd series said it all ("Did you tried turning it off and on again?"). I just rebooted my machine and it worked.. I suppose that somebody wrote an utf8 environment variable that javacomplete2 could not handle...

[2016-04-01 15:01] Nefari0uss commented on #220
I created a new file with ```$vim test.java``` then ran ``` call javacomplete#server#compile```. Running ```$ ls ~/.vim/plugged/vim-javacomplete2/libs/javavi/target``` shows that there's a classes folder but nothing inside of it. Java version is 1.8.0.74 (64 bit).

[2016-04-01 15:05] artur-shaik commented on #233
Ok, glad it works. You can close issue if it will not repeate. Seems like hard to reproduce issue.

[2016-04-01 15:09] artur-shaik commented on #220
You can set `let g:JavaComplete_ShowExternalCommandsOutput = 1` than run compilation, and look in `:messages` how compilation were done.

Or you can install maven and try to compile manually with maven.

[2016-04-01 15:56] Nefari0uss commented on #220
All I get with trying the first option is ```Messages maintainer: Brad Moolenaar <Brad@vim.org>```. Let me start downloading maven and try that. What command would I have to use with Maven to compile?

[2016-04-01 16:11] artur-shaik commented on #220
Hm... ok.

For maven, you need to have it in run path. Then in command line, you need to go to `vimdir/bundles/vim-javacomplete2/libs/javavi/` and run `mvn compile`.

[2016-04-02 10:45] #233 closed

[2016-04-02 20:40] Nefari0uss commented on #220
OK, that seems to fix the error upon startup.

[2016-04-10 12:09] wsdjeg commented on #18
@artur-shaik
  Hi,now I have some free time,and I want to works on the new feature,but what is the next step of the dev on this plugin.
  which feature do user need about refactor?
  - [ ] surround by try catch
  - [ ] Extract local variable
  - [ ] Extract member variable
  - [ ] Extract parameter
  - [ ] Extract const
  - [ ] get and set

[2016-04-10 17:10] artur-shaik commented on #18
I think you can investigate on any of this, share your thoughts, or ask anything you need.

[2016-04-10 23:35] adelarsq commented on #18
@artur-shaik by the way, debugging support is on the plans?

[2016-04-11 17:59] artur-shaik commented on #18
@adelarsq have not think about it yet. As usual need more investigation :relaxed:

[2016-04-11 21:41] adelarsq commented on #18
With time I want merge this two projects: https://github.com/vim-scripts/yavdb and https://github.com/vmarquez/jvdb Some day I will do that.
One thing that would be usefull is run the actual Java class. Nowadays I use https://github.com/thinca/vim-quickrun for this.

[2016-04-11 23:21] wsdjeg commented on #18
now I am using https://github.com/wsdjeg/JavaUnit.vim  for java test

[2016-04-12 07:58] #36 closed

[2016-04-12 07:58] #220 closed

[2016-04-12 12:56] adelarsq commented on #18
Yeap. Also I use [JavaUnit.vim](https://github.com/wsdjeg/JavaUnit.vim) for Java and [vim-test](https://github.com/janko-m/vim-test) for others languages.

[2016-04-12 13:23] wsdjeg commented on #219
@brcolow in gitter.im,you want me testting https://github.com/elastic/elasticsearch.git , but it is too lager to clone.after read the PRs, I found a GOOD reason for `do not use gradle wapper`.https://github.com/elastic/elasticsearch/pull/13744.
and I do not know whether javacomplete2 works well with maven submodule project or gradle submodule project.if JC2 only put all submodule project's classpa

[2016-04-15 15:54] wsdjeg commented on #36
really love this feature; thanks for your work;

[2016-04-15 16:30] artur-shaik commented on #36
That great. You are welcome :relieved:

[2016-04-17 17:17] dannywillems opened #234 "New instance of javacomplete launched for each new java file"
## Actual behavior (Required!)
When we edit a file, the server is launched, but it is not stopped when we closed the file and exit vim.
Here, I open 4 files, with different names, and 4 instance are launched.

## Expected behavior (Required!)
Server instance killed when exit vim

## The steps to reproduce actual behavior (Required!)
 1. Open multiple java files and use htop

## Environment (Requir

[2016-04-17 17:20] wsdjeg commented on #234
#217 same issue?

[2016-04-17 17:32] adelarsq commented on #234
Many times this behavior was described. The better way I think is set a default value for `g:JavaComplete_ServerAutoShutdownTime` on the plugin, so we can avoid that.
@artur-shaik @wsdjeg What you guys think?

[2016-04-17 17:44] dannywillems commented on #234
@wsdjeg @adelarsq This variable kills the server after x seconds, not when vim exits.

[2016-04-18 05:16] artur-shaik commented on #234
@dannywillems can you call `:JCserverTerminate` after server started up, and check is server still running or not.

Just can not to catch where this issue happens.

[2016-04-22 17:28] TheTravelingSpaceman opened #235 "Startup version warning"
## Actual behavior (Required!)
Produces warning:

 on start up even though my vim version is version 7.4.52 as quoted by vim start up screen

## Expected behavior (Required!)
No error/warning

## The steps to reproduce actual behavior (Required!)
 1. Open java source file using vim
 2. Observe error
 3. Profit?

## Environment (Required!)
 * OS: Linux Mint 17.2 Rafaela (Cinnamon 64-bit)
 * Vim ver

[2016-04-22 19:35] dannywillems commented on #234
@artur-shaik Yes, the server still running.

[2016-04-22 23:53] wsdjeg commented on #235
7.4.52means 7.4.052,it is small than 7.4.143,please update your vim

[2016-04-23 04:33] artur-shaik commented on #234
@dannywillems, can you please, switch to this branch https://github.com/artur-shaik/vim-javacomplete2/tree/issue_234 and try the same again

[2016-04-23 09:36] dannywillems commented on #234
I've got this error message when I first open a java file. Server still running after exit vim. (I didn't change the initial configuration, just cloned)

![selection_006](https://cloud.githubusercontent.com/assets/6018454/14760555/64079be8-0947-11e6-80b2-a245bb685062.png)

[2016-04-23 10:46] wsdjeg commented on #234
@dannywillems
you can try with this file
test.vim
[code]
and open vim by `vim -u test.vim`
then run command `:e Foo.java`,and `:JCserverTerminate`

and see if the java server still running

[2016-04-23 14:45] artur-shaik commented on #234
@dannywillems strange, cannot reproduce this issues. You can try, as @wsdjeg suggest, with minimal configuration. And will be nice if you could debug this issue...

[2016-04-23 15:15] wsdjeg commented on #234
@dannywillems just notice you are using neovim,can you give me the output of this script?I think maybe there is something wrong with you neovim's python config.
https://github.com/tweekmonster/nvim-python-doctor

also you can try with vim,I think it should works well

[2016-04-23 15:20] dannywillems commented on #234
@wsdjeg: Here is the output
[code]

I use the neovim development version, not the last production (sorry, I edited my first comment).

[2016-04-23 15:26] dannywillems commented on #234
@wsdjeg I have the same issue with vim. ```java kg.ash.javavi.Javavi ...``` still running.

[2016-04-23 15:36] wsdjeg commented on #234
as the script output shown,no issues about your config.
do you have this in your vimrc?
[code]
@artur-shaik I think maybe #217 also do not be solved,but we do not know where the issue happend.

[2016-04-23 15:54] dannywillems commented on #234
@wsdjeg I added it but the issue still present.

[2016-04-23 16:19] wsdjeg commented on #234
stange,but I can not catch this bug now,so sorry

[2016-04-23 18:20] artur-shaik commented on #234
@wsdjeg yeah, that was just a workaround. Will leave this issue open and hope that somebody can reproduce it.

[2016-04-24 08:39] TheTravelingSpaceman commented on #235
Thanks, works now. I hope you see where the confusion crept in.

[2016-04-24 08:39] #235 closed

[2016-04-25 14:34] artek2001 opened #236 "Javacomplete functions"
Hello guys. Sorry for my bad English. My question is: when there is a function in a class (for example a function that has a name "find" and uses String) and I want to call it in my java file. But when I type a variable and put a dot, press C-x then C-o but I dont see this function. How to fix that? Thanks.

[2016-04-26 19:46] bruce3557 opened #238 "Duplicate class name from different packages"
## Actual behavior (Required!)
When I try to autocomplete a new variable, ex: DataFrame
There are many classes of ```DataFrame``` from different packages, ex: ```org.apache.spark.sql``` or ```org.eclipse.jetty.spdy.frames```
<img width="641" alt="screen shot 2016-04-27 at 3 41 42 am" src="https://cloud.githubusercontent.com/assets/4061342/14831918/43538430-0c2a-11e6-8161-ac4c872a2266.png">

## Exp

[2016-04-27 19:24] GAumala opened #239 "Is there a way to specify JDK8 path?"
I installed jdk 8, but my default is jdk7. Is there an option to specify the jdk8 path?

[2016-04-27 20:37] wsdjeg commented on #239
you can use `let g:JavaComplete_JvmLauncher = /path/to/jdk8/javac.exe`.

[2016-04-28 10:24] artur-shaik commented on #238
You mean package name should be the same? Generally this package does mean nothing, we just take first we have in database to fill that space, and sometimes this is usefull. But it doesn't matter later, and I don't think that there are any sense to sort those package names.

[2016-04-28 10:35] wsdjeg commented on #238
I thinks no need show all package name,if there are more than one package,the auto import will be done after complete class name .and you can select the package you need.

[2016-04-28 17:01] bruce3557 commented on #238
Oh.. I misunderstand the implementation of this function (actually I thought if I choose one auto-completion and it will auto-import the related package I choose). Thanks for your replies!

[2016-04-28 17:01] #238 closed

[2016-04-28 17:09] artur-shaik commented on #236
Can you do this steps, that mentioned in issue template:
[code]

[2016-04-28 17:34] artek2001 commented on #236
I want to use my method, but I can see only java default methods. Here's a link------>http://imgur.com/FvjuqRj
1)My logs after using C-x-o

 50.961181 [context] context: CONTEXT_AFTER_DOT
 50.961250 [context] dot expression: testString.
 50.961356 [complete] complete after dot. expr: testString.
 50.964657 [collector] get declared class name for: "testString"
 51.095555 [complete] F3. "testString.

[2016-04-28 17:52] artur-shaik commented on #236
Yeah, now I see. Seems like nested classes in the parent class not supported yet.

[2016-04-29 13:55] artek2001 commented on #236
Are you planning to fix it soon?

[2016-04-29 14:01] artur-shaik commented on #236
Yes, I will look it little bit later.

[2016-04-29 16:23] artur-shaik commented on #18
Setters, getters generation demo:
![output](https://cloud.githubusercontent.com/assets/4862907/14922330/d9a6ac34-0e58-11e6-8a8c-f07724e1485e.gif)

Key mappings:
[code]

Any suggesstions?

[2016-04-29 22:35] wsdjeg commented on #18
I use https://github.com/wsdjeg/java_getset.vim/blob/master/ftplugin/java_getset.vim
and it support se the template of set and get
use g:javagetset_getterTemplate

and I think some people like
[code]
and some people like
[code]

[2016-04-29 22:43] wsdjeg commented on #18
and I like Accessors buffer.it is much better than use input()

[2016-04-30 03:30] artur-shaik commented on #18
@wsdjeg yeah, to use templates would be nice. And I think `static` and `final` should be considered.

[2016-04-30 18:20] DonnieWest commented on #18
I don't know if you have access to the full AST to do this, but the ability to extract a method would be lovely as seen [here](https://www.jetbrains.com/help/idea/2016.1/extract-method.html) and the ability to intelligently rename a class or variable would be awesome (I rename class foo to class bar and all references in my project change from foo to bar)

But yeah, what you have now is amazing! T

[2016-05-01 09:53] dannywillems commented on #234
Still no solution ? Very disturbing and boring to kill manually.

[2016-05-01 11:42] artur-shaik commented on #18
@DonnieWest, yeah, I believe this is possible and is big challenge, too. Will try to move to this step by step implementing other easier to implement features. And may be separate issues for this?

[2016-05-02 04:54] artur-shaik commented on #234
@dannywillems can you test `issue_234` branch one time more?

[2016-05-02 05:55] artur-shaik commented on #234
You don't need now to switch to another branch, changes are in master now. Please try again.

[2016-05-02 08:46] dannywillems commented on #234
The issue still present. Am I the only one who has this issue ?

[2016-05-02 08:51] artur-shaik commented on #234
@pvrs12 has this issue too. He made PR to fix it, seems like it works for him: https://github.com/artur-shaik/vim-javacomplete2/pull/240

[2016-05-02 08:55] dannywillems commented on #234
Here maybe another issue:
- I open a java file. The server starts and when I type ´´´import java.``` I have some autocomplete (I use YouCompleteMe).
- I kill the server with JCserverTerminate -> The server is killed.
- I type another ```import java.``` and the server restart and I have some autocomplete.

Is it normal?

[2016-05-02 08:58] artur-shaik commented on #234
Yeah, script autostart server if it is not running on completion trigger.

[2016-05-03 05:30] crazy-canux opened #242 "When open vim get en error?"
## Actual behavior (Required!)
Download and install  javacomplate2.

## Expected behavior (Required!)
use vim to edit *.java files.

## The steps to reproduce actual behavior (Required!)
 1. ... Download and install this plugin in ~/.vim/bundle/
 2. ...Add "autocmd Filetype java setlocal omnifunc=javacomplete#Complete" in ~/.vimrc
 3. ...Trying to edit a file like test.java. But got an error:

she

[2016-05-03 05:42] wsdjeg commented on #242
@crazy-canux can you try `:call javacomplete#server#GetCompiler()`

[2016-05-03 05:50] crazy-canux commented on #242
Sure,

And got this errors:

javac: directory not found: /home/chengca/.vim/bundle/vim-javacomplete2-master/libs/javavi/target/classes

[2016-05-03 05:51] crazy-canux commented on #242
"test.java" [New File]
Error detected while processing function javacomplete#Start..javacomplete#server#Start..javacomplete#server#GetClassPath..<SNR>139_GetJavaviClassPath..javacomplete#server#Com
pile:
line   11:
E739: Cannot create directory: /home/chengca/.vim/bundle/vim-javacomplete2-master/libs/javavi/target
E739: Cannot create directory: /home/chengca/.vim/bundle/vim-javacomplete2-master/li

[2016-05-03 05:52] wsdjeg commented on #242
please do not use `vim-javacomplete2-master` ,change it to `vim-javacomplete2`

[2016-05-03 05:52] wsdjeg commented on #242
if you just down load the zip file ,please unzip it

[2016-05-03 05:59] crazy-canux commented on #242
I have lots of plugins in ~/.vim/bundle, and others are working well.
Of course I unzip it.
mv vim-javacomplete2-master vim-javacomplete2
Still the same error.

[2016-05-03 06:00] wsdjeg commented on #242
can you try with
`call mkdir('/home/chengca/.vim/bundle/vim-javacomplete2-master/libs/javavi/'. join(['target', 'classes'], g:FILE_SEP), "p")`

[2016-05-03 06:11] crazy-canux commented on #242
Yes, I am using pathogen.

How to try with " call mkdir('/home/chengca/.vim/bundle/vim-javacomplete2-master/libs/javavi/'. join(['target', 'classes'], g:FILE_SEP), "p")" ?

[2016-05-03 06:28] wsdjeg commented on #242
run in vim .
`call mkdir('/home/chengca/.vim/bundle/vim-javacomplete2-master/libs/javavi/'. join(['target', 'classes'], g:FILE_SEP), "p")`

[2016-05-03 06:43] crazy-canux commented on #242
E739: Cannot create directory: /home/chengca/.vim/bundle/vim-javacomplete2-master
E739: Cannot create directory: /home/chengca/.vim/bundle/vim-javacomplete2-master/libs/javavi/target/classes

[2016-05-03 07:36] wsdjeg commented on #242
it is due to the different file permission;
and you can run this command in terminal ,and see the different file permission between them.
[code]

[2016-05-03 07:38] wsdjeg commented on #242
Recommend to use dein.vim to manager your plugins instead of download plugin yourself.

[2016-05-03 07:43] wsdjeg commented on #242
[code]

[2016-05-03 07:47] crazy-canux commented on #242
No,
      I didn't see any different.

drwxr-xr-x  4 root root 4096 Aug  8  2015 bufexplorer
drwxr-xr-x  5 root root 4096 Aug  8  2015 ctrlp
drwxr-xr-x  6 root root 4096 Sep  8  2015 delimitMate-master
drwxr-xr-x  5 root root 4096 Jan  3 01:12 emmet-vim-master
drwxr-xr-x  9 root root 4096 Nov 19 20:15 jedi-vim-master
drwxr-xr-x  3 root root 4096 Aug  8  2015 minibufexpl
drwxr-xr-x  3 root root 409

[2016-05-03 07:55] artur-shaik commented on #242
Why `root`? Not all plugins need write permissions to it directory. JC2 plugin just cannot compile server lib to generate completions, because of your permissions.

[2016-05-03 07:58] artur-shaik commented on #234
I guess if `I kill the server with JCserverTerminate -> The server is killed.` so issue is solved for you?

[2016-05-03 07:58] #239 closed

[2016-05-03 08:15] crazy-canux commented on #242
Oh my god!
Yes, you are right.
root didn't work.

@artur-shaik @wsdjeg thanks very much!!!

[2016-05-03 08:15] #242 closed

[2016-05-03 08:16] dannywillems commented on #234
I must do it manually. It's not very convenient.

[2016-05-03 08:27] wsdjeg commented on #234
@dannywillems are you using neovim? have you tried in vim?

[2016-05-03 08:31] wsdjeg commented on #234
@artur-shaik I think this issue has be fixed,as I know @dannywillems is using YCM,and when he type into `import java.` the omnifunc will be auto started by YCM.so the server will auto restart.
and I think this issue is caused by
[code]

you need remove ` \   'java,jsp' : ['.'],`

[2016-05-03 08:57] artur-shaik commented on #234
@wsdjeg as I understand server still work after vim exit.

[2016-05-03 10:59] dannywillems commented on #234
@artur-shaik @wsdjeg Yes, the server still working after exiting vim.

[2016-05-03 11:00] dannywillems commented on #234
@wsdjeg Yes, same issue with vim. I think I will try without any other plugins and see if there is a conflict with another one. I don't have time now but I will try in some days. I will give you a feedback.

[2016-05-03 11:35] artur-shaik commented on #234
Actually that's strange, if `JCserverTerminate` works for, so must be do and on exit, too. Maybe you need bind `JCserverTerminate` manually, to run it on vim exit. This is how it runs by script:
[code]
By the way, as writted in vim help, you can check previous exit code of vim, by run `:echo v:dying` and see if it equals to 0 or 1, thus if it's bigger so `VimLeave` not triggered on exit.

[2016-05-05 16:21] #236 closed

[2016-05-05 18:14] artek2001 commented on #236
Thanks a lot

[2016-05-10 04:23] artur-shaik commented on #234
Any news?

[2016-05-10 09:56] richox opened #244 "complete constructor after new ...?"
## Actual behavior (Required!)
new Strin|
completes class names in classpath:
    String
    StringBuffer
    StringBuilder
    ...

## Expected behavior (Required!)
new Strin|
completes constructors:
    String  f  String()
    String  f  String(byte[])
    String  f  String(byte[], Charset)
    ...

## The steps to reproduce actual behavior (Required!)
 1. ...
 2. ...
 3. ...

## Environment (Re

[2016-05-10 12:39] wsdjeg commented on #244
I don's think so, for example;
if I want to use `new StringBuilder()`, how could I complete after `new Str`?

[2016-05-10 22:12] dannywillems commented on #234
@artur-shaik Don't have time to try something new for the moment, sorry. I use it with neovim but kill manually each javavi instance manually.

[2016-05-11 03:55] artur-shaik commented on #244
What you think it should do, only show what constructors exists or do any substitution on parameters?

I think, at least, we can show constructors list if we have full class name and it is already imported.

[2016-05-21 03:13] duanqiaobb opened #245 "vim-javacomplete2 can't work excepted"
**<font color="#645">There isn't not an exception for complete tips  but warnings ,"could not open socket, try again"</font>**

 I just launch gvim.exe and edit a java file named text.java. I type some code "import java.",here may be expected to have a completion prompt shown,but just a  message gave under the edit region, "couldn't open the socket, please try again".

 * OS:Windows10
 * Vim versi

[2016-05-21 13:45] artur-shaik commented on #245
Can you check, that server was compiled. You can check it by looking in this directory `C:\\Users\\Administrator\\vim-java\\bundle\\vim-javacomplete2\\libs\\javavi\\target\\classes`.

[2016-05-22 12:48] wsdjeg opened #246 "Issues about deoplete source in javacomplete2."
### 1. can not fuzzy match after dot.
![2016-05-22-20 36 06](https://cloud.githubusercontent.com/assets/13142418/15453983/37777828-205d-11e6-8fd2-e8ceef9db1ad.png)
![2016-05-22-20 36 12](https://cloud.githubusercontent.com/assets/13142418/15453985/377e5d46-205d-11e6-9c20-69cd344b71bd.png)
![2016-05-22-20 37 44](https://cloud.githubusercontent.com/assets/13142418/15453984/3779c60a-205d-11e6-992b-52

[2016-05-24 17:24] artur-shaik commented on #246
I'm not sure how to efficiently it can be implemented to make fuzzy match by jc2. Need more investigation. Will look it, little bit later.

[2016-05-24 17:38] artur-shaik commented on #246
Btw, what exactly you expect to match on first three pictures?

[2016-05-24 19:10] Eisfreak7 commented on #246
I have another problem (not sure if it deserves its own issue, since it is also deoplete related):
With deoplete and javacomplete enabled, javacomplete automatically inserts (not needed) imports while I'm typing.
For example given the following file:
[code]
Where '_' represents the cursor, typing '100' will add the line
'''
import static javafx.beans.binding.Bindings.100;
'''
to the top of the fil

[2016-05-24 23:04] wsdjeg commented on #246
@artur-shaik Shougo the author of deoplete says he will test for the source. and also I will try to do it.I want javacomete2 source works same as omni source.
on third pic, if I type into `wi`, should show me three `wait()`, same as second pic.

[2016-05-25 06:26] artur-shaik commented on #246
@Eisfreak7 I think you shoul check @wsdjeg 's DotFIles for configuring deoplete, I'm not currently use it.

[2016-05-25 06:39] wsdjeg commented on #246
@Eisfreak7 it is due to your config about deoplete, I mean, your config make deoplete auto start omni complete after `100`, also you have a class named 100. so it will be auto imported. and please update your deoplete, the latest version of deoplete remove java input_partten init.
BTW, you can see my config about deoplete.
https://github.com/wsdjeg/DotFiles/blob/master/config/nvim/config/plugins/d

[2016-05-25 06:42] wsdjeg commented on #246
auto import the class is the feature of javacomplete2, the class only be imported when you complete the class name, so you should disable auto complete class name after `100`, instead of disable the javacomplete2's feature.

[2016-05-25 18:24] Eisfreak7 commented on #246
@artur-shaik @wsdjeg Thank you, for future reference specifically these lines from @wsdjeg's configuartion were needed:
[code]
Maybe it would be a good idea to include these in the readme, since I can imagine I'm not the only one who didn't expect this bevior.

I don't fully understand why this works though. Shouldn't this basically disable the use of javacomplete2 in deoplete? (It doesn't, I stil

[2016-05-25 23:36] wsdjeg commented on #246
@Eisfreak7 deoplete do not disable the user source, I have asked @Shougo, he and ohther deoplete sources's auther both think we should enable it by default.

BTW, I think we should improve javacomplete2 source instead of disable it.

[2016-05-25 23:49] Shougo commented on #246
@wsdjeg I will fix the problem.  Please wait.

[2016-05-26 00:00] wsdjeg commented on #246
thanks!

[2016-05-28 07:50] wsdjeg opened #248 "set get and tostring generater has some error."
### tostring : type `\jts` and 1 or 2
[code]

### get set :  works well but show error `E20: Mark not set`

I will try to fix this issue.

[2016-05-28 12:04] wsdjeg commented on #248
@artur-shaik sorry, the generater func is too complex for me, I can not debug it.

[2016-05-30 10:20] artur-shaik commented on #248
Looks like affect only neovim.

[2016-05-30 12:34] wsdjeg commented on #248
I have test in both vim and neovim, all of them has the issue, and the test minivimrc is

localtest/test.vim

test by `vim -u localtest/test.vim` or `nvim -u localtest/test.vim`
[code]

[2016-05-30 13:40] #248 closed

[2016-05-30 13:41] artur-shaik commented on #248
Seems I have used some new vim's feature. Should work now. Test please.

[2016-05-30 14:04] wsdjeg commented on #248
@artur-shaik the first issue has been fixed, I will ask which patch it is in `irc #vim`, I think this patch should be merge into neovim.

but the second issue has not been fixed, after type `\jA` and `s`,the get and set has been added into file, but the cursor can not go to the old position.

[2016-05-30 15:07] artur-shaik commented on #248
Yeah, thanks, second issue is my mistake. Should be fixed now.

[2016-05-30 23:05] wsdjeg commented on #248
nice works, thanks a lot!

[2016-06-12 11:28] #246 closed

[2016-06-12 11:40] #234 closed

[2016-06-12 11:40] #245 closed

[2016-06-12 11:40] artur-shaik commented on #244
Any info?

[2016-06-18 05:21] asm0dey opened #249 "Remove unused removes static imports"
## Actual behavior

F6 removes all static imports (even used ones)

## Expected behavior

Used static imports are not removed

## The steps to reproduce actual behavior

 1. Press F6 in class with static imports

## Environment
 * OS: Ubuntu 16.04 Xenial
 * Vim version: vim-nox 7.4

[2016-06-18 05:45] wsdjeg commented on #249
we have no func for remove all static imports(even if been used), BTW, I think it is not useful func. but we have the func for Remove Unused Imports.
if you need this func I think you can add this to your vimrc. this should no be needed by all user, so we can not add that into javacomplete2.
[code]

[2016-06-18 05:53] asm0dey commented on #249
You got me wrong: I don't need function to remove static imports, I need function Imports-RemoveUnused to not remove static imports :). If it's difficult to implement then the reasonable default should be not to remove static imports at all.

[2016-06-18 06:02] wsdjeg commented on #249
@asm0dey got it, it is a bug!!

that func should not remove used imports if it is static.

[2016-06-18 06:04] wsdjeg commented on #249
BTW, can you show me a litter example java project? I want to fix it.

[2016-06-18 06:10] asm0dey commented on #249
Of course. https://github.com/asm0dey/ratpack-moneytransfer/
In Main class and in test there are static imports.

[2016-06-18 07:09] wsdjeg commented on #249
@artur-shaik
I got it, it is the issue with javavi lib.
in https://github.com/asm0dey/ratpack-moneytransfer/blob/master/src/main/java/com/github/asm0dey/moneytransfer/Main.java
`javacomplete#server#Communicate('-unused-imports -content', base64Content, 'RemoveUnusedImports')` return `['java.text.MessageFormat$format','ratpack.jackson.Jackson$json',]`

[2016-06-18 07:09] wsdjeg commented on #249
@artur-shaik
I got it, it is the issue with javavi lib.
in https://github.com/asm0dey/ratpack-moneytransfer/blob/master/src/main/java/com/github/asm0dey/moneytransfer/Main.java
`javacomplete#server#Communicate('-unused-imports -content', base64Content, 'RemoveUnusedImports')` return `['java.text.MessageFormat$format','ratpack.jackson.Jackson$json',]`

[2016-06-18 07:10] wsdjeg commented on #249
@artur-shaik
I got it, it is the issue with javavi lib.
in https://github.com/asm0dey/ratpack-moneytransfer/blob/master/src/main/java/com/github/asm0dey/moneytransfer/Main.java
`javacomplete#server#Communicate('-unused-imports -content', base64Content, 'RemoveUnusedImports')` return `['java.text.MessageFormat$format','ratpack.jackson.Jackson$json',]`

[2016-06-18 08:16] artur-shaik commented on #249
Yeah, can confirm. Will try to fix it.

[2016-06-18 09:23] artur-shaik commented on #249
Please, can you check again?

[2016-06-18 10:08] asm0dey commented on #249
Should I just run `:PluginInstall`?

[2016-06-18 12:26] wsdjeg commented on #249
`import static java.text.MessageFormat.format;` this import still be removed.

[2016-06-18 14:10] artur-shaik commented on #249
You should run `:JCserverCompile`, before try.

On 06-18 (03:08), Paul wrote:

--
Best regards,
Artur Shaikhullin

[2016-06-18 14:29] wsdjeg commented on #249
in that Main.java file in the example project shown above. there are two static imports which are used.
[code]
after run `:JCserverCompile`, I run `:JCimportsRemoveUnused`, the first one is removed. but the second one is not.

[2016-06-18 14:49] artur-shaik commented on #249
@wsdjeg , hm, yes. You are right... Will look it.

[2016-06-18 14:52] asm0dey commented on #249
Guys, test class may be interesting for you too, because there are wildcard (.*) imports.

[2016-06-18 14:56] artur-shaik commented on #249
@asm0dey, as I remember, wildcard always stays untouched by JC2.

[2016-06-18 16:35] artur-shaik commented on #249
@wsdjeg can you try again

[2016-06-19 06:46] wsdjeg commented on #249
@artur-shaik now it works well. I have tested it.

[2016-06-19 11:36] artur-shaik commented on #249
Nice, thank you...

On 06-18 (23:46), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-06-20 04:25] crazy-canux opened #250 "JavaComplete2 : TextChangedI feature needs vim version >= 7.4.143"
## Actual behavior (Required!)
when i write new java file show me:

JavaComplete2 : TextChangedI feature needs vim version >= 7.4.143
Press ENTER or type command to continue

## Expected behavior (Required!)
write java code with vim without errors or warnings.

## The steps to reproduce actual behavior (Required!)
 1. use vundle to install this plugin
 2. write "autocmd FileType java,jsp setlocal

[2016-06-20 04:40] wsdjeg commented on #250
your vim is too old, please install vim from
https://github.com/vim/vim-win32-installer
it is daily build version of vim

and javacomplete2 need vim has TextChangedI feature, that means your vim version must > 7.4.143

[2016-06-20 04:51] crazy-canux commented on #250
Ok， thanks.

But, where can I get this  >7.4.143 ?
I am using ubuntu14.04, not windows.
I didn't find it    https://github.com/vim/vim/tree/v7.0232

[2016-06-20 04:56] wsdjeg commented on #250
if you are using linux, I think it is easy buildding vim from source.
see my config for vim buildding;
https://github.com/wsdjeg/DotFiles/blob/master/build_vim.sh

and the build FAQ for ubuntu
https://github.com/wsdjeg/DotFiles/blob/master/stack/linux.md
Q:How to build vim from source?

[2016-06-20 05:17] crazy-canux commented on #250
Well, I see.
Just one question.
How to enable all functions?

[2016-06-20 05:38] crazy-canux commented on #250
configure: WARNING: unrecognized options: --enable-sniff

[2016-06-21 01:16] crazy-canux commented on #250
Fixed. Thanks.

[2016-06-21 01:16] #250 closed

[2016-06-21 06:35] artur-shaik commented on #249
@asm0dey you can reopen this issue, if you still have problems.

[2016-06-21 06:35] #249 closed

[2016-06-22 12:19] asm0dey commented on #249
@artur-shaik How can I test the fix? `:PluginInstall` doesn't update anything :(

[2016-06-22 12:26] wsdjeg commented on #249
@asm0dey you should use `:PluginUpdate` and `:JCserverCompile`

[2016-06-23 10:25] asm0dey commented on #249
It works :)
Thank you very much for such a quick fix!

[2016-06-23 10:38] artur-shaik commented on #249
Glad to hear it!

On 06-23 (03:25), Paul wrote:

--
Best regards,
Artur Shaikhullin

[2016-06-30 13:55] richox commented on #244
my requirement is: when I want to create an object with `new ...()` I cannot get any infomation of constructor parameters. I think it would be helpful if completion after `new XXX` will show __all constructors of classes prefixed with XXX__ but not only classnames prefixed XXX.

[2016-06-30 15:30] artur-shaik commented on #244
May be it would be better to show constructors after `new String(|` ?

[2016-06-30 16:05] richox commented on #244
@artur-shaik good idea:)

[2016-07-28 21:34] DonnieWest opened #256 "Deoplete source is slow"
## Actual behavior (Required!)
When deoplete source is used, completions come back slower than when we use the omni completion directly

## Expected behavior (Required!)
Deoplete source should be on par or even faster than when omni completion is used

## The steps to reproduce actual behavior (Required!)
 1. Setup Deoplete as listed in the wiki
 2. Deoplete completes quickly
 3. Remove `let g:deo

[2016-07-29 04:33] artur-shaik commented on #256
@wsdjeg , any thougths?

[2016-07-31 11:42] wsdjeg commented on #256
I can not reproduce this issue, I also use neovim in archlinux, BTW, I in `javacomplete2.py` instead of `omni.py` source. there is many differences between javacomplete2 source and omni source, javacomplete2 source is asyc, and will not block your cursor before the popupmenu was opened. There is a g:var for how long deoplete wait for user type into chars before popupmenu opend.

[2016-07-31 11:50] wsdjeg commented on #256
here is my config
https://github.com/wsdjeg/DotFiles/blob/master/config/nvim/config/plugins/deoplete.vim
By default ` g:settings.enable_javacomplete2_py == 1`

[2016-07-31 20:09] DonnieWest commented on #256
@wsdjeg with those settings, the problem has completely gone away! I'd love it if they were added to the wiki :)

If desired, I can do it. For now I'll close this out. Thanks for the help!

[2016-07-31 20:09] #256 closed

[2016-08-01 03:20] artur-shaik commented on #256
@DonnieWest, yeah, it would be great.

[2016-08-02 19:26] brailsmt opened #258 "Error on 'import static' completion"
## Actual behavior (Required!)
No dropdown, only a barely noticeable blip in the messages area.
Output from :messages:
[code]

## Expected behavior (Required!)
Static fields are provided in dropdown.

## The steps to reproduce actual behavior (Required!)
 1. Try to import a static member of a class.

## Environment (Required!)
 * OS: Mac OSX 10.10.5
 * Neovim version:
[code]

## Q&A
* No, I have n

[2016-08-05 05:10] #258 closed

[2016-08-05 05:10] artur-shaik commented on #258
Thank you for issue. Should be fixed now. Please, check.

[2016-08-30 13:45] johnzeng commented on #197
If it's only grammar parsing , maybe we can try something like compiler plugin. [writing scala compiler plugin](http://www.scala-lang.org/old/node/140) , this can gives you a compiler based completion just like clang.

[2016-08-31 10:54] Misfit-John commented on #197
I am writing a scala compiler plugin that may help to do completion.

https://github.com/Misfit-John/Scala-completion-Base

but I don't know how to integrate it with vim.... anyway, this is still a base , it can only print out members in a very tricky way.

[2016-08-31 12:24] richox commented on #197
@Misfit-John can you get completion from source code which contains syntax errors?

[2016-09-01 01:04] Misfit-John commented on #197
@richox What do you mean by syntax error? Almost all of the compiler base completion tools don't allow syntax error so the compiler can make you a right completion. If you are saying that you are using some special scala syntax, you can make a plugin to tell compiler what does them means so compiler can understand your code and give you right completion.

[2016-09-01 01:20] DonnieWest commented on #197
@Misfit-John most completion tools feature a "loose parser" that is forgiving of errors so you still get completions when some of your code is wrong. Ecj is an example and vim-javacomplete2 here has a strict parser combined with a Vimscript loose parser to gather completions for in progress code

[2016-09-01 01:38] Misfit-John commented on #197
@DonnieWest I can understand that, but this plugin is based on a scala compiler, it's kind of hacking, so you can't expect it to be a loose parser because I am not rewriting a parser. I can understand that when you are typing codes, your file will be syntex error so my first step is just to make sure that when you type a "." after a symbol, you can get the member list of this symbol.  Basically yo

[2016-09-11 11:43] CodingJonas opened #260 "Open suggestions automatically after indicator"
Currently I always have to activate javacomplete2 with a key sequence in order to open the suggestions and choose one of them.
As the plugin recognizes indicators, how can I make it open the suggestions automatically?

 * OS: Ubuntu 16.04
 * Vim version: 7.4
I use GVim

[2016-09-12 03:27] DonnieWest commented on #260
Since you're on Gvim, I would recommend using a third party tool such as [Neocomplete](https://github.com/Shougo/neocomplete.vim) or [YouCompleteMe](https://github.com/Valloric/YouCompleteMe), automatically opening the suggestions is probably out of the scope of this plugin :)

[2016-09-12 04:29] artur-shaik commented on #260
Yeah, not really related to jc2.
Here is my config for YouCompleteMe:
[code]

[2016-09-12 04:29] #260 closed

[2016-09-15 14:09] adelarsq opened #261 "Async Support with Vim 8"
Actually I'm a little off using Java with Vim since was pretty slow with huge projects.
I see that some time ago was added a support for asynchronous process with Neovim. I'm still using Vim instead of Neovim.
There any plans to also support the new Vim 8 features (async, jobs, timers)?

[2016-09-15 14:30] artur-shaik commented on #261
If you mean async completions, so I guess this is in the case of YCM or
neocomplete, am I right?

What about maven/gradle execution, I will work on it of cause. But
little bit later.

On 09-15 (07:09), Adelar da Silva Queiróz wrote:

--
Best regards,
Artur Shaikhullin

[2016-09-15 17:00] adelarsq commented on #261
@artur-shaik no, I mean maven execution. Nice! So this issue can be closed?

[2016-09-15 17:02] artur-shaik commented on #261
Let's keep it for a while as reminder.

On 09-15 (10:00), Adelar da Silva Queiróz wrote:

--
Best regards,
Artur Shaikhullin

[2016-09-16 00:37] wsdjeg commented on #261
nice, I just come back, Holiday is over。

[2016-09-16 09:58] artur-shaik commented on #261
@wsdjeg welcome back :smile:

[2016-09-16 20:57] ehzShelter commented on #261
Here's what **:help version8**
 says about asynchronous I/O with JSON:

Closely related to channels is **JSON** support. JSON is widely supported and can easily be used for inter-process communication, allowing for writing a server in any language. The functions to use are |jsonencode()| and |jsondecode()|.

This makes it possible to build very complex plugins, written in any language and running

[2016-09-19 13:54] adelarsq commented on #261
@artur-shaik is this usefull?
[Java Language Support for Visual Studio Code has landed](http://developers.redhat.com/blog/2016/09/19/java-language-support-for-visual-studio-code-has-landed/) - [Repository](https://github.com/gorkem/java-language-server)

[2016-09-27 12:52] artur-shaik commented on #261
@ehzShelter yeah just made some researche. Good looking api, but don't think that we can move to it soon. But who knows.

@adelarsq not really sure, need to look deeper.

[2016-09-27 13:01] ehzShelter commented on #261
@artur-shaik Anyway.. I love your plugin :) lightweight ...!

[2016-09-30 10:36] adamski opened #262 "Error compiling server, followed by "Pattern not found" for imported classes"
## Actual behavior (Required!)
call `:JCserverCompile`
Get the following output
[code]
Completion does not work for imported classes. Output is  `Pattern not found`

## Expected behavior (Required!)

call `:JCserverCompile`
No errors!
Completion works for imported classes.

## Environment (Required!)
 * OS: OSX 10.11.4
 * Neovim version: 0.1.5
 * JDK 1.8

[2016-09-30 15:58] artur-shaik commented on #262
Hm, can you try compile it manually? With maven, if it possible

[2016-10-08 12:26] wsdjeg opened #264 "Error detected while processing function `BuildClasspathHandler`."
[code]

I think it is the issue with the Handler func, I will try to fix it.

[2016-10-08 22:52] #264 closed

[2016-10-09 09:51] duanqiaobb opened #266 "Can't get class complection from the log4j jar package, import package complection can work well."
I have equiped the lib path use the   JavaComplete_LibsPath configuration option: (as this)

` let g:JavaComplete_LibsPath="/mnt/D/Developer/WorkPlace/Personal-Workplace-Temp/Java/AntTest/lib/:"  `

And I also put my jar package file in my lib directory.My directory structure like this:

[code]

I was editing the HelloWorld2 class , the class content is :

[code]

It seems that javacomple2 plugin

[2016-10-12 11:03] artur-shaik commented on #266
Don't you use maven or gradle?

[2016-10-12 11:35] wsdjeg commented on #266
@duanqiaobb please open a java file, and try completion, if it does not work, than show me the value of `g:JavaComplete_LibsPath`, you can use `:let @+=g:JavaComplete_LibsPath`, then copy to here.

[2016-10-12 16:56] #244 closed

[2016-10-16 06:17] duanqiaobb opened #267 "With this plugin, My vim open java file very slowly.(nerve-racking)"
I use the mvn to resolve the dependency of my project  and for JC2 to get complement.However , Every time  after I change the dependecies packages, It take a long time to open the java file, even stuck on the open file window.

Oh, Maybe I should say it happened sometimes , because today it just cost me few seconds to open it , I think it's around 10 seconds.However, It happened to me that I can't

[2016-10-16 06:18] wsdjeg commented on #267
@duanqiaobb you should use `ISSUE_TEMPLATE.md`

[2016-10-16 06:23] duanqiaobb commented on #267
@wsdjeg Okay,I will comsummate it to approach to the  ISSUE_TEMPLATE.md as much as I can.

[2016-10-16 06:26] duanqiaobb commented on #266
@artur-shaik After using maven, this problem dispeared.But It really makes my vim running slowly.

[2016-10-17 01:14] duanqiaobb commented on #266
@wsdjeg  the value g:JavaComplete_LibsPath I got from my vim is  as follows:
[code]
I just get it by typing `let g:JavaComplete_LibsPath` in the command mode .
However I just get nothing echoed by using  `:let @+=g:JavaComplete_LibsPath`

[2016-10-17 05:03] wsdjeg commented on #266
can you change the to `let g:JavaComplete_LibsPath="/mnt/D/Developer/WorkPlace/Personal-Workplace-Temp/Java/AntTest/lib/"

[2016-10-17 08:55] duanqiaobb commented on #266
No any helps, after change that , It only hints that `Pattern not found `.

[2016-10-18 02:11] duanqiaobb commented on #267
After creating a new project, It works like a charm. I don't know why,It's odd.

[2016-10-18 02:45] duanqiaobb opened #269 "The Object ,passed by the argument which is with another argument annotation in a function argument list, can't get complement after the dot symbol"
## Actual behavior (Required!)

**[My source file]**

[code]
 It happens when I write some spring programs.I have defined a function whoes name is `welcomeName` .The function  is with two arguments , one is String type , A annotation `@PathVariable` is before it, another one is `ModelMap` type .When I tried to get the function complements from `ModelMap` object. It gave no complements for the Obje

[2016-10-18 03:48] duanqiaobb commented on #269
Maybe I this is a bug

[2016-10-18 15:52] artur-shaik commented on #267
Can you pull last commits.
Then after you open your java file, run `JCserverEnableDebug`.
Try completion.
Then `JCserverLog`.
And show what we have there.

[2016-10-19 03:18] duanqiaobb commented on #267
Okay,I will do it later

[2016-10-19 04:27] duanqiaobb commented on #267
It poped up some error information

[code]

and the logs are empty.

[2016-10-19 04:34] artur-shaik commented on #267
Ok, should be fixed now.

[2016-10-19 04:42] duanqiaobb commented on #267
So do I need to pulll the new commits  again to fix this issues for me?

[2016-10-19 05:04] artur-shaik commented on #267
Not the issue, just show log.

On 10-18 (21:42), Bian-Share wrote:

--
Best regards,
Artur Shaikhullin

[2016-10-19 06:24] duanqiaobb commented on #267
Still some errors messages detected
[code]

[2016-10-19 06:59] artur-shaik commented on #267
By the way, have you make recompilation of server?
You can run `JCserverCompile`.

On 10-18 (23:24), Bian-Share wrote:

--
Best regards,
Artur Shaikhullin

[2016-10-19 07:06] duanqiaobb commented on #267
Okay, works well.This are the log contents.
[code]

[2016-10-19 07:13] artur-shaik commented on #267
Hm, too short, seems like you didn't try to complete your classes after
`JCserverEnableDebug`.
On 10-19 (00:06), Bian-Share wrote:

--
Best regards,
Artur Shaikhullin

[2016-10-19 13:50] #261 closed

[2016-10-19 13:54] artur-shaik commented on #262
Reopen on demand.

[2016-10-19 13:54] #262 closed

[2016-10-20 04:21] duanqiaobb commented on #267
This includes
[code]

[2016-10-20 05:23] artur-shaik commented on #267
Ok, thanks. Seem like something with classpath. I will think what we can log more to debug this issue. I'll write you.

[2016-10-20 08:06] duanqiaobb commented on #267
Stuck screen happened again after I updated the dependencies in my pom.xml

[2016-10-20 08:13] wsdjeg commented on #267
what is your vim version? does it has job feature. this plugin will auto update cache when pom.xml is changed. if your vim has no job feature, you should wait until finishing building classpath cache of your owner project.

[2016-10-20 08:23] duanqiaobb commented on #267
How to check wether vim have the job feauture or not?

[2016-10-20 08:27] duanqiaobb commented on #267
Yes , my vim have the job feature. The +channel is presented in version informations.
[code]

[2016-10-20 08:37] artur-shaik commented on #267
May be you didn't pull down last version? Job support was added
yesterday evening.
On 10-20 (01:27), Bian-Share wrote:

--
Best regards,
Artur Shaikhullin

[2016-10-20 15:13] artur-shaik commented on #267
Ok, I pushed some updates. Can you pull, make `JCserverEnableTraceDebug`, start completion, then `JCserverLog`. Now we should see all libraries in classpath.

Don't forget to recompile server.

[2016-10-21 07:25] artur-shaik opened #270 "Equals generation sometimes doesn't replace old one"

[2016-10-21 07:29] artur-shaik commented on #269
I think we need to look at logs again. Client logs and server logs, too.

[2016-10-21 10:42] duanqiaobb commented on #267
Okay,I will try it

[2016-10-21 10:56] duanqiaobb commented on #267
@artur-shaik  This are all the informations I got
[code]

[2016-10-21 11:05] artur-shaik commented on #267
Looks like it is simple Debug, not TraceDebug (`JCserverEnableTraceDebug`), can you recheck.

[2016-10-21 11:12] duanqiaobb commented on #267
I forgot to execute the `JCserverCompile` at first, Sorry.Now it was all that I got after that.
[code]

[2016-10-21 11:13] duanqiaobb commented on #267
@artur-shaik  Seems good.Stuck problems have gone.

[2016-10-21 11:17] artur-shaik commented on #267
@duanqiaobb what you mean? The issue goes better?

[2016-10-21 11:18] duanqiaobb commented on #267
The complements doesn't work yet. However , the stuck problem seems have gone.

[2016-10-21 11:33] artur-shaik commented on #267
That's right, I cannot find slf4j library in trace log.
Let's check with what classpath server running.
Can you, please, do next:
1. `JCdebugEnableLogs`
2. `JCserverEnableTraceDebug`
3. `JCdebugGetLogContent`

There should be server classpath line.

[2016-10-21 12:38] duanqiaobb commented on #267
Do as you said,I got the follow informations:
[code]

[2016-10-21 13:59] artur-shaik commented on #267
Yeah, thanks. Strange, but there is nothing from maven.
Can you run `mvn dependency:build-classpath -DincludeScope=test` from your project folder, to see does maven generate classpath successfuly.

[2016-10-21 15:30] duanqiaobb commented on #267
@artur-shaik Yep, I got these stuffs.
[code]

[2016-10-21 15:38] duanqiaobb commented on #267
@artur-shaik  after pulling the new updates , I got some erros when open the file
[code]
and no any complements at my other projects which they works well before.

[2016-10-21 15:56] artur-shaik commented on #267
Something strange happens with your setup.
Do you have anything in `~/.cache/javacomplete2/classpath/` directory?

[2016-10-22 01:55] duanqiaobb commented on #267
Sure, I have.
[code]

[2016-10-22 05:14] duanqiaobb commented on #269
@artur-shaik
Action in the function which I can't get the complements from , got logs as follows:
**[Client Log]**
[code]

**[Server Log]**
[code]

[2016-10-22 08:05] duanqiaobb commented on #267
Prehaps I have found some curves.I have three projects
[code]
The classpath files were spawned

[code]
The complements in projects , `MavenWeb` project and  `SuperPost` project ,which had spawned the classpath file, work well. However, Complements is disabled in the `ThiefWeb` project that  can't be able to create the corresponding classpath file.Maybe, it is due to the lack of classpath file? The

[2016-10-22 12:38] artur-shaik commented on #267
This file generated with maven, that's why I asked you to run it.
There is one more thing we can try.
Can you set in your vimrc: `let g:JavaComplete_ShowExternalCommandsOutput = 1`, then clear classpath cache. Run vim, open java file it `ThiefWeb` project, and wait while maven will generate classpath.
Then you can run `:messages` to see output of maven. Maybe we can find something there.

[2016-10-22 12:42] artur-shaik commented on #269
Yeah, can confirm now, seems like bug in internal java parser. Will look it.

[2016-10-22 13:58] duanqiaobb commented on #267
It doesn't work.
I just got nothing except this.
[code]

[2016-10-22 16:09] artur-shaik commented on #267
Ok, I just pushed update with commands for generate classpath.
You can run `JCmavenGenClasspath`.

[2016-10-22 20:48] albinscode opened #271 "JCimportAdd for third party libraries"
Every time I'm using JCimportAdd feature it will display packages from the JVM or my custom classes but not classes from third parties.

For example, I'm having a simple maven project, I have configured the g:JavaComplete_LibsPath to have a really good autocompletion for classes and methods on all libraries (JVM or third parties). But when trying to automatically add imports on a Logger class from

[2016-10-23 11:54] artur-shaik commented on #271
Hi, seem's like duplicate of #267

[2016-10-23 12:05] wsdjeg commented on #267
@duanqiaobb I just read the issues opened by you, I have use jc2 for long time, I think it works well in linux, but if you encount such issue, I think it is better create example project, and push it to github, I will test it.

[2016-10-23 12:35] artur-shaik commented on #267
@wsdjeg, yeah, would be nice if we could reproduce it...
@duanqiaobb I changed last command, please run `JCclasspathGenerate`.

[2016-10-24 09:44] albinscode commented on #271
Hi, seems #267 is a hard topic and you know far much more if it is related to my current issue ;)

The only thing I can say it that it occurs every time I try a JCimportAdd. The autocomplete is just perfect.

Thanks a lot for this perfect tool!

Albin

[2016-10-24 12:39] #269 closed

[2016-10-24 15:24] hsanson opened #272 "javavi compilation fails with javac"
## Actual behavior (Required!)
When the plugin starts it fails to compile the javavi classes if Maven is not installed.

## Expected behavior (Required!)
The plugin should be able to compile the javavi classes using javac only.

## The steps to reproduce actual behavior (Required!)
 1. Make sure maven (mvn) is not installed.
 2. Open a java file.
 3. You will see an error indicating that JDK8 is n

[2016-10-24 15:53] #272 closed

[2016-10-25 06:18] artur-shaik commented on #266
Duplicate #267

[2016-10-25 06:18] #266 closed

[2016-10-25 17:59] #270 closed

[2016-10-25 18:22] artur-shaik commented on #271
You are welcome :)
Ok, we will try to finish with those, and see if you will have progress
on your issue.

On 10-24 (02:44), albinscode wrote:

--
Best regards,
Artur Shaikhullin

[2016-10-26 08:08] alnavv opened #273 "javavi cannot compilet / socket cannot be open - manually solved issue?"
## Actual behavior (Required!)

javavi cannot compile + socket cannot be open (for completion)
## Expected behavior (Required!)

code completion
## The steps to reproduce actual behavior (Required!)
1. Install latest version of the plugin
2. usinng map  **<Plug>jI** for triggering completion
3. ...
## Environment (Required!)
- OS: debian jessie
- Vim version: 7.4
- Neovim version: 0.1.5
# Solution

[2016-10-26 15:12] artur-shaik commented on #273
Hi, you can set `let g:JavaComplete_ShowExternalCommandsOutput = 1` to see maven output on automatic compilation. But before, make `mvn clean` in `javavi` folder.

[2016-10-26 15:14] artur-shaik commented on #271
Ok, we stuck at those issue for now.
So, as I understood, you can complete your log4j classes if you add imports manually, right? If so, it means we have another issue here.

[2016-10-27 11:20] artur-shaik opened #274 "Class creation command"
One frustrating thing with this plugin, that I need create classes by hand, that's really slow down me. Here some work and ideas on it.

Commands, already implemented (not pushed, yet):

Suppose we in class with package 'org.foo.bar'

`NewClass` - to open/create class relative to current, with fqn 'org.foo.bar.NewClass'
`baz.NewClass` - to open/create class relative to current, with fqn 'org.foo.b

[2016-10-27 16:54] DonnieWest commented on #274
All of that sounds pretty fantastic. I too have found class creation rather slow in my daily workflow. I do request though:

1. Generate class code within an empty file w/ package
2. Generate inner classes

Both might be slightly crazy though. With the empty file you have to infer the package from the path. Inner classes have their own problems.

[2016-10-27 17:18] artur-shaik commented on #274
Yeah, nice proposals. For now, not really know, how to find package name from empty file. But definetly, we can find right way. As a last resort, we can try to guess, or give optional values to choose, for user.

[2016-10-27 18:32] DonnieWest commented on #274
Yeah, it'd be difficult for generic java projects. I'd probably default to the current directory path without standard directories like src and java being counted

for example

`app/src/java/com/myapp/api` becomes `com.myapp.api`

But even that has a crazy number of edge cases. Another idea would be to allow the user to pass in the main package name and cache that somehow. That would be nice for t

[2016-10-28 04:06] artur-shaik commented on #274
Yes, we can guess the package basing on standards. If there are not standart dirs, so we can ask user, I think.

Btw, thanks for participating )

[2016-10-28 13:41] albinscode commented on #271
Yes, exactly.

With Log4j Logger, I have the following listing (so my package is not found):

[code]

But with another class (for example com.sun.star.embed.Actions from Selenium API), I've got the following output (so it is working):

[code]

Tell me if you need a minimalistic project to reproduce it or any logs.
Thanks a lot.

[2016-10-28 22:02] albinscode commented on #274
Hi,
Yes, this can be interesting to create a class from scratch. And if you have already done part of it, it's always interesting :)
On my side I've got a snippet approach (using snipmate) to generate the class skeleton but of course the package is not guessed...
So I'll have a look to this new feature with interest!
Thanks again!

[2016-10-29 04:47] artur-shaik commented on #271
Seems like you have the same output in last post. This is you, or it's really such bug exists?

Firstly we can try to see more logs.
Can you, please, do next:
1. JCdebugEnableLogs
2. JCserverEnableTraceDebug
3. JCdebugGetLogContent
4. JCserverLog

[2016-10-29 05:04] artur-shaik commented on #274
@albinscode , I'll do some work on it in [class-creation](https://github.com/artur-shaik/vim-javacomplete2/tree/class-creation) branch, but it could be buggy.

[2016-10-29 09:16] albinscode commented on #271
Yes, sorry, I've update my previous comment to show when it is working.

Here are the logs
``
 75.963838 [server] start server
 75.964199 [server] executing python file: /home/albinscode/.vim/bundle/vim-javacomplete2/autoload/javavibridge.py
 75.970434 [server] server classpath: -cp /home/albinscode/.vim/bundle/vim-javacomplete2/libs/javavi/target/classes:/home/albinscode/.vim/bundle/vim-javacompl

[2016-10-29 17:15] artur-shaik commented on #271
Sorry, I forget to say, trigger `JCimportAdd` command after `JCserverEnableTraceDebug`. And then after `JCserverLog` you should get window with server logs, can you post it also.

By the way, ` 75.970434 [server] server classpath:` looks quite scanty, seems like some libs didn't attached to classpath. Anyway, lets see the logs.

[2016-10-31 19:31] albinscode commented on #271
Ok, here are the full server logs in attachment.
[server.logs.zip](https://github.com/artur-shaik/vim-javacomplete2/files/562703/server.logs.zip)

[2016-11-01 01:48] DonnieWest commented on #18
Found this today. It might aid in the extraction or renaming classes/variables.

https://github.com/javaparser/javasymbolsolver

If you still want me to, I can open up separate issues for the refactor ideas here.

[2016-11-01 05:43] artur-shaik commented on #271
Strange, but there is only log4j that ships with jc2.
May be you can zip and share minimal maven project with same pom file?

[2016-11-01 06:35] artur-shaik commented on #18
Seems can be helpful, thanks. I'm still consider to try `antlr` project for parsing, so maybe in future we will discard `javaparser` project for flexibility. But this is just thoughts, will see.

What about issues for ideas. It can be helpful I think, in any case we can link it here.

[2016-11-01 10:01] alnavv commented on #273
Hi, sorry for a bit of delay (busy times).

I installed everything from scratch, using the option your mentioned (also mvn clean ...), so:
-> now it works again. I received the message "socket cannot be opened" once, but it worked (javavi compiled).
-> <Plug>jI triggers imports correctly, but also shows the message: "import already exists". It doest not really exist, and although it triggers the "

[2016-11-01 10:09] artur-shaik commented on #273
You see, when `socket cannot be opened` happens, plugin try to start server, if it doesn't find server, it run compilation. So, actually, it is not an issue.

`jI` means to find all imports, so when it find some already imported, it writes `import already exists`. So this is not an issue, as well. If you want find import on class under cursor, you should use `ji`.

May be it would be better to mak

[2016-11-02 19:59] idl-shaohua opened #276 "Pattern not found when I want to use auto completion."
## Actual behavior (Required!)
I installed the JC2 with Vundle, and it works fine if I edit the single java file. But it doesn't work in the maven project.

## Expected behavior (Required!)
I expect that I can use JC2 in the maven project.

## The steps to reproduce actual behavior (Required!)
 1. Using vim to edit the java file which is in the maven project.
 2. Trying to use the auto completion,

[2016-11-03 03:41] idl-shaohua commented on #276
below is the logs that I got.
[code]

[2016-11-03 10:54] artur-shaik commented on #276
Hm, some strange stuff in logs. Can you show you source code, when you get this logs.

What about issue, can you try:
1. add to you .vimrc: `let g:JavaComplete_ShowExternalCommandsOutput = 1`;
2. after you open java file, run `JCclasspathGenerate`;
3. then 'messages', and show what you've get;
4. `JCdebugGetLogContent`, and show what you've get.

[2016-11-03 12:04] albinscode commented on #271
Hi, sorry for long time for reacting...

Here is a small maven project to reproduce the problem: https://github.com/albinscode/jcimportest

By starting from scratch with this project I cannot import Log4j class (which is correctly defined in my pom.xml) nor Actions class from selenium (in my pom.xml too).

I've tried `mvn eclipse:eclipse` and a `mvn dependency:resolve' gave me the right output:

[

[2016-11-03 12:33] wsdjeg commented on #271
ok, I will test it.

[2016-11-03 14:10] wsdjeg commented on #271
I can not reproduce it, it works well for me, I can import from log4j; here is the list;
[code]

[2016-11-03 14:11] wsdjeg commented on #271
and for Actions class I get:
[code]

[2016-11-03 15:52] albinscode commented on #271
ok so no bug ;)

Did you perform any specific command (at vim level or from bash)?

Otherwise I will have to test it on another dev platform to see if it not due to my list of several JDK installed...

[2016-11-03 17:33] idl-shaohua commented on #276
I followed your steps, and I didn't get anything on step 3 and 4.  Below is the source code I encountered the problem.

[code]

[2016-11-03 17:49] idl-shaohua commented on #276
Sorry, I forget to enable the debug log. But even I enable the debug log, I still get nothing on step 3.

Step 4.
[code]

[2016-11-03 23:31] wsdjeg commented on #271
I just run 'mvn compile' in bash for this example project. and my jdk is open jdk 8.

[2016-11-04 05:20] artur-shaik commented on #271
The same here, classpath builds nice. Btw, have you run `JCclasspathBuild`? You can try to search in `.cache/javacomplete/classpath` cache file for your project to see does maven build it from javacomplete.
One thing else, can you try to run this command from vim command line `:!mvn --file pom.xml help:effective-pom dependency:build-classpath`

[2016-11-04 05:24] artur-shaik commented on #276
Ok, can we make some more steps:
1. JCdebugEnableLogs
2. JCserverEnableTraceDebug
3. Try completion
4. JCdebugGetLogContent
5. JCserverLog

Step 4 and 5 will give you some debug information, can you post it here.

[2016-11-04 06:08] idl-shaohua commented on #276
Step 4.
[code]
step 5
[code]

[2016-11-04 06:16] artur-shaik commented on #276
It look's like `JCserverEnableTraceDebug` didn't executed. Were there any errors when you execute it? Or may be, can you, please, wait a little bit after you call `JCserverEnableTraceDebug`?

[2016-11-04 06:22] idl-shaohua commented on #276
I didn't get any error when I call `JCserverEnableTraceDebug`. This time, I wait about 1 min to call `JCserverEnableTraceDebug`, the result was as same as above.

[2016-11-04 06:40] artur-shaik commented on #276
That's strange.
Can we try this:
After you call `JCserverEnableTraceDebug`, call this commands:
[code]

On 11-03 (23:22), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 06:50] idl-shaohua commented on #276
Yes, it's strange. I restart the server, and the result that I got is still as same as above. I don't get any error when I start or restart the server. It seems that the server doesn't be launched.

[2016-11-04 07:01] artur-shaik commented on #276
By the way, may be you have old server version, can you do
`JCserverCompile`.
On 11-03 (23:50), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 07:08] idl-shaohua commented on #276
I got a lot error when I compile the server.
[code]

[2016-11-04 07:19] artur-shaik commented on #276
That's something new.
Did you pull down last commits?

On 11-04 (00:08), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 07:42] idl-shaohua commented on #276
Yes, I check the project that in the ~/.vim, and I'm sure the project already up-to-date.

[2016-11-04 08:21] artur-shaik commented on #276
Ok, can confirm last error, thanks, will look it first.

On 11-04 (00:42), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 08:22] idl-shaohua commented on #276
Okay.

[2016-11-04 08:52] artur-shaik commented on #276
Recompilation should work now.

[2016-11-04 08:54] artur-shaik commented on #271
Can you try with 57bb9e6685ba332f5975e07a0981ce0b9882c537, may be this is related to this issue , too.

[2016-11-04 09:07] idl-shaohua commented on #276
Great. It works fine now.

[2016-11-04 09:10] artur-shaik commented on #267
if you still here, can you try update jc2 and try again.

[2016-11-04 09:11] artur-shaik commented on #273
Will close for now, feel free to open if required.

[2016-11-04 09:11] #273 closed

[2016-11-04 09:59] idl-shaohua commented on #276
Sorry. I still encounter the problem in my company project. :(
Below is the log that I got.
[code]

[2016-11-04 10:01] artur-shaik commented on #276
What about `JCserverLog`, can you run those step sequence I wrote in
previous messages?
On 11-04 (02:59), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 10:04] idl-shaohua commented on #276
[code]

[2016-11-04 10:06] artur-shaik commented on #276
What steps did you perform?

On 11-04 (03:04), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 10:12] idl-shaohua commented on #276
1. rm -rf ~/.cache
2. Open the java file, and got `Maven classpath built successfully`.
3. `JCdebugEnableLogs`
4. `JCserverEnableTraceDebug`
5. Try completion, and got `-- Omni completion (^O^N^P) Pattern not found`
6. `JCdebugGetLogContent`
log:
[code]
7. `JCserverLog`
[code]

[2016-11-04 10:17] artur-shaik commented on #276
Hm, may be server falls on completion.
There is some strange entries in log.
Do you have any other plugins in vimrc?
If yes, can you, please, try jc2 with minimal vimrc?

On 11-04 (03:12), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 10:18] idl-shaohua commented on #276
Yes, I have other plugins. Let me try now. :)

[2016-11-04 10:24] idl-shaohua commented on #276
I removed all plugins and reinstalled the jc2, and I follow the above steps and I got the same result as same as above.
[code]

[2016-11-04 10:32] artur-shaik commented on #276
Ok, one more thing we can do.
Can you check you `/tmp/javavi_log` directory. Server logs should be
there. Can you search for exceptions, if you find any?

On 11-04 (03:24), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 10:37] idl-shaohua commented on #276
java.lang.ClassNotFoundException
[code]

[2016-11-04 10:47] artur-shaik commented on #276
Hm, can you attach full log?
That's strange that `ClassNotFoundException` found for `java.lang.*`
classes.
On 11-04 (03:37), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 10:51] idl-shaohua commented on #276
[1611041752-52906.log.zip](https://github.com/artur-shaik/vim-javacomplete2/files/571264/1611041752-52906.log.zip)

[2016-11-04 11:07] artur-shaik commented on #276
Can you show full log line from `JCdebugGetLogContent` which begins with: `[server] server classpath: -cp ...`

[2016-11-04 11:17] idl-shaohua commented on #276
[code]

[2016-11-04 11:28] artur-shaik commented on #276
Do you have read access for `/Library/Java/JavaVirtualMachines/jdk1.8.0_102.jdk/Contents/Home/jre` or `/Library/Java/JavaVirtualMachines/jdk1.8.0_102.jdk/Contents/Home/lib`?

[2016-11-04 11:30] idl-shaohua commented on #276
Yes, these two folder can be read and execute by others, although they are belong to root.

[2016-11-04 11:39] artur-shaik commented on #276
And one more request, can you, please show output of `java
-XshowSettings`?
On 11-04 (04:30), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 11:43] idl-shaohua commented on #276
[code]

[2016-11-04 13:19] albinscode commented on #271
Hi,
@wsdjeg I've tested it on another machine with a single JDK (open JDK 8) and works like a charm. Perhaps due to too many JDKs.

@artur-shaik I have run the JCclasspatchGenerate and a mvn compile into javavi path. By running the command `:!mvn --file pom.xml help:effective-pom dependency:build-classpath` I have the right classpath with log4js, selenium, etc...

The only thing I don't have is th

[2016-11-04 13:29] artur-shaik commented on #271
@albinscode have you pulled down last commits?

[2016-11-04 14:52] artur-shaik commented on #276
Ok, thanks, still cannot reproduce.
Not much can we test more.

But did you try the same on minimal maven project, with small
count of dependencies.

And, one more thing. If you run `JCserverShowPort`, this will show you
port on which javavi server listen for requests. Can you take this port
and try to connect to server in command line: `telnet 127.0.0.1 your_port`.
If it connects, you can try ent

[2016-11-04 15:00] albinscode commented on #271
Yes, no improvement. Seems really due to my personal config. I'll try to investigate to see if it is due to my several JDKs or another tool specific to my environment.

[2016-11-04 15:05] idl-shaohua commented on #276
I found if I edited my company maven project, the server didn't start. But it start normally if I edited the small maven project.

[2016-11-04 15:15] artur-shaik commented on #276
Hm, you an try to open your company project, then take port number.
Enable server trace log. Execute completion. Then in `/tmp/javavi_logs/`
you can find log for particular execution by time_port template. I hope
it wrote stacktrace of server fall.

[2016-11-04 15:34] idl-shaohua commented on #276
Do we have another way to get the server log?

[2016-11-04 16:06] artur-shaik commented on #276
Well, we can run server from command line, but it's little bit hard to
assemble full command.

Here is an example:

[code]

You should change all paths. Use your classpath from logs, and other
parameters as well, from `JCdebugGetLogContent`, and may be
`JCserverTerminate` -> `JCserverStart`.

Then `telnet localhost 13321`, and `-E "java.lang.String"`. Logs can be
found in tmp dir, and stdout, I th

[2016-11-04 16:09] idl-shaohua commented on #276
okay, I'll try it later, I think server is dead when it start up.

[2016-11-04 17:18] idl-shaohua commented on #276
I manually start up the server, but failed.
I got `Error: Could not find or load main class kg.ash.javavi.Javavi`.

[2016-11-04 17:26] artur-shaik commented on #276
Can you show your command?

[2016-11-04 17:27] artur-shaik commented on #271
Ok, would be nice to have information, what can cause your problem. Please, feel free to reopen issue if you have somthing.

[2016-11-04 17:27] #271 closed

[2016-11-04 17:33] idl-shaohua commented on #276
java -Dlog.level=trace -Ddaemon.port=57448  kg.ash.javavi.Javavi -sources "/Users/RCK/Projects/sshj/examples/src:" -base "/Users/RCK/.cache/javacomplete2/" -compiler "javac" -project "_Users_RCK_Projects_sshj_examples_pom_xml"

[2016-11-04 17:34] idl-shaohua commented on #276
I copy from the log.

[2016-11-04 17:37] artur-shaik commented on #276
You also need `-cp` argument with classpath from your logs, on line: `[server] server classpath: -cp ...`

[2016-11-04 17:47] idl-shaohua commented on #276
Right, I can start up the server manually, but it is gone soon. And I didn't get any error when I executed the startup command. It's really hard to find out why the server will failed to start.

[2016-11-04 17:48] artur-shaik commented on #276
Hm, have you checked the log file?

On 11-04 (10:47), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-04 17:52] idl-shaohua commented on #276
yes, it doesn't show any error or exception.

[2016-11-04 18:02] idl-shaohua commented on #276
Sorry, I forget to add `-d -D`. This time I can query the `-E "java.lang.String"` from the server. The server seems okay if I start up manually.

[2016-11-04 18:25] artur-shaik commented on #276
Did you include full classpath and sources arguments? Can you try to `-E your.own.Class` ?

[2016-11-04 18:34] idl-shaohua commented on #276
Yes. my.own.class is okay too.

[2016-11-05 05:26] artur-shaik commented on #276
Ok, now after `JCserverEnableTraceLog` it will also write stdout and stderr to `/tmp/javavi_log/javavi_stdout.log`. Can you try again?

[2016-11-05 06:53] idl-shaohua commented on #276
Okay, I'll try it when I'm at home. :)

Sent from my iPhone

On 5 Nov 2016, at 1:26 PM, Artur Shaik <notifications@github.com<mailto:notifications@github.com>> wrote:

Ok, now after JCserverEnableTraceLog it will also write stdout and stderr to /tmp/javavi_log/javavi_stdout.log. Can you try again?

-
You are receiving this because you modified the open/close state.
Reply to this email directly, vi

[2016-11-05 09:48] idl-shaohua commented on #276
This is the log that I got.
[javavi_stdout.log.zip](https://github.com/artur-shaik/vim-javacomplete2/files/573098/javavi_stdout.log.zip)

[2016-11-05 11:12] idl-shaohua commented on #276
I think the problem is that I used the version of the log4j is conflict with jc2, isn't it?

[2016-11-05 12:18] idl-shaohua commented on #276
**Update:**
I added the below lib (log4j) into the pom.xml which project is fine, then re-open the java file, and the JC2 just stop working. The symptom is as same as my company project.
[code]

[2016-11-05 14:04] artur-shaik commented on #276
Yes, that's right, thank you, seems like jc2 try to use old one log4j. I will think what we can do here.
Btw, what version of log4j cause the issue?

[2016-11-05 14:28] idl-shaohua commented on #276
Actually, I think I use the older version of the log4j, and there are some methods or properties that are deprecated. I checked JC2 project use version 2.7 which is newer than I used.

[2016-11-07 04:34] artur-shaik commented on #276
You can, for now, roll back to 09b1f3d3d56a6aaf504863f0213ec6aa4dc306ae commit, when no log4j2 was used. I think you won't loose any functionallity.

[2016-11-07 04:50] idl-shaohua commented on #276
Got it, thanks for the information. : )

[2016-11-07 10:32] artur-shaik commented on #276
Can you, please, try one more time.

[2016-11-07 12:57] idl-shaohua commented on #276
Okay I'll try it when I'm at home.

Sent from my iPhone

On 7 Nov 2016, at 6:32 PM, Artur Shaik <notifications@github.com<mailto:notifications@github.com>> wrote:

Can you, please, try one more time.

-
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com/artur-shaik/vim-javacomplete2/issues/276#issuecomment-258800482>

[2016-11-07 16:48] idl-shaohua commented on #276
Still has the problem.
[code]

[2016-11-08 03:20] artur-shaik commented on #276
Did you `JCserverCompile`?
On 11-07 (08:48), RCK wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-08 03:33] idl-shaohua commented on #276
Nop, I'll do it later. :)

[2016-11-08 05:50] idl-shaohua commented on #276
After re-compile the JC2, I think it's okay now. Thanks for your help.

[2016-11-08 05:50] #276 closed

[2016-11-08 05:57] artur-shaik commented on #276
Thank you, for issue report and debug help.

[2016-11-08 05:58] artur-shaik commented on #271
@albinscode you can try with last commits, maybe it's related to your personal config.

[2016-11-08 05:58] artur-shaik commented on #267
Feel free to reopen on demand.

[2016-11-08 05:58] #267 closed

[2016-11-08 11:36] albinscode commented on #271
Hi,
I've solved my issue by keeping only one jdk in my update-alternatives config.

Thanks a lot for all your answers and keep on your excellent work!

[2016-11-08 11:49] artur-shaik commented on #271
Ok, thanks you too )
On 11-08 (03:36), Albinscode wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-08 13:34] wsdjeg opened #277 "Get some errors when start vim or neovim with java file."
error message:
[code]

[2016-11-08 13:53] #277 closed

[2016-11-08 13:53] artur-shaik commented on #277
Thanks

[2016-11-09 09:57] b0gg4rd opened #278 "OpenBSD support?"
## Actual behavior (Required!)
I tried complete an import sentence: import java.ut<c-x><c-o> and launch the error at the screenshot

## Expected behavior (Required!)

## The steps to reproduce actual behavior (Required!)
 1. ...
 2. ...
 3. ...

## Environment (Required!)
 * OS: OpenBSD 6.0
 * Vim version: vim-7.4.1467p1-gtk2-perl-python3-ruby
 * Neovim version:

## Q&A
* My vimrc is:
" vimrc file

[2016-11-09 15:24] artur-shaik commented on #278
Hi. If you can update your vim version, it should solve your issue.

[2016-11-09 16:50] b0gg4rd commented on #278
Which version recommend?

[2016-11-09 17:11] artur-shaik commented on #278
Last available, I think. I just checked 'vim-7.4.1467' doesn't have `close_cb`.

[2016-11-09 19:20] gkapfham commented on #277
Hello @artur-shaik! Thank you so much for developing this plugin. I used it on a regular basis when I am programming in Java. Like @wsdjeg, I too recently experience the aforementioned issue. Now after I have updated the plugin, I always see the following error message when I try to save a file:

[code]

I can confirm that I see exactly the same error message on both vim and nvim. Currently, I am

[2016-11-10 08:57] artur-shaik commented on #277
Hi @gkapfham , can you try to run `JCserverCompile`.  But before it, please, make `let g:JavaComplete_ShowExternalCommandsOutput = 1`. So we can see if server compilation is ok.

[2016-11-10 17:06] b0gg4rd commented on #278
Many thanks, I will search a most newer version for OpenBSD :)

[2016-11-10 17:06] #278 closed

[2016-11-11 17:21] djrut opened #279 "JC server fails to start with log4j ClassNotFoundException following plugin upgrade"
## Actual behavior

Following a plugin upgrade, JC Server failed to start with following exception:

[code]

This appears to be caused by commit [8bfefca](https://github.com/artur-shaik/vim-javacomplete2/commit/8bfefca8f4b2b3fba309220fdf703b287e2fe1c9) which altered the module path for log4j

**Fix:** reverted that commit. Everything now works as expected.

## Expected behavior (Required!)

JC Ser

[2016-11-11 17:29] artur-shaik commented on #279
Hm, it shouldn't lookup for `org.apache.logging.*` if compilation finished successfully on last version. Are you sure you are testing on last changes?

I don't take into account those warninngs for now. It shouldn't affect on server functionality.

[2016-11-11 18:01] djrut commented on #279
I am using Vundle and upgraded the plugin using: 'vim +PluginUpgrade', which pulled the latest changes in automatically I assume?

[2016-11-11 18:10] artur-shaik commented on #279
Hm, I'm not really sure. You can check it manualy. Go to
`.vim/bundles/vim-javacomplete2`, do `git pull`, then `mvn -f
libs/javavi compile`. Restart vim.

On 11-11 (10:01), Duncan Rutland wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-11 20:18] gkapfham commented on #277
Hello @artur-shaik. Thanks again for developing this plugin. I can confirm that when I run the `JCServerCompile` and then attempt to use the plugin that everything works as I intended. So, it seems that this issue is indeed fully resolved. Thanks again for fixing the code that caused the problem.

[2016-11-11 20:42] DonnieWest commented on #277
@artur-shaik it seems like lots of our issues are the result of the application needing to be compiled when the java code changes. It might be a good idea to version the server and check if the version of the server is the same as when it was last compiled. If it's not, recompile.

Another plugin that does this is [fzf.vim](https://github.com/junegunn/fzf.vim)

[2016-11-11 21:14] djrut commented on #279
Deleted/cleaned entire plugin, re-installed from scratch and the issue is no longer manifesting. Maybe the previous PluginUpgrade went awry somehow. Regardless, it is fixed. Thanks!

[2016-11-11 22:09] #279 closed

[2016-11-11 23:38] wsdjeg commented on #277
good idea!

[2016-11-12 17:33] artur-shaik commented on #277
@DonnieWest good point. I thought about it some time ago, and effectively forgot to implement it.

[2016-11-12 17:35] artur-shaik opened #280 "Autocompile server on new version"
Check for server version on startup, and if it outdated, run recompilation automatically.

[2016-11-15 09:58] alnavv opened #281 "Javacomplete does not find the methods on the original clase - gradle project"
## Actual behavior (Required!)

Only methods from the original class, already used in the projects are find by javacomplete2.

## Expected behavior (Required!)

For instance, if some class in an external library defines 3 methods (method_1, method_2, method_3), and two of them are already used in the project, calling javacomplete will have the following result:

object._method_1_
object._method_2_

[2016-11-15 11:22] artur-shaik commented on #281
@DonnieWest , can you participate, please.

[2016-11-15 17:20] DonnieWest commented on #281
@alnavv can you please show us either the project you're getting this error on or a minimal project that replicates the error?

[2016-11-15 18:00] alnavv commented on #281
@DonnieWest, unfortunately I cannot share anything related to the project itself.
However we may find a way..., can you reach me by email?

[2016-11-15 18:08] DonnieWest commented on #281
@alnavv Yeah, but if you can just create a separate project that replicates the error that will suffice as well. If you still need to conduct this over email though you can reach me at:

me at donniewest dot com

[2016-11-16 08:12] alnavv commented on #281
I dont see any contact at : donniewest dot com, however in my git account is my gmail ...

[2016-11-17 06:12] skubyooru opened #283 "Complete of import does not work"
Hi! My English is poor) I use the google-translate.

I use vim8.0, linux.  My pom.xml:
`...
 11     <dependencies>
...
 17         <dependency>
 18             <groupId>commons-digester</groupId>
 19             <artifactId>commons-digester</artifactId>
 20             <version>2.0</version>
 21         </dependency>
...
 22     </dependencies>
...`
jar exist in ~/.m2/repository. But complete of i

[2016-11-17 07:34] artur-shaik commented on #283
Hm, try to do `JCclasspathGenerate` and wait some time.

[2016-11-17 14:35] skubyooru commented on #283
It works! Thank you!

[2016-11-17 14:35] #283 closed

[2016-11-17 15:40] wsdjeg opened #285 "Auto import class is broken after completion."
I have test in latest vim and neovim. when complete a class name, for example type `<c-x><c-o>` after `ServerS`, and select `ServerSocket`, the if type `<space>`, plugin works well, but if I type `<c-y>` or `<cr>` or `.`, it does not work.
test with this command in the root dir of javacomplet2.
`vim -u NORC --cmd "exe 'set rtp+=' . getcwd()" --cmd 'set nocp'`

[2016-11-17 16:47] artur-shaik commented on #285
Yes, thank you, can confirm.

[2016-11-19 14:16] wsdjeg opened #286 "Unneeded msg `JavaComplete: import already exists`,"
Foo.java
[code]
then use `JCimportsAddMissing`, you will see `JavaComplete: import already exists` been echo out three times, it make vim block with
[code]
I think this there times warnning is due to these three classes `String`, `Thread` and `Exception`.

if I remove these there classes, and make Foo.java like:
[code]
`JCimportsAddMissing` will not show warning msg `JavaComplete: import already e

[2016-11-20 02:02] wsdjeg commented on #286
I have two ideas about this issue. will show you later.

[2016-11-20 08:53] wsdjeg commented on #286
two ideas:

1.so not mark classes like `String` as missed import.

or:

2. clean up message area before echo warnning message.
`echo 1 | echo 1`
you will see
[code]
`echon 1 | echon "\r\r" | echon '' |echon 1`
you well only see
[code]
so I think we can change:
[code]
to:
[code]

[2016-11-21 16:19] artur-shaik opened #287 "Don't insert abstract classes implementation in interface"
Ignore `<Leader>jM` when edit an interface.

[2016-11-22 07:55] artur-shaik opened #288 "Annotation for constructor not detected"
[code]

Insertion of `Bar` is ignored on `JCimportsAddMissing`.

[2016-11-22 15:57] struktured opened #289 "no-argument method completion does not add closing parentice but probably should"
## Actual behavior (Required!)
[code]
## Expected behavior (Required!)
[code]
## The steps to reproduce actual behavior (Required!)
 See above code

## Environment (Required!)
 * OS: Linux
 * Vim version: n/a
 * Neovim version: 0.1.6

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have enabled logs with `JCdebugEnableLogs` and can put here content of `JCdebugGetLogContent` command, if

[2016-11-22 15:59] DonnieWest commented on #289
I'm not sure this is within the scope of Javacomplete2 - an excellent plugin that does what you want though is [auto-pairs](https://github.com/jiangmiao/auto-pairs) :)

[2016-11-22 16:03] struktured commented on #289
I get you but I would argue it's not really the desired behavior for this plugin either. I don't think anyone wants it to complete the way it does now for functions with no arguments. I will check out auto-pairs, regardless, though. Thanks @DonnieWest .

[2016-11-22 16:11] DonnieWest commented on #289
@struktured Ah, I see. Yeah, it does make sense to automatically add the ending parenthesis when autocompleting functions without arguments. Sorry for jumping the gun there

[2016-11-23 00:22] wsdjeg commented on #289
@artur-shaik I do not think it is the bug of javacomplete.

@struktured you can use neosnippet.vim, it will auto close pairs if the method has no args, also it will expand the args if the method has args. BTW you can use tab jump between the args.

[2016-11-23 00:24] wsdjeg commented on #289
see here for config.

https://github.com/Shougo/neosnippet.vim/issues/359

[2016-11-23 02:04] DonnieWest commented on #289
@wsdjeg see my comment. I thought the same thing, but, if a method doesn't have any arguments the autocompletion should autoclose the parenthesis. I don't think another plugin is necessary for this :)

[2016-11-23 03:35] wsdjeg commented on #289
got it. just neeb change item.word to something like toString(). if the method has no args.

[2016-11-23 04:42] artur-shaik commented on #289
@wsdjeg yeah, I just want to check implementation, and if it easy enough, we can close brace on no args methods.

[2016-11-24 07:04] artur-shaik commented on #285
Can you explain, what `<c-y>` key mean?

[2016-11-24 09:55] wsdjeg commented on #285
it is ctrl + y

[2016-11-24 10:01] artur-shaik commented on #285
I know, but what it should do?

On 11-24 (01:55), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-24 12:15] wsdjeg commented on #285
it should same as Enter, ctrl+y means select the item, and insert nothing. so the import maybe should be added.But I think it is hard to implemented.

[2016-11-24 12:18] artur-shaik commented on #285
Yeah, have no idea how to implement it. You can test last commits, and
if it's ok close issue.

On 11-24 (04:15), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-24 12:26] wsdjeg commented on #285
test with:
[code]
after insert import, the corsor position is wrong, I think it is due to empty line after import.

[2016-11-24 13:50] artur-shaik commented on #285
Hm, what is wrong exactly? Where is your cursor? And after what command?

[2016-11-24 13:58] wsdjeg commented on #285
before:
[code]
1. type `<ctrl+x> <ctrl+o>`;
2. type `<space>` or `.`, the import will be added. the file look like:
[code]

[2016-11-24 14:03] wsdjeg commented on #285
here is link for this issue  https://github.com/artur-shaik/vim-javacomplete2/blob/84ae897955967f205d4af5a94ec49cb861621100/autoload/javacomplete.vim#L166

[2016-11-24 14:07] artur-shaik commented on #285
Yeah, found issue, will check...

On 11-24 (06:03), Wang Shidong wrote:

--
Best regards,
Artur Shaikhullin

[2016-11-24 14:11] artur-shaik commented on #285
Check, please.

[2016-11-24 14:18] wsdjeg commented on #285
nice work!!

[2016-11-24 14:18] #285 closed

[2016-11-25 11:20] wsdjeg commented on #286
now I am try to fix this issue.

[2016-11-25 16:04] #286 closed

[2016-11-27 02:36] DonnieWest commented on #281
#291 might help with this, but I encountered another issue while investigating that might be pertinent. The returned classpath from Gradle is occasionally empty and I don't know why. When run from the command line, the classpath task outputs something like this:

[code]

However, whenever I log out the output of the command from within the classpath/gradle.vim file I get

[code]

It's as if some o

[2016-11-29 15:16] artur-shaik commented on #281
I played, a little bit with your project. So, I've got this issue only when I open vim not in `Dispatch` directory.

Do you have empty output, even when you in git root?

[2016-11-30 18:38] artur-shaik commented on #281
@DonnieWest , I made some changes, can you test it here: https://github.com/artur-shaik/vim-javacomplete2/tree/DonnieWest-gradleFixes

[2016-12-01 01:51] DonnieWest commented on #281
@artur-shaik works perfectly! Good find on the directory, I can't believe I missed that :)

Thanks!

[2016-12-08 11:17] #280 closed

[2016-12-08 11:21] artur-shaik commented on #281
Closed by 02076042992b564d42ce817e45d93c3c167acd61

[2016-12-08 11:21] #281 closed

[2016-12-11 14:12] ListenerRi opened #293 "no members of class"
jc2 can't find members if two classes are defined in one file
but jc2 works if one class is defined as innerclass

**not working:**
![not-work](https://cloud.githubusercontent.com/assets/7995379/21080607/51d15d3e-bfee-11e6-94af-af2a51c122fb.png)

**working:**
![work](https://cloud.githubusercontent.com/assets/7995379/21080608/5df032f2-bfee-11e6-807b-df34633bf2f0.png)

**logs:**
**not working:**
[c

[2016-12-17 17:18] #287 closed

[2016-12-17 17:18] #288 closed

[2016-12-22 18:02] #289 closed

[2016-12-23 06:40] holens opened #295 "No Javavi library classes found, it means that we couldn't compile it."
vim ---8.0

## Expected behavior (Required!)

## The steps to reproduce actual behavior (Required!)
 1. ...
 2. ...
 3. ...

## Environment (Required!)
 * OS:
 * Vim version:
 * Neovim version:

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have enabled logs with `JCdebugEnableLogs` and can put here content of `JCdebugGetLogContent` command, if you need.
* Even, if you wish, I can se

[2016-12-23 06:48] holens opened #296 "No Javavi library classes found"
when I open vim, There is a error.
No Javavi library classes found, it means that we couldn't compile it. Do you have JDK8+ installed?

I'm sure that my centos system has java8.

 * OS: Centos 7
 * Vim version: 8.0

Where there is wrong?

[2016-12-23 06:48] #295 closed

[2016-12-23 07:12] artur-shaik commented on #296
#220 #165

[2016-12-23 08:49] holens commented on #296
thank you for your help. this issue has been resolved according to #165

[2016-12-23 11:04] artur-shaik commented on #296
Nice, can we close it?

[2016-12-23 15:36] wsdjeg commented on #293
It should be a bug, but why do use write two out classes in one src file?

[2016-12-24 03:38] ListenerRi commented on #293
@wsdjeg

[2016-12-24 03:38] #293 closed

[2016-12-25 04:53] #296 closed

[2016-12-25 08:47] eschao opened #297 "Can't work with NeoVim"
## Actual behavior (Required!)
Installed it with VimPlug in Neovim, following the doc to configured it in vim profile, but when I opened a Java file, the error vim reported is:

[code]
My configuration for java2complete:

[code]

I googled about this error but nothing found, Could you please tell me how to fix it? I

## Environment (Required!)
 * OS: macOS
 * Vim version: 7.4.898
 * Neovim version

[2016-12-25 09:14] wsdjeg commented on #297
can not reproduced. can you show the minivimrc.

[2016-12-25 13:05] eschao commented on #297
@wsdjeg You mean my vimrc file? thanks!

[2016-12-25 13:21] wsdjeg commented on #297
I mean how do you install this plugin, and what is the result of `:echo globpath(&rtp,'autoload/javacomplete.vim')` in nvim

[2016-12-25 13:25] wsdjeg commented on #297
and `:exe 'e '. globpath(&rtp,'autoload/javacomplete.vim')` in nvim should open javacomplete.vim , and you will see `javacomplete#Start` func in it.

[2016-12-26 06:15] artur-shaik commented on #297
@eschao seems like wrong configuration with VimPlug, it didn't load plugin script. So @wsdjeg is right, show us your vimrc.

[2016-12-26 09:10] eschao commented on #297
I can use it in vim. Forget Neovim. I will close it

[2016-12-26 09:10] #297 closed

[2016-12-27 06:25] holens opened #298 "When I switch the user, There is something wrong when recompile the vim-javacomplete2"
There are two users in my centos system.
     *worker
     *production
I use the user of worker to execute mvn compile is ok at first time.
I want to complement java Code when I use the user of  production, but when I  execute mvn compile ,there is some  failure.

[2016-12-27 06:25] holens commented on #298
.vimrc config:

[2016-12-27 06:27] holens commented on #298
.vimrc config:

call vundle#begin()
Plugin 'artur-shaik/vim-javacomplete2'
call vundle#end()
autocmd Filetype java setlocal omnifunc=javacomplete#Complete
let g:JavaComplete_JavaCompiler="/usr/lib/jvm/java-1.8.0-openjdk/bin"

[2016-12-27 06:29] holens commented on #298
the error as follow:

[2016-12-27 06:29] holens commented on #298
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for kg.ash.javavi:javavi:jar:1.0-SNAPSHOT
[WARNING] 'dependencies.dependency.systemPath' for kg.ash.javavi.apache.logging.log4j:log4j-api:jar should not point at files within the project directory, ${basedir}/../javavi_log4j-api.jar will be unresolvable by dependent projects @ line

[2016-12-27 07:42] wsdjeg commented on #298
@holens this should be issue of maven instead of javacomplete2, can you run `mvn compile` in production user?

[2016-12-27 07:46] holens commented on #298
@wsdjeg  it's ok in worker user, but as the same config in production  user is error.

[2016-12-27 07:54] wsdjeg commented on #298
@holens as I saied above it should be issue of maven project, what is the `mvn version` and `javac version` in each user?

[2016-12-27 08:20] holens commented on #298
@wsdjeg oh,thanks .javac version is 1.7

[2016-12-27 08:21] #298 closed

[2017-01-22 13:39] wsdjeg opened #301 "Make mapping execute silent!"
## Actual behavior (Required!)
I have add this plugin to SpaceVim, and with the leader guide feature, if I type `<leader>j` on a value, I will get pic like below:

![2017-01-22-21 32 38](https://cloud.githubusercontent.com/assets/13142418/22182857/c402a288-e0ea-11e6-9670-b38f9ec66452.png)

then,  I can see all the mappings begin with `\j`, then if I type `s`,  I get:

![2017-01-22-21 32 42](https:

[2017-01-23 04:05] #301 closed

[2017-02-12 08:59] ListenerRi opened #303 "con't complete without " package *.* " first line"
I hava a gradle project with defaut project layout:
`root-src-main-java-(A.java,B.java)`
The two .java file is in defaut package, this mean no "package" line in .java file's head.
JC2 con't complete B.java's methods and fields
 in A.java.

[2017-02-13 16:42] Markers opened #304 "I want to"
## Actual behavior (Required!)

## Expected behavior (Required!)

## The steps to reproduce actual behavior (Required!)
 1. ...
 2. ...
 3. ...

## Environment (Required!)
 * OS:
 * Vim version:
 * Neovim version:

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have enabled logs with `JCdebugEnableLogs` and can put here content of `JCdebugGetLogContent` command, if you need.
* Even, i

[2017-02-13 16:49] Markers opened #305 "I want to automatically popup references with press key ".""
Hello~

first, Very thank you for this tools.

Sorry, but I am not good at English, so please understand me.

I'll jot it down shortly.

i found it #46 issue.

so i knew it. x-c x-o after "." key

but i want to automatically popup references with press key "."

Can you tell me how I can do what I want?

[2017-02-13 17:04] artur-shaik commented on #305
Hi, consider to use YouCompleteMe or neocomplete... or anything else to automatically trigger completion.

[2017-02-13 17:04] #305 closed

[2017-02-13 17:04] #304 closed

[2017-02-15 03:36] asknet opened #306 "(Windows 10) During plugin load it throws error"
## Actual behavior (Required!)

Error detected while processing function javacomplete#Start[1]..javacomplete#server#Start:
line   44:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\Users\Parrot\.vim\bundle\javacomplete2\autoload\javavibridge.py", line 55, in setupServer
    os.mkdir(logdir)
FileNotFoundError: [WinError 3] The system cannot find the path specif

[2017-02-15 03:40] asknet opened #307 "(Windows 10) Plugin load error, invalid arguments for function addd"
## Actual behavior (Required!)
After doing workaround for Issue#306(by setting let g:JavaComplete_JavaviLogDirectory), I get the below error

Error detected while processing function javacomplete#Start[1]..javacomplete#server#Start:
line   19:
E116: Invalid arguments for function add

## Expected behavior (Required!)
Plugin load should be successfull

## The steps to reproduce actual behavior (Req

[2017-02-16 02:14] asknet commented on #293
Is this bug resolved?. I'm also having similar issue in latest commit. Sometimes there is a need to add package private class to an existing public class.

[2017-02-16 02:45] ListenerRi commented on #293
@asknet try to use gradle to manage source files, and every source file must packaged, don't use "default packge"! #303

[2017-02-17 03:27] SilgerZuo opened #308 "it can't work?so confuse"
## Actual behavior (Required!)
when installed with vundle and open .java file firsttime,show the error:
function <SNR>61_JobVimOnErrorHandler[3]..javacomplete#server#CompilationJobHandler runtime error
,and when input java code,vim-javacomplete2 doesn't work;

## Expected behavior (Required!)
i expect vim-javacomplete2 work ,however, it dosen't
## The steps to reproduce actual behavior (Required!)

[2017-02-18 17:31] artur-shaik commented on #308
Hm, can you post screenshot of that runtime error?

[2017-02-21 12:54] wsdjeg opened #309 "Take loog time when first time open java file"
I am not sure why it take too long time when first time I open a java file, you can hava a look at

https://asciinema.org/a/3qf5mv191b6o0oz74nxu45sdj

[2017-02-21 12:55] wsdjeg commented on #309
here about 1s, when I type enter in ctrlp buffer, but sometime it need more than 10s.

[2017-02-21 14:23] artur-shaik commented on #309
With clean vimrc the same?

[2017-02-21 14:27] wsdjeg commented on #309
yes, run `vimtest` in the root of this plugin,
vimtest means
[code]
then run
[code]
it need about 5s.

[2017-02-28 04:40] artur-shaik commented on #309
I know some start up delay issues exists, such:

- cache read or scan sources and libraries;
- too big source file for viml java-parser.

That's why we still have `limitations` section in readme.

So, this is hard to say what exactly influence on your issue. It would be great if you can find those narrow places. I think 10 seconds is too much.

[2017-02-28 05:40] wsdjeg commented on #309
I will look into it later.

[2017-03-02 15:56] wsdjeg commented on #309
here is result of
[code]

[code]

[2017-03-05 10:50] zhaochenyou opened #311 "vim-javacomplete2 not working on Ubuntu 16.04 x64 ?"
## Actual behavior (Required!)
I use vundle to manage vim plugins, vim version 7.4.
after install javacomplete2 successfully, I use:
mvn -f "/home/zhaochenyou/.vim/bundle/vim-javacomplete2/libs/javavi/pom.xml" compile
and it's success.
But still no completion.

## Expected behavior (Required!)
auto completion

## The steps to reproduce actual behavior (Required!)
 1. install javacomplete2 with vun

[2017-03-06 07:33] #274 closed

[2017-03-06 07:36] artur-shaik commented on #303
Should be fixed now.

[2017-03-06 07:36] #303 closed

[2017-03-06 12:56] artur-shaik commented on #311
You can call `JCdebugEnableLogs` after you open java file. Then execute completion, than call `JCdebugGetLogsContent`. Show the content, please.

[2017-03-06 13:23] wsdjeg commented on #311
@zhaochenyou
I think you should complete in a class, not in an empty file
try with `vim  Foo.java`, and write in
[code]
[code]

[2017-03-07 04:01] ListenerRi commented on #303
@artur-shaik
No..still not work..

[2017-03-07 04:33] artur-shaik commented on #303
Have you recompiled server?

On 03-06 (20:01), ListenerRi wrote:

--
Best regards,
Artur Shaikhullin

[2017-03-07 09:38] ListenerRi commented on #303
@artur-shaik
It works after  `:JCserverCompile` command in vim.  : )

[2017-03-07 13:47] artur-shaik commented on #306
Should be fixed on develop branch

[2017-03-07 13:47] artur-shaik commented on #307
Should be fixed on develop branch

[2017-03-07 13:48] #308 closed

[2017-03-07 13:50] artur-shaik commented on #309
Did I understand right that `242_GetServerAppVersion` take almost 11 seconds?

[2017-03-07 13:51] wsdjeg commented on #309
yes, I think so,

[2017-03-07 13:59] artur-shaik commented on #309
Hm, that strange. Made the same, here my results:
[code]

[2017-03-07 14:04] artur-shaik commented on #309
What if you run:

    java -cp javavi/target/classes:javavi_log4j-api.jar:javavi_log4j-core.jar:javaparser.jar kg.ash.javavi.Javavi -version

From vim-javacomplete2/libs directory?

[2017-03-07 14:06] wsdjeg commented on #309
it take me 3s, I think maybe it is due to my pc is too old.

[2017-03-07 14:07] artur-shaik commented on #309
What `cpu` you have? And what java version?

[2017-03-07 14:08] wsdjeg commented on #309
I use `time java -cp javavi/target/classes:javavi_log4j-api.jar:javavi_log4j-core.jar:javaparser.jar kg.ash.javavi.Javavi -version`
[code]

[2017-03-07 14:11] wsdjeg commented on #309
I use open jdk 8, and my cpu is i5, but my pc is 6 years old, sorry for this issue.

[2017-03-07 14:11] #309 closed

[2017-03-07 14:14] artur-shaik commented on #309
I use `i5`, too. I think it's due some java slow start issues. And by the way, my java is oracle hotspot

[2017-03-07 14:16] wsdjeg commented on #309
yeah, I will try to install oracle jdk. thanks!

[2017-03-07 14:21] #306 closed

[2017-03-07 14:21] #307 closed

[2017-03-08 06:21] DonnieWest opened #312 "Gradle classpath is truncated"
## Actual behavior (Required!)

When generating a new classpath using Gradle, if the output is sufficiently large the classpath is truncated

Example of gradle output
http://pastebin.com/BXxbTbfA

Example of classpath after
http://pastebin.com/s5ZfUQHU

## Expected behavior (Required!)

Classpath shouldn't be truncated

## The steps to reproduce actual behavior (Required!)
 1. Open Gradle project

[2017-03-08 07:47] artur-shaik commented on #312
@wsdjeg, as I remember, you did something with this problem, right? Can you participate?

[2017-03-08 07:54] wsdjeg commented on #312
it is bug of neovim, but should be fixed, I will look into it.

[2017-03-08 08:16] wsdjeg commented on #312
old issue opened here https://github.com/neovim/neovim/issues/4266

[2017-03-08 11:57] wsdjeg commented on #312
https://github.com/artur-shaik/vim-javacomplete2/blob/master/autoload/javacomplete/classpath/maven.vim#L56-L61

here is how I fix maven output parse, I will try to do it with gradle.

[2017-03-08 12:31] artur-shaik commented on #312
@DonnieWest, can you test with @wsdjeg PR, please?

[2017-03-10 16:30] #312 closed

[2017-03-12 01:45] zhaochenyou commented on #311
it still not working...

[2017-03-12 03:49] artur-shaik commented on #311
Have you read my comment?

[2017-03-20 17:57] adelarsq commented on #311
Same problem here on Windows 10. To solve I had to compile manually the ```javavi``` lib.

[2017-03-21 14:08] zhaochenyou commented on #311
@adelarsq please teach me, how to manually compile the library.

[2017-03-21 16:04] artur-shaik commented on #311
[code]

[2017-03-28 10:13] FinallyFinancialFreedom opened #317 "a little shame to ask, how to trigger completion?"
## Actual behavior (Required!)
not able to trigger completion menu popup. So, how to trigger it? is it auto popup after i enter dot?
JCimportsAddMissing command works, so i think I have installed it right.

## Expected behavior (Required!)
as the gif shows, pop completion menu after dot

## The steps to reproduce actual behavior (Required!)
 1. install the plugin.
 2. config only one line `autocmd

[2017-03-28 10:18] #317 closed

[2017-03-28 10:27] FinallyFinancialFreedom commented on #317
C-X C-O will trigger the completion. Can you put this on the git page?
Now i trigger it, but it will fill a default candidate string, i must delete it and then type character to narrow down the candidates. This behaviour is different from the gif.

[2017-03-28 10:44] wsdjeg commented on #317
set completeopt-=noselect

:h completeopt

[2017-03-29 07:29] FinallyFinancialFreedom commented on #317
thank you. I set `set completeopt=menu,noinsert`

[2017-04-02 16:59] FinallyFinancialFreedom opened #319 "'apiElements' directly is not allowed in gradle3.4. Maybe the gradle has changed"
## Actual behavior (Required!)
gradle project Resolving configuration 'apiElements' directly is not allowed

## Expected behavior (Required!)
works ok

## The steps to reproduce actual behavior (Required!)
 1. use gradle 3.4.1
 2. ...
 3. ...

## Environment (Required!)
 * OS:macos
 * Vim version:
 * Neovim version:0.1.7

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have enabled log

[2017-04-02 18:49] DonnieWest commented on #319
I'm not really sure what you're reporting. Can I get a sample app that replicates the issue and the error that it outputs?

[2017-04-03 00:55] FinallyFinancialFreedom commented on #319
OK, the zip file is a small gradle project, my gradle version is 3.4.1, and i got "Resolving configuration 'apiElements' directly is not allowed" error when i open App.java file. I'm sure the  gradle has changed something in 3.4.1 so the error occured, but i can not resolved it.
[case.zip](https://github.com/artur-shaik/vim-javacomplete2/files/888785/case.zip)

[2017-04-03 10:58] #311 closed

[2017-04-04 02:11] FinallyFinancialFreedom opened #320 "pure maven project call gradle build."
## Actual behavior (Required!)
in a pure maven project, when i open App.java, this plugin call gradle build at first, and sure it failed. then it told me gradle is build successfully. and then it told me maven is build successfully.

## Expected behavior (Required!)
do not call gradle build

## The steps to reproduce actual behavior (Required!)
 1. unzip my uploaded pure maven java project.
[case-

[2017-04-04 02:43] wsdjeg commented on #320
I will test it, I think it is due to gradle project check.

[2017-04-04 02:47] wsdjeg commented on #320
after `mvn compile test`, you will see
[code]

I think there should not be `.gradle` dir, I think it is issue with pom.xml

[2017-04-04 03:13] FinallyFinancialFreedom commented on #320
yes, i can see .gradle dir in my computer, but it's created by javacomplete2 after i open App.java with vi.
if i don't open it with vi, `mvn compile test` will not create .gradle dir.

[2017-04-04 06:38] artur-shaik commented on #320
I cannot reproduce it with your project. No `.gradle` directory.
@wsdjeg, there is `.gradle` directory in archive, remove it before test.

[2017-04-04 06:41] artur-shaik commented on #320
@FinallyFinancialFreedom, and by the way, look like those errors dues to some permission problem in your system.

[2017-04-04 16:04] FinallyFinancialFreedom commented on #320
@artur-shaik thank you for your test, I figured out what really happened.
I use gradle 3.4.1 and there is a problem, I have opened a issue #319 about it.
I thought the problem of  #319  is the gradle config so I add `let g:JavaComplete_GradleExecutable = 'gradle' ` to use my preinstalled gradle, that's the reason of this issue. now i clear it and the problem is gone. Maybe i misused this config op

[2017-04-04 19:40] peanutbutterspice opened #321 "Completion is not resolving TypeName for objects when completion is invoked outside of the constructor"
## Actual behavior (Required!)
When trying to perform code completion in any method other than the constructor, the completion does not work.

A replica of the structure of my class can be seen below:

[code]

## Additional Notes
 1. Code completion works fine in other classes in this project that are not structured like this (IE: the other classes are not using these same annotations, etc.)
 2. T

[2017-04-05 14:22] artur-shaik commented on #320
@FinallyFinancialFreedom, we should take a look, I think this shouldn't be happen.

[2017-04-05 14:26] artur-shaik commented on #321
Seems like vim-javaparser issue. Will take closer look later. Thanks.

[2017-04-05 21:58] peanutbutterspice commented on #321
Thanks man. Let me know if there is any more information you need.

[2017-04-06 05:44] FinallyFinancialFreedom opened #322 "autocomplete jump to the middle of the screen"
## Actual behavior (Required!)
i use vim-javacomplete2 and deoplete, so the candidate menu auto popup when i press dot. if the line i edit at the top or bottom of the screen, the line will jump to the middle of the screen when the candidate menu pop up.

## Expected behavior (Required!)
stick at where it was.

## The steps to reproduce actual behavior (Required!)
 1. open a long enough java file

[2017-04-07 12:28] Dissonant-Tech commented on #319
@FinallyFinancialFreedom I got hit with this issue as well.

As a workaround you can:
1. Set `let g:JavaComplete_GradleExecutable = './gradlew'` in your `.vimrc`
2. Edit your `gradle/wrapper/gradle-wrapper.properties` file and change the gradle version to 3.3

[2017-04-07 13:34] DonnieWest commented on #319
Thanks for the feedback and troubleshooting. Looks like this is the result of Gradle making certain configurations unresolvable in 3.4 and I think I know the fix. Hopefully I'll get around to it tonight

Sorry for the delay

[2017-04-07 15:25] deathbeam commented on #322
Similar issue happening to me, buth with completor.vim instead of deoplete. When I start writing anything into buffer, my cursor jumps to almost top of the file (to like last 2 imports). completor.vim is probably periodicaly or on text change calling the omnicomplete function of JavaComplete, but that jumping is really weird. It restores cursor original position when I exit insert mode.

[2017-04-08 03:07] DonnieWest commented on #319
@FinallyFinancialFreedom @Dissonant-Tech y'all mind looking over #323 and seeing if that fixes it?

[2017-04-08 06:46] FinallyFinancialFreedom commented on #319
@DonnieWest @Dissonant-Tech ,i have tried the new classpath.gradle, it works for me, thank you.

[2017-04-08 06:47] #319 closed

[2017-04-25 16:03] gniding opened #324 "Unable to autocomplete a GWT (Java to Javascript UI Framework) object"
## Actual behavior (Required!)
Unable to autocomplete a GWT (Java to Javascipt UI Framework) object (com.google.gwt.user.client.ui.DialogBox)

0425 22:39:57.382 D [Thread-1] new  action: "GetClassInfoAction" [Javavi]
0425 22:39:57.384 D [Thread-1] executing search of "com.google.gwt.user.client.ui.DialogBox" [searchers.ClassSearcher]
0425 22:39:57.525 E [Thread-1] java.lang.ExceptionInInitializerE

[2017-04-25 23:00] stevanmilic commented on #322
I also have a same problem, using deoplete and vim-javacomplete2.
**Environment:**
Ubuntu distribution
Neovim 2.0.0

[2017-04-26 04:44] gniding commented on #324
There is a possible solution that I am testing:

Calling com.google.gwt.junit.GWTMockUtilities.disarm() before accessing the GWT UI classes
[GWT source](https://jar-download.com/explore-java-source-code-detail.php?file=./javaSource/com.google.gwt/gwt-user/2.8.0/com/google/gwt/junit/GWTMockUtilities.java&key=22c89fbf3a338aea2635a2b44d1d1bde)

[2017-04-26 08:30] gniding commented on #324
This problem is FIXED by changing class kg.ash.javavi.readers.Reflection to:
1. call run com.google.gwt.junit.GWTMockUtilities.disarm() once
2. normalize some GWT-specific class names within method
[code]
[code]

[2017-04-26 08:31] #324 closed

[2017-04-29 23:26] DonnieWest opened #325 "Android Build Cache feature breaks Android completion"
tl;dr - the latest Android Studio changes breaks completion of Javacomplete2 on Android projects. I've a workaround working but I will be investigating if I can get something better working.

## Actual behavior

Using Android Studio 2.3 and the corresponding Android Gradle plugin doesn't allow Javacomplete to complete certain classes in Android projects

## Expected behavior

All completions shoul

[2017-04-30 21:48] laktak opened #326 "Very slow startup on Arch Linux"
## Actual behavior (Required!)
vim-javacomplete2 takes forever (as in >1min) to load.

## The steps to reproduce actual behavior (Required!)

[code]

I also tried to profile:

[code]

fyi I had to compile `javavi` manually with `mvn -f ~/.vim/plugged/vim-javacomplete2/libs/javavi compile`.

This may be similar to #309

## Environment (Required!)
 * OS: Arch Linux (current)
 * Vim version: 8.0.586

[2017-04-30 22:00] DonnieWest commented on #326
@laktak another Arch Linux user here. Have you tried using Oracle's JDK? I don't believe I'm experiencing any slowness here while using it but when I get the opportunity I'll do some profiling to make sure

[2017-04-30 22:37] laktak commented on #326
@DonnieWest how did you install the Oracle JDK? I uninstalled the openjdk and ran `sudo apacman -S jdk`

[code]

But the issue still persists.

[2017-04-30 22:51] DonnieWest commented on #326
Here's some profiling I did on my machine, admittedly without a minimal config

## Environment
[code]

## OpenJDK
[code]

[code]

## Oracle's JDK

[code]

[code]

Sorry, it seems we can rule out the version of Java. I don't have regular VIM installed, so, it's possible that there's some sort of regression in the latest version of VIM? Would you mind trying the latest version of Neovim to see if th

[2017-05-01 07:29] laktak commented on #326
Thanks, I can try neovim when I get back.

But wouldn't `javavi` taking a minute to display it's version information indicate some problem with the java part/outside of vim?

[2017-05-01 12:04] artur-shaik commented on #326
Still cannot reproduce such a big startup time. I'm on OpenSuse, tried with openjdk and oracle jdk. Everytime I have 1 and half of second.

[2017-05-01 12:06] wsdjeg commented on #326
I think I get same issue, I will try to find a easy way to reproduce it.

[2017-05-01 18:27] laktak commented on #326
If it helps, I've captured an strace with `strace -o xtrace -ff -tt -T java -cp javavi/target/classes:javavi_log4j-api.jar:javavi_log4j-core.jar:javaparser.j
ar kg.ash.javavi.Javavi -version`

[trace.tar.gz](https://github.com/artur-shaik/vim-javacomplete2/files/968468/trace.tar.gz)

[2017-05-02 11:15] artur-shaik commented on #326
@laktak , by your traces, there some DBUS stuff are eating most of the start up time. Any thoughts?

[2017-05-02 11:22] laktak commented on #326
After clearing `~/.m2/repository` (and `~/.gradle/caches`) the delay is gone:

[code]

No idea what was happening there of if it's worth investigating further.

@wsdjeg could you check if this works for you as well (and keep a backup)?

[2017-05-02 11:26] laktak commented on #326
@artur-shaik see my previous comment. On my system it now works without problems from Vim. Thanks!

[2017-05-05 03:35] teasp00n commented on #325
Perhaps using symlinks from the project build directory to the gradle build directory (where the exploded aars now are)

There are some potential issues with this however:

1. The user removes javacomplete2 but the symlinks remain
2. The user switches back to an older version of gradle/ android plugin such that the symlinks actually cause unintended side effects (their build files would still go t

[2017-05-05 14:51] DonnieWest commented on #325
@teasp00n I was thinking along those lines as well. The issue I have right now is that the gradle build cache directory includes the packages for EVERY gradle project built on that machine. This gives us two big issues:

1. The size of the classpath will grow with each new project compiled or each library upgraded and cause JavaComplete2 to slow down and complete things that aren't valid for the c

[2017-05-09 23:21] teasp00n commented on #325
@DonnieWest have you gotten any further with this or are you still using your workaround?

[2017-05-09 23:43] DonnieWest commented on #325
@teasp00n I've not had the opportunity to look into this further unfortunately

[2017-05-17 06:38] ronakg opened #327 "Error while processing function provider#python#Call in Neovim 0.2"
## Actual behavior (Required!)

When I open a .java file in neovim 0.2, I get following error.

[code]
When I try to autocomplete a class variable, I get following backtrace:

[code]

## Expected behavior (Required!)

None of the above mentioned errors should happen.

## The steps to reproduce actual behavior (Required!)
 1. Install deoplete and vim-javacomplete2
 2. Open a java file
 3. Try to do

[2017-05-18 06:59] artur-shaik commented on #327
Hm, that's strange. Do you have `java` in `PATH`. Was compilation of server done after you open java file?

[2017-05-18 07:01] artur-shaik commented on #326
But why this directories block pure java call? I just can't see.

[2017-05-18 09:20] #320 closed

[2017-05-18 13:29] laktak commented on #326
Sorry no idea. But removing them was the only thing I did to get it working. If it comes up again and I can reproduce it I'll let you know.

[2017-05-18 13:55] artur-shaik commented on #326
Ok, let's close it for now. Reopen for demand.

[2017-05-18 13:55] #326 closed

[2017-05-18 18:19] ronakg commented on #327
It was indeed an issue with `java` and `PATH`. Not sure what changed, but I've been able to fix it.

Thanks.

[2017-05-18 18:19] #327 closed

[2017-05-30 20:49] mvalkon opened #328 "could not open socket, try again"
## Actual behavior (Required!)
Autocompletion is failing. When attempting to autocomplete, an error message `could not open socket, try again` is displayed

## Expected behavior (Required!)
Autocompletion should work

## The steps to reproduce actual behavior (Required!)
 1. open a java file, or create a new one
 2. type `System.` or `import java.`
 3. See an error message

## Environment (Require

[2017-06-03 11:43] artur-shaik commented on #328
Can you check if server was compiled? You can check it in `~/.vim/bundles/vim-javacomplete2/libs/javavi/target/`.

[2017-06-03 16:04] mvalkon commented on #328
@artur-shaik The directory is not empty at least. I have compiled the server earlier with `mvn compile`.

[2017-06-04 07:00] lazywhite opened #329 "jsp support not working"
## my vimrc config for javacomplete2

autocmd FileType java setlocal omnifunc=javacomplete#Complete
autocmd FileType jsp setlocal omnifunc=javacomplete#Complete

It worked for java , but not jsp? Am I missing some step?

[2017-06-04 09:10] artur-shaik commented on #329
Hi, can you create demo project, or post file content and what you are trying to complete.

[2017-06-04 09:15] artur-shaik commented on #328
Look like it cannot run java machine. What if you run `java -cp javavi/target/classes:javavi_log4j-api.jar:javavi_log4j-core.jar:javaparser.jar kg.ash.javavi.Javavi -version` from `libs` directory?

[2017-06-04 09:17] mvalkon commented on #328
That seems to work:

[code]

[2017-06-05 11:58] lazywhite commented on #329
here is my vimrc,   auto completion for java and jsp  file are  both not working now
[code]

[2017-06-06 03:49] artur-shaik commented on #329
Can you show me your jsp file.

5 июня 2017 г. 5:58 PM пользователь "lazywhite" <notifications@github.com>
написал:

[2017-06-06 03:52] lazywhite commented on #329
java autocompletion stop working now,   I can use <leader>ji to add missing import , but when I
type   "import java.uti."  it doesn't show popup for me

[2017-06-06 04:24] wsdjeg commented on #329
you should create example JAVA or JSP file. And minivimrc. that will be easy for testing.

[2017-06-06 09:08] artur-shaik commented on #328
It would be great if you can debug this issue on your OSX, but I really can't say what can be the problem. Seems that server cannot be started. And this line: `error: Class names, 'kg.ash.javavi.Javavi', are only accepted if annotation processing is explicitly requested` is something like the reason of that.

You can put some debug code in `function! javacomplete#server#Start()' method of `server.

[2017-06-08 03:59] lazywhite commented on #329
now java autocompletion worked,  use supertab plugin with this plugin can trigger omnifunc correctly
maybe you should put "how to trigger autocompletion" section in your README.

But jsp completion is still not working.

[2017-06-08 04:22] lazywhite opened #330 "Unknow function: getcurpos when auto complete "Springframework annotation""
I try to complete @ResponseBody annotation, vim prompt followed error
[code]

[2017-06-08 05:35] wsdjeg commented on #330
@lazywhite your vim is too old. please update vim.

[2017-06-08 16:41] lazywhite commented on #330
upgrade macvim solved this problem, thx

[2017-06-08 16:41] #330 closed

[2017-06-08 17:40] lazywhite opened #331 "How can I make vim auto prompt just after I typed dot?"
how to configure vim?

[2017-06-12 13:09] artur-shaik commented on #331
https://github.com/artur-shaik/vim-javacomplete2/issues/305

[2017-06-12 13:09] #331 closed

[2017-06-12 13:09] #329 closed

[2017-06-25 20:49] deskwebs opened #333 "Really slow java file opening time"
## Actual behavior (Required!)

`time java -cp javavi/target/classes:javavi_log4j-api.jar:javavi_log4jar:javaparser.jar kg.ash.javavi.Javavi -version` gives me:
2.3.7.3
real	0m5.753s
user	0m1.375s
sys	0m0.107s

`nvim --startuptime profile1.log Test.java` gives me:

[code]

server.vim to version.vim takes a long time and most likely:

`
7167.550  6367.479: opening buffers
`

This plugin causes abou

[2017-06-27 12:14] bootzin opened #334 "Error when opening a java file"
## Actual behavior (Required!)
[code]
The file does open when the message is dismissed and the commands seem to work normally (Although I'm not getting popups for autocompletion)
I get the same error when running `:JCserverCompile` from inside the file I opened

## Expected behavior (Required!)
Open file normally

## The steps to reproduce actual behavior (Required!)
 1. I actually simply opened a

[2017-06-28 11:34] artur-shaik commented on #334
Hi. Seems like you don't have write permissions for `~/.cache` directory.

[2017-06-28 13:05] bootzin commented on #334
I just tested it and I have both read and write permissions on all files there

[2017-06-28 15:34] artur-shaik commented on #334
Can you run `:echo g:JavaComplete_BaseDir` and show result.

[2017-06-28 16:01] bootzin commented on #334
It displays nothing at all

[2017-06-28 16:33] artur-shaik commented on #334
Hm. That's strange. You can try to add this line in your vimrc:
[code]

Then try again.

[2017-06-28 16:44] bootzin commented on #334
It says g:FILE_SEP is undefined

[2017-06-28 17:06] bootzin commented on #334
I have just tried typing
`let g:JavaComplete_BaseDir = '~/.cache'`
and it seems to have worked!
I'm not getting the error, at least, and running `:echo g:JavaComplete_BaseDir` returns `~/.cache` so I think it worked (:

[2017-06-28 17:16] artur-shaik commented on #334
Yeah, that's strange. `g:JavaComplete_BaseDir` should be setted by default. Would be nice if you can find why it is overrided. It initializes at `vim-javacomplete2/plugin/javacomplete.vim`.

[2017-07-06 00:24] DonnieWest commented on #325
@teasp00n and anyone else interested in trying this out - I've gotten a rather naive fix up at #336 and I'd appreciate some feedback

[2017-07-06 14:09] adelarsq commented on #328
Same problem for me on Windows:

[code]
For some reason javavi-1.0-SNAPSHOT.jar file is missing from the classpath. Also the file `vim-javacomplete2\libs\javavi\target\classes\log4j2.xml` don't exists.

[2017-07-07 06:53] artur-shaik commented on #328
@adelarsq hm, as I remember javavi not compiles to  jar. In classpath shoulb path to `target/classes`.

[2017-07-10 18:11] adelarsq commented on #328
@artur-shaik for some reason `JCserverCompile` isn't working, but using `mvn compile` on the javavi directory works.

[2017-08-18 05:31] #325 closed

[2017-09-01 14:01] IgorGanapolsky commented on #325
Unfortunately, `android.enableBuildCache=false` solution doesn't work with **com.android.tools.build:gradle:3.0.0-beta3**

[2017-09-01 14:48] DonnieWest commented on #325
@IgorGanapolsky the latest version of this VIM plugin shouldn't need that. Are you encountering issues with getting completions?

[2017-09-01 15:24] IgorGanapolsky commented on #325
@DonnieWest I need to get the exploded AARs in build/intermediates directory (as per your top post).  But they aren't there.

[2017-09-01 15:55] DonnieWest commented on #325
@IgorGanapolsky it shouldn't matter - the plugin can currently check the gradle build cache (rather naively) for the files it needs and use those. Do you get proper autocompletion on your project? If not, I'd appreciate looking at it or some other small project that replicates your issue so I can fix it :)

[2017-09-03 01:39] sgmheyhey opened #338 "Error when opening a java file"
## Actual behavior (Required!)
[code]

## Expected behavior (Required!)
Open a file (not see them)

## The steps to reproduce actual behavior (Required!)
 1. On your desktop screen, make an empty file with .java extension
 2. Open the file
 3. You may

## Environment (Required!)
 * OS: MS Windows 10
 * Vim version: vim 8.0

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have enabled l

[2017-09-03 03:34] wsdjeg commented on #338
you are using spacevim? what is your maven version? it does not support `-f` option?

[2017-09-04 02:33] sgmheyhey commented on #338
Yes, I'm using spacevim.

Apache Maven 3.5.0, it has  -f,--file <arg>.

[2017-09-08 12:45] dawei101 commented on #328
[code]

this is what I got, seems javavi//pom.xml with two slashes cause this bug

[2017-09-08 16:22] artur-shaik commented on #328
@dawei101 what if you run this command from cmdline by hand, using double slash path. It works fine for me.

[2017-09-09 05:43] dawei101 commented on #328
@artur-shaik
It is okay with double slash, and after run below command manually, it worked then
[code]
Anyway, I am sure there's tricky bugs in these lines around.

[2017-09-14 20:48] sgmheyhey commented on #338
My steps:
1.` choco install vim-tux`
2. `choco install jdk8`
3. `choco install maven`
4. open a java file with vim

I get same error messages on another computer.

`:help javavi`
I get nothing but

POM file ...

[2017-09-14 23:13] wsdjeg commented on #338
can you run `mvn compile test` in javacomplete2`s lib/javavi directory?

[2017-09-15 00:39] sgmheyhey commented on #338
[code]

.
.
.

[code]

.
.
.

`[INFO] --- maven-resources-plugin:2.6:resources (default-resources) @ javavi ---`

`[INFO] --- maven-compiler-plugin:3.1:compile (default-compile) @ javavi ---`

`[INFO] --- maven-resources-plugin:2.6:testResources (default-testResources) @ javavi ---`

`[INFO] --- maven-compiler-plugin:3.1:testCompile (default-testCompile) @ javavi ---`

`[INFO] --- maven-surefire-p

[2017-09-15 11:52] wsdjeg commented on #338
so, this issue can be closed?

[2017-09-18 02:31] noenthu opened #340 "Completion not working - maven project with local .classpath"
## Actual behavior (Required!)
Please pardon my lack of experience with Java
On an existing project - managed using maven

The autocomplete feature is not triggering unless I remove/rename the .classpath

with .classpath present
:echo g:JavaComplete_LibsPath
.:/home/noenthu/workspace/project/target/classes:/home/noenthu/workspace/project/target/test-classes:/home/noenthu/workspace/project/target/c

[2017-09-20 04:55] artur-shaik commented on #340
There is variable `g:JavaComplete_ClasspathGenerationOrder`. You can change order like this:
[code]

This should fix you issue.

[2017-09-20 12:16] noenthu commented on #340
Let me test it out. I'll get back shortly.

[2017-09-23 16:25] artur-shaik commented on #340
@noenthu not so shortly :smile:

[2017-09-30 07:22] artur-shaik commented on #340
Feel free to reopen.

[2017-09-30 07:22] #340 closed

[2017-09-30 07:23] artur-shaik commented on #338
Feel free to reopen.

[2017-09-30 07:23] #338 closed

[2017-09-30 07:24] #334 closed

[2017-09-30 08:06] #333 closed

[2017-09-30 14:41] noenthu commented on #340
Sorry for not getting back. Confirming that the order change fixed my issue!

[2017-10-06 05:17] skubyooru opened #341 "@Deprecated label"
@Deprecated supported?

[2017-10-06 11:32] artur-shaik commented on #341
I think no. How exactly you are expecting it should be supported?

[2017-10-06 11:39] skubyooru commented on #341
for example, highlight @Deprecated method in the menu.

[2017-10-06 12:02] wsdjeg commented on #341
no, Vim'S poppupmenu only has two highlight group, selected and none selected.

[2017-10-06 12:39] skubyooru commented on #341
label before the method in the menu?

[2017-10-08 10:03] marcelo140 opened #342 "How to add generated sources to the source path"
Hi, I'm building a java project with `gradle` where I use `protocol buffers`. The thing with `protocol buffers` is that some code must be generated from `.proto` files into `.java` files that are then saved in a different directory than other sources: `build/generated/source/proto/main/java`.

I tried to add this directory to the `JavaComplete_SourcesPath` without success. Can someone point me to

[2017-10-08 10:11] wolloda commented on #328
I have the same problem on Win10.
Compiling javavi using mvn compile goes okay (with some warnings), but whenever I open a .java file, CMD window flashes, removing my /target/classes/ folder.
That results in `could not open socket, try again` error

[2017-10-10 15:42] artur-shaik commented on #342
Can you, please, create minimal project that we can reproduce this issue and fix it?

[2017-10-10 19:41] MDingas opened #343 "Unable to get javavi to compile"
## Actual behavior (Required!)
Whenever a .java file is opened errors persist to pop-up in the terminal (will post them in the Q&A). I do have JDK 8 and previous plug-ins work normally.

## Expected behavior (Required!)
Excepted javavi to compile and the plugin to work normally

## The steps to reproduce actual behavior (Required!)
 1. Open a .java file with vim

## Environment (Required!)
 * OS:

[2017-10-11 01:19] artur-shaik commented on #343
Hm, that's strange. What exactly vim version you have? And you may be you should try to upgrade it.

[2017-10-11 20:20] brailsmt opened #344 "Cannot start server"
## Actual behavior (Required!)
On save of App.java from a newly created maven project.
[code]

## Expected behavior (Required!)
Success!

## The steps to reproduce actual behavior (Required!)
 1. mvn
 2. vim $(find . -name App.java)
 3. :w

## Environment (Required!)
 * OS:  MacOSX 10.12.6
 * Vim version:
 * Neovim version:
[code]

## Q&A
* Yes, I tried minimal .vimrc configuraion.
* Yes, I have e

[2017-10-11 20:34] brailsmt commented on #344
This was a PEBKAC of the first order.  I had the wrong python configured in neovim config.

[2017-10-11 20:34] #344 closed

[2017-10-13 20:33] coder-bts opened #345 "Complete list can't auto refresh"
## Actual behavior (Required!)
Auto pop-up complete list after typed "."(dot), can't auto refresh when I type in. Until I tap "Backspace"

## Expected behavior (Required!)
The pop-up complete list should auto refreshed.
Eg: I type in "System.out.", it pops up a list, I continue to type pr -- "System.out.pr", the list does not refresh.

## Environment (Required!)
 * OS: Deepin Linux 15.2.1
 * Vim v

[2017-10-13 22:29] marcelo140 commented on #342
Here it is: https://github.com/marcelo140/jc-gradle-demo

[2017-10-14 23:16] yjwong commented on #343
I also got the same exact output, used to work fine until I recently updated the plugin. My last revision before the update was 8d0ed91, if I have time I might be able to bisect and see what changed.

[code]

[2017-10-16 01:38] seishinryohosha opened #346 "Suggestion: Allow to disable automatic startup of server"
## Actual behavior (Required!)
Server starts at startup not matter what
## Expected behavior (Required!)
Make it optional.
## The steps to reproduce actual behavior (Required!)
 1. Start a java file with vim.

## Environment (Required!)
 * OS: Arch Linux
 * Vim version: VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Oct  7 2017 13:50:55)

[2017-10-16 01:50] wsdjeg commented on #346
I will try to add this feature, maybe use ftplugin will be better.

[2017-10-16 04:11] seishinryohosha commented on #346
Thank you!

Sure, it has been just a suggestion.

[2017-10-16 06:46] MRzNone opened #347 "Mac Installed it using Vbundle, but it Doesn't work"
## Actual behavior (Required!)
Nothing happens after I install it.

## Expected behavior (Required!)
I wat to use the features of auto completion

## The steps to reproduce actual behavior (Required!)
 1. vim [any java file]

## Environment (Required!)
 * OS: OSX Sierra 10.12.6
 * Vim version: 7.4
 * Vbundle Version: 0.10.2

## Q&A
This is my .vimrc:::
`set nocompatible              " be iMproved,